// Giftcards
.discount.webtex-giftcards {
    padding: 0 0 35px;
    text-align: left;
    .sp-methods {
        margin: 0;
        .input-box {
            display: flex;
            justify-content: flex-start;
        }
        label {
            margin: 0 0 0 10px;
            font-size: 115%;
            cursor: pointer;
        }
    }
    .discount-form {
        clear: both;
        max-width: 400px;
        padding: 20px 0 15px;
        border-bottom: 0;
        text-align: left;
    }
    label[for="giftcard_code"] {
        float: left;
    }
    .buttons-set {
        margin: 15px 0;
        padding: 0;
        .button {
            float: left;
        }
    }
    .gift-card-result {
        display: block;
        margin: 10px 0;
        font-weight: 500;
    }
}