//// modules.mage-customer ////

// Fix <main> padding-top on account pages
[class^="customer-"],
.customer-giftcards-balance,
.sales-order-history,
.checkout-subscription-index {
    > main {
        padding-top: 6px;
        @include sm {
            padding-top: 12px;
        }
    }
}

// Account //
.my-account {
    max-width: 768px;
    margin: 0 auto;

    h1 {
        color: $pineGreen;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }

    address {
        margin-bottom: 12px;
        line-height: 1.4;
        font-style: normal;
    }
}


// Account nav
.account-navigation {
    margin-bottom: 36px;
    background-color: $grey15;

    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 6px 0;
        @include sm-max {
            flex-wrap: wrap;
        }

        li {
            margin-bottom: 0;
        }

        li.current a {
            color: $peach;
            font-weight: 600;

            &:hover {
                border-bottom-color: $lightPeach;
            }
        }

        a {
            display: inline-block;
            margin: 12px;
            color: $grey80;
            font-weight: 300;
            @include md {
                margin: 6px 12px;
            }

            &:hover {
                color: $peach;
            }
        }

        a:hover {
            text-decoration: none;
        }
    }
}


// Account content
.account-box {
    margin-bottom: 48px;
}

.account-box__title {
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: 500;

    + .link-solitary {
        display: block;
        margin-bottom: 24px;
    }
}

.account-box__content {
    + .account-box__content {
        margin-top: 24px;
    }
}


// Address book
.address-item {
    address {
        margin-bottom: 12px;
    }

    + .address-item {
        margin-top: 36px;
    }
}


// Order history table
.orders-table {
    width: 100%;
    font-size: 18px;
    font-weight: 400;

    &__header {
        font-size: 15px;

        th {
            padding-bottom: 3px;
            border-bottom: 1px dotted $grey20;
            font-weight: 500;
        }
    }

    &__item:nth-child(even) td {
        background-color: $grey10;
    }

    td {
        padding: 12px 0;
        font-size: 15px;
    }

    th,
    td {
        &:first-of-type {
            padding-left: 6px;
        }

        &:last-of-type {
            padding-right: 6px;
            text-align: right;
        }
    }

    .orders-table__col-1 {
        @include media-max(xs) {
            display: none;
        }
    }

    .orders-table__col-4 {
        @include sm-max {
            display: none;
        }
    }

    + .pager {
        margin-top: 24px;
    }

    &--giftcards {
        .orders-table__col {
            &:nth-child(3) {
                display: none;
                @include xs {
                    display: table-cell;
                }
            }

            &:last-of-type {
                display: none;
                @include xs {
                    display: table-cell;
                }
            }
        }
    }
}

.sales-order-history .buttons-set {
    display: none;
}

dl.order-info {
    display: none;
}
.order-info-box {
    margin-bottom: 36px;
}




// The cart table component
.cart-table {
    width: 100%;

    &__col-image {
        display: none;
        width: 66px;
        @include xs {
            display: table-cell;
        }
    }

    &__col-name {
        padding-right: 6px;
        text-align: left;
    }

    &__col-qty {
        width: 100px;
        text-align: center;
    }

    &__col-remove {
        width: 50px;
        text-align: right;
    }

    + .cart-totals {
        margin-top: 24px;
    }
}

.cart-table__header {
    font-size: 15px;

    th {
        padding-bottom: 3px;
        border-bottom: 1px dotted $grey30;
        font-weight: 500;
    }
}

.cart-table__item {
    td {
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid $grey20;
    }

    &:last-of-type td {
        border-bottom: 1px dotted $grey30;
    }
}

.cart-table__item-name {
    line-height: 1.1;
    font-size: 18px;
    font-weight: 400;
    @include xs {
        font-size: 20px;
    }
}


// Cart table totals
.cart-table-totals {
    width: 100%;
    margin-top: 12px;

    td {
        padding: 6px 0;
        text-align: right;

        &:first-of-type {
            font-size: 18px;
        }

        &:last-of-type {
            width: 130px;
        }
    }

    .price {
        max-width: 100px;
        font-weight: 600;
    }

    &__subtotal,
    &__tax {
        td {
            padding: 0;
        }
    }

    &__grand-total td {
        &:first-of-type,
        .price {
            font-size: 22px;
            font-weight: 500;
        }
    }
}




// Contacts page //
.contacts {
    @include sm {
        display: flex;
        justify-content: space-between;

        > div {
            width: 46%;
        }
    }
}

.contacts-details {
    @include sm-max {
        margin-top: 48px;
    }

    label {
        display: block;
        margin-bottom: 6px;
        font-weight: 400;
    }
    li {
        margin-bottom: 18px;
    }
}