// System messages
.messages > li:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.success-msg {
    position: relative;
    background-color: transparent;
    border-color: $green;
    border-radius: 5px;
    color: $green;
    &:before {
        @include wicon(18px);
        content: '\f028';
    }
    li {
        padding-left: 30px;
    }
}

.error-msg {
    position: relative;
    background-color: transparent;
    border-color: $red;
    border-radius: 5px;
    color: $red;
    &:before {
        @include wicon(24px);
        content: '\f62f';
    }
    li {
        padding-left: 36px;
        line-height: 1.3;
    }
}