// Store Locator //

// Test locations
.storelocator-index-index {
    .cms {
        margin: 0 auto 36px 0;
    }

    .locations-search {
        margin-bottom: 48px;
    }

    .search-content {
        margin-bottom: 24px;
        .store-uk & {
            display: none;
        }
    }
    .container-search {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include xxs {
            flex-wrap: nowrap;
            align-items: center;
        }

        .button--tertiary {
            color: $grey60;
            font-size: 18px;
            &:hover,
            &:focus {
                span {
                    color: $grey;
                }
            }
        }
    }
    .input-location {
        width: 100%;
        margin-bottom: 24px;
        @include xxs {
            flex: 1;
            margin-bottom: 0;
        }

        input {
            @include placeholder {
                font-size: 18px;
            }
            &:focus {
                border-color: $lightPeach !important;
                @include placeholder {
                    color: $grayLighter;
                }
            }
        }
    }
    .distance-slider {
        display: none;
    }

    .locator-content {
        display: flex;
        flex-direction: column;
        @include sm {
            flex-direction: row-reverse;
        }
    }

    .test-locations {
        padding: 12px;
        background-color: $grey10;
        @include sm {
            width: 280px;
            margin-right: 24px;
            padding: 12px;
        }

        h3 {
            color: $grey;
            font-weight: 400;
        }

        &__list {
            margin-bottom: 0;
            @include sm-max {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .test-location {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 29.3333%;
                    @include ie {
                        display: inline-block;
                    }
                }
            }
            @include xs-max {
                .test-location {
                    width: 46%;
                }
            }
            @include xxs-max {
                .test-location {
                    width: 100%;
                }
            }
            @include sm {
                overflow-y: auto;
                padding: 12px 12px 0 0;
                &#list-store-detail {
                    height: 635px;
                }
            }
        }
    }

    &.store-uk .test-locations {
        &__title {
            margin: 18px 0 12px;
            h3 {
                margin: 0;
            }
        }
        &__list#list-store-detail {
            @include sm {
                height: 515px;
            }
        }
    }

    .test-location {
        margin-bottom: 24px;

        p {
            margin-bottom: 6px;
        }
        &__actions {
            display: flex;
            justify-content: space-between;
        }
        a {
            color: $peach;
            cursor: pointer;

        }

        &--at-home {
            width: calc(100% + 30px);
            margin: 0 -15px;
            padding-bottom: 18px;
            border-bottom: 6px solid #fff;
            @include sm {
                width: calc(100% + 45px);
            }

            > * {
                padding: 0 15px;
            }
            p {
                margin-bottom: 12px;
            }
        }
    }

    .map {
        flex: 1;
        height: 600px;
        margin-bottom: 24px;
        @include sm {
            height: 700px;
            margin-bottom: 0;
        }

        .test-location {
            margin: 18px 0 12px;
            list-style: none;
            a {
                font-weight: 600;
            }
            &__actions {
                display: none;
            }
        }
    }
}

// Test location
.storelocator-index-view {
    .nav-back {
        display: block;
        margin-bottom: 24px;
        text-decoration: underline;
    }

    .cms {
        margin: 0 auto 36px 0;
    }

    .locator-content {
        display: flex;
        flex-direction: column;
        @include sm {
            flex-direction: row;
        }
    }

    .map {
        flex: 1;
        height: 400px;
        margin-bottom: 24px;
        @include xxs {
            height: 500px;
        }
        @include xs {
            height: 600px;
        }
        @include sm {
            height: 700px;
            margin-bottom: 0;
        }
    }

    .test-location__details {
        @include sm {
            width: 300px;
            margin-left: 24px;
            padding-top: 24px;
        }

        h3 {
            margin-bottom: 24px;
        }
    }
    .test-location__open {
        > strong {
            display: block;
            margin-bottom: 12px;
        }
        table tbody {
            display: flex;
            flex-direction: column;
            tr:first-of-type {
                order: 1;
            }
            td:first-of-type {
                min-width: 55px;
            }
        }
    }

    .box-detail {
        display: none;
    }
}

// Hides
.street-view,
.tag-store {
    display: none;
}


// Test locations block
