////////////////////////////
// Werlabs Checkout
////////////////////////////

// GLOBAL //
.wco-container {
    max-width: 530px;
    margin: 0 auto;
    padding-bottom: 60px;
    @include sm {
        .checkout-plan-index & {
            max-width: 745px;
        }
    }

    .input-box {
        position: relative;
        padding-top: 18px;

        .input-text {
            position: relative;
            height: 50px;
            padding: 0 12px;
            background-color: #fff;
            //line-height: 50px;
            font-size: 16px;
            &:focus,
            &:valid {
                ~ label {
                    display: inline-block;
                }
            }
            &:focus {
                border-color: $grayLightest;
            }
            &:focus ~ label {
                color: $grayDarkest;
            }
            &.validation-passed {
                + .wicon {
                    display: block;
                }

            }
            &.validation-failed {
                color: $errorColor;
                &:focus {
                    border-color: $grayLightest;
                    border-style: solid;
                }
                + .wicon-check-m {
                    display: block;
                    top: 32px;
                    color: $errorColor;
                    font-size: 22px;
                    &:before {
                        content: url('../images/error_icon.svg');
                    }
                }
                ~ .input-top-label {
                    display: none;
                }
                &:invalid [type="password"] {
                    ~ .input-top-label {
                        display: block;
                    }
                    ~ .input-top-validation {
                        display: none !important;
                    }
                }
            }
            &:disabled {
                background-color: $grayLightester;
                border-color: $grayLightester;
                color: $grayDark;
                font-family: monospace;
            }
        }
        .wicon {
            display: none;
            position: absolute;
            top: 38px;
            right: 10px;
            color: $mintGreen;
            font-size: 18px;
        }
        .input-top {
            position: absolute;
            top: 0;
            left: 0;
            padding-left: 3px;
            font-size: 12px;
            &-validation {
                color: $errorColor;
            }
        }
        label {
            display: none;
            justify-content: space-between;
            position: absolute;
            top: 0;
            width: 100%;
            padding-left: 3px;
            color: $gray;
            font-size: 12px;
            font-weight: 400;
        }

        &--checkbox {
            display: flex;
            align-items: center;
            margin-bottom: 18px;
            padding-top: 0;
            &:last-of-type {
                margin-bottom: 0;
            }

            .checkbox {
                float: none;

                &:checked:disabled {
                    color: $grey60;
                }

                + label {
                    margin-left: 12px;
                }
            }

            label {
                display: inline-block;
                position: static;
                margin-bottom: 0;
                padding: 0;
                line-height: 1.3;
                color: $grey;
                font-size: 15px;
            }
        }
    }
    .button {
        margin-bottom: 0;
        padding: 0 30px;
        &:disabled {
            background-color: $grayLightest;
            cursor: not-allowed;
        }
    }
}

.wco__title {
    margin-bottom: 24px;
    text-align: center;
    @include xxs {
        margin-bottom: 36px;
    }
    @include sm {
        margin-bottom: 48px;
    }

    h1 {
        color: $grey;
    }
}

.wco__error-message {
    margin-bottom: 48px;
}


// CART //
// Handle needed to style global components custom for cart
.checkout-cart-index.store-se {
    // System messages
    .messages {
        margin-bottom: 30px;
    }

    // Hide success add to cart message cause it's redundant
    .success-msg {
        display: none;
    }
}


// Cart items
.cart__header {
    display: flex;
    justify-content: space-between;
    padding: 18px 0 6px;
    line-height: 1;
    span {
        color: $grayDark;
    }
    a {
        color: $peach105;
    }
}

.cart__items {
    margin-bottom: 15px;
    padding: 0 16px;
    background-color: $grey10;
    border-radius: 3px;
    table {
        width: 100%;
    }
    th {
        padding: 26px 0 10px;
        border-bottom: 1px solid $grey30;
        line-height: 1;
        color: $grayDarkest;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        &:last-of-type {
            text-align: right;
        }
    }
    td {
        padding: 14px 0 13px;
        font-size: 16px;
    }
    a:hover {
        cursor: pointer;
    }
}

.cart__item {
    td:last-of-type {
        width: 74px;
        text-align: right;
    }
    &--desktop {
        .item__qty input {
            margin: 0 auto 0 0 !important;
        }
        @include xs-max {
            display: none;
        }
    }
    &--mobile {
        &-second td {
            padding-top: 0;
        }
        @include xs {
            display: none;
        }
    }
}

.item {
    &__name a {
        color: $peach105;
    }
    &__delete {
        color: $grayLight;
        font-size: 20px;
        &:hover,
        &:focus {
            color: $red;
        }
    }
    &__qty input {
        width: 50px;
        margin-left: auto;
        padding: 0 5px;
        text-align: center;
    }
}


// Totals
.cart__totals {
    margin-bottom: 30px;
    padding: 0 16px;
    table {
        width: 100%;
    }
    tr:last-of-type td {
        font-size: 20px;
        font-weight: 500;
    }
    td {
        padding: 5px 0;
        font-size: 17px;
        &:last-of-type {
            text-align: right;
        }
    }
}

// Note
.cart__note {
    padding: 16px 0;
    border-top: 1px solid $grey30;
    color: $grey80;
    font-size: 14px;
}

// To Checkout
.cart__checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
}


// Account
.cart__account {
    display: flex;
    flex-direction: column;
    width: 100%;
    h2 {
        margin-bottom: 18px;
        text-align: center;
        color: $grey;
        font-size: 28px;
        line-height: 34px;
        @include xxs {
            //margin-bottom: 36px;
        }
    }

    ul {
        margin-bottom: 24px;
    }

    li {
        margin-bottom: 15px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .ssn-info {
        margin: 6px 0 12px;
        padding-left: 3px;
        line-height: 1.5;
        font-size: 14px;
    }
}

.account__action {
    .button--secondary {
        color: $oceanBlue;
        + .button--secondary {
            margin-top: 36px;
        }
    }

    .input-boxes {
        margin-bottom: 24px;

        > p {
            margin: 18px 0 0;
            font-size: 13px;
            @include phone-max {
                display: none;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        text-align: center;
    }

    .button--tertiary {
        margin-top: 8px;
        &:hover {
            color: $grey;
        }
    }

    #forgot-password-link {
        margin-top: 6px;
        text-align: center;
    }

    #js-action-link-desktop {
        text-decoration: underline;
    }
}

.account__contact {
    border-width: 1px 0;
    text-align: center;
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid $grayLightest;

    p {
        margin-bottom: 12px;
        font-size: 14px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.account__signup-login {
    text-align: center;
    @include phone-max {
        margin-bottom: 15px;
    }

    span {
        margin-right: 10px;
    }
}




// PLAN
.checkout-plan-index {
    .wco__title {
        max-width: 430px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }

    .lp-section--blood-tests {
        .blood-test {
            background-color: $grey05;
        }
    }
}

.plan-options {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include sm-max {
        max-width: 345px;
        margin: 0 auto;
    }
    @include sm {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.plan-option {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 20px 20px;
    background-color: $blueLightest;
    color: $blueDarkest;

    @include sm {
        display: flex;
        flex-direction: column;
        width: 345px;
        margin: 0;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 27px;
        margin-bottom: 30px;
        line-height: 1;
        font-size: 44px;
        @include mq(360px) {
            flex-direction: row;
            align-items: flex-end;
        }
        &--old {
            color: rgba($blueDarkest,0.5);
            font-size: 26px;
            text-decoration: line-through;
        }
        small {
            font-size: 26px;
        }
    }

    &__copy {
        margin-bottom: 30px;
        line-height: 1.7;
        font-size: 15px;
    }

    &__usps {
        margin-bottom: 30px;
        li {
            position: relative;
            margin-bottom: 10px;
            padding-left: 30px;
            font-size: 15px;
            &:before {
                position: absolute;
                left: 0;
                @include wicon();
                content: '\f029';
            }
            font-weight: 500;
            &.plan-option--not-onetime {
                color: rgba($blueDarkest,0.5);
                font-weight: 400;
                &:before {
                    content: '';
                }

                @include sm-max {
                    display: none;
                }
            }
        }

        @include sm {
            margin-top: auto;
        }
    }

    .button {
        width: 100%;
        height: 50px;
        background-color: transparent;
        border: 1px solid $blueDarkest;
        border-radius: 25px;
        line-height: 48px;
        color: $blueDarkest;
        &:hover,
        &:focus {
            background-color: $blueDarkest;
            color: #fff;
        }
    }

    &__conditions {
        margin: 30px 0 0;
        text-align: center;
        color: $grayDark;
        font-size: 12px;
    }
}



// Discount
.cart__discount {
    margin-bottom: 15px;
    background-color: $grey10;
    border-radius: 3px 3px 0 0;
}

.discount {
    &__header {
        position: relative;
        display: block;
        padding: 15px 16px 14px;
        color: $grayDark;
        font-size: 16px;
        &:after {
            @include wicon();
            content: '\f039';
            position: absolute;
            right: 24px;
        }
        &:hover,
        &:focus {
            color: $grayDarkest;
            text-decoration: none;
        }
        &[aria-expanded="true"] {
            color: $grayDarkest;
            &:after {
                content: '\f634';
            }
        }
        &[aria-expanded="false"] {
            &:focus {
                color: $grayDark;
            }
        }
    }
    &__body {
        padding: 0 16px 20px;
        .input-text {
            height: 50px;
            background-color: #fff;
            //line-height: 50px;
            font-size: 16px;
        }
    }
    &__input {
        margin-bottom: 20px;
    }

    &__codes {
        margin-bottom: 18px;
        padding: 0 16px;
        background-color: $grey10;
        border-radius: 3px;
        ul {
            margin: 0;
            padding: 20px 0;
            &:first-of-type {
                padding: 15px 0 5px;
                &:last-of-type {
                    padding-bottom: 20px;
                }
            }
        }
        li {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
            &:last-of-type {
                margin-bottom: 0;
            }
            p {
                width: 100%;
                margin-bottom: 5px;
                text-decoration: underline;
            }
            > span {
                font-family: monospace;
                font-size: 16px;
            }
            a {
                color: $gray;
                &:hover {
                    color: $peach;
                    text-decoration: none;
                }
            }
            .wicon {
                margin-left: 5px;
                font-size: 20px;
            }
        }
    }
    &__giftcard-usage {
        width: 100%;
        font-size: 13px !important;
    }
}


.wco-test-location {
    margin-bottom: 20px;
    padding: 20px 16px 0;
    background-color: $grey10;
    color: $grayDark;
    &:hover {
        color: $grayDarkest;
    }
    &--not-selected {
        padding-top: 0;
        background-color: #fff;
        border: 1px solid $errorColor;
        color: $errorColor;
        &:hover {
            background-color: $grey10;
            border-color: transparent;
        }
        label {
            display: none;
        }
    }
    label {
        position: absolute;
        top: -12px;
        left: 0;
        margin: 0;
        color: $grayDark;
        font-size: 12px;
        font-weight: 400;
    }
    &__select {
        display: block;
        position: relative;
        &:after {
            @include wicon();
            content: '\f039';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }
    select {
        width: 100%;
        margin: 0;
        padding: 15px 0 14px;
        appearance: none;
        background: none;
        border: 0;
        outline: 0;
        font-size: 16px;
        cursor: pointer;
        &:valid {
            color: $grayDarkest;
        }
    }
}

.wco-psa {
    padding: 20px 16px 0;
    background-color: $grey10;
    color: $grayDark;
    
    &:hover {
        color: $grayDarkest;
    }
    &--not-selected {
        padding-top: 0;
        background-color: #fff;
        border: 1px solid $errorColor;
        color: $errorColor;
        &:hover {
            background-color: $grey10;
            border-color: transparent;
        }
        label {
            display: none;
        }
    }
    label {
        position: absolute;
        top: -12px;
        left: 0;
        margin: 0;
        color: $grayDark;
        font-size: 12px;
        font-weight: 400;
    }
    &__select {
        display: block;
        position: relative;
        &:after {
            @include wicon();
            content: '\f039';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }
    select {
        width: 100%;
        margin: 0;
        padding: 15px 0 14px;
        appearance: none;
        background: none;
        border: 0;
        outline: 0;
        font-size: 14px;
        cursor: pointer;
        &:valid {
            color: $grayDarkest;
        }
    }
}

.hideUntilPSAChoiceIsMade {
    display: none;
}


// CONFIRMATION
.checkout-confirmation-index {
    .ultracart {
        opacity: 0;
    }
}

.wco-confirm-details {
    font-size: 18px;

    &__question {
        margin-bottom: 48px;
        > p {
            margin-bottom: 24px;
            font-size: 16px;
        }
        .input-box {
            padding-top: 18px;

            + .input-box {
                margin-top: 18px;
            }

            .input-text:focus,
            .input-text.validation-passed:focus {
                border-color: $blueDarkest;
                color: $grayDarkester;
                + .input-top-label {
                    font-weight: 600;
                }
            }

            .input-text:disabled {
                + .input-top-label {
                    display: inline-block;
                }
            }

            .input-text:enabled {
                ~ .input-top-label--enable-input {
                    display: none;
                }
            }

            .input-top-label {
                margin-bottom: 0;

                &--enable-input {
                    display: inline-block;
                    text-align: right;
                    color: $blue;
                    font-size: 14px;
                    cursor: pointer;
                    &:hover {
                        color: $blueDarkest;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    h2 {
        margin-bottom: 12px;
        color: $grey;
    }

    .agree {
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        label {
            flex: 1;
            margin: 0 0 0 24px !important;
            line-height: 1.3;
        }
    }

    &__action {
        text-align: center;
    }

    .button--primary {
        &.disabled:disabled {
            position: relative;
            background-color: $peach;
            border-color: $peach;
            &:before {
                content: '';
                position: absolute;
                top: 12px;
                left: 14px;
                width: 25px;
                height: 25px;
                background: url('../images/loading.svg') no-repeat;
            }
        }
    }
}


.wco-password {
    font-size: 18px;

    h2 {
        margin-bottom: 12px;
        color: $grey;
    }
    
    .info-text {
        text-align: center;
    }

    &__input {
        margin-bottom: 48px;
        > p {
            margin-bottom: 24px;
            font-size: 16px;
        }
        .input-box {
            padding-top: 18px;

            + .input-box {
                margin-top: 18px;
            }

            .input-text:focus,
            .input-text.validation-passed:focus {
                border-color: $blueDarkest;
                color: $grayDarkester;
                + .input-top-label {
                    font-weight: 600;
                }
            }

            .input-text:disabled {
                + .input-top-label {
                    display: inline-block;
                }
            }

            .input-text:enabled {
                ~ .input-top-label--enable-input {
                    display: none;
                }
            }

            .input-top-label {
                margin-bottom: 0;

                &--enable-input {
                    display: inline-block;
                    text-align: right;
                    color: $blue;
                    font-size: 14px;
                    cursor: pointer;
                    &:hover {
                        color: $blueDarkest;
                        text-decoration: underline;
                    }
                }
            }
        }

        .sms-resend-box {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            p {
                font-size: 14px;
                color: $grey70;
            }

            .sms-resend-button {
                min-width: 130px;
            }
        }
    }

    &__action {
        text-align: center;
    }

    .button--primary {
        &.disabled:disabled {
            position: relative;
            background-color: $peach;
            border-color: $peach;
            &:before {
                content: '';
                position: absolute;
                top: 12px;
                left: 14px;
                width: 25px;
                height: 25px;
                background: url('../images/loading.svg') no-repeat;
            }
        }
    }
}


.klarna-success {
    margin-bottom: 24px;
    border: 1px solid $grayLightest;
    border-width: 1px 0;
    @include sm {
        margin-bottom: 48px;
    }
}


.section__title {
    margin-bottom: 24px;
    padding: 0 40px;
    text-align: center;
    color: $grayDarkester;
}


// Steps
.steps--referral-cards {
    position: relative;
    margin-bottom: 60px;
    .step {
        margin-bottom: 0;
        .button--secondary {
            //display: none;
        }
        &__referral-success {
            //display: block !important;
            margin-bottom: 0;
            color: $peach105;
            font-weight: 600;
        }
        &__disclaimer {
            position: absolute;
            bottom: -40px;
            left: 0;
            width: 100%;
            margin-bottom: 0;
            padding: 0 24px;
            text-align: center;
            color: $grey70;
            font-size: 12px;
            @include mq(576px) {
                bottom: -24px;
            }
        }
    }
}

.step {
    position: relative;
    margin-bottom: 18px;
    padding: 30px 20px 30px;
    background-color: $grey10;
    text-align: center;
    @include xxs {
        padding: 30px 60px 30px;
    }
    &__number {
        position: absolute;
        top: 10px;
        left: 13px;
        color: $grey;
        font-weight: 500;
    }
    &__image {
        margin: 0 auto 20px;
    }
    &__title {
        color: $grey;
        font-weight: 600;
    }
    &__copy {
        margin-bottom: 30px;
        font-size: 17px;
    }
    .button--secondary {
        color: $peach;
    }
}

// Yearly checkout
.checkout-klarna-index {
    h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
    }

    .info-section {
        margin-bottom: 36px;

        h2 {
            text-align: center;
            font-weight: 700;
            line-height: 1.3;
            font-size: 20px;
            margin-bottom: 25px;
            @include phone {
                font-size: 22px;
                margin-bottom: 30px;
            }
            @include sm {
                font-size: 26px;
                margin-bottom: 40px;
            }
        }

        .info-block {
            margin-bottom: 24px;

            &__text {
                h3 {
                    margin-bottom: 8px;
                }

                p {
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            .round-icon {
                color: $lightPeach;
                background-color: $grey10;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border-radius: 50%;
                font-size: 14px;
                @include sm {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 18px;
                }
            }

            &--with-icon {
                display: flex;
                justify-content: space-between;

                .info-block__icon {
                    width: 30px;
                    @include sm {
                        width: 40px;
                    }

                    img {
                        max-width: 100%;
                    }
                }

                .info-block__text {
                    width: calc(100% - 45px);
                    @include sm {
                        width: calc(100% - 55px);
                    }
                }
            }
        }

        &--small .info-block {
            align-items: center;
            margin-bottom: 20px;
        }
    }

    .xl-section {
        border-top: 1px solid $grey15;
        border-bottom: 1px solid $grey15;
        padding: 24px 0;
        margin-bottom: 36px;
        text-align: center;

        p {
            font-size: 16px;
        }

        .marker-group {
            &__icon {
                width: 70px;
                height: 70px;
            }

            &__title {
                font-size: 16px;
                font-weight: 500;
            }

            &__description {
                font-size: 15px;
            }

            &__markers p {
                margin-bottom: 12px;
                font-size: 14px;
            }
        }

        .marker-groups-nav__item {
            padding-bottom: 34px;
            margin-bottom: 8px;

            &--active:after {
                margin-left: -10px;
                font-size: 20px;
            }
        }

        .markers li > span {
            background-color: $grey15;
            color: $grey90;
            font-size: 13px;
            height: 30px;
            margin: 0 0 9px 0;
        }

        .panel-group {
            margin-bottom: 0;

            .panel-default {
                border: 0;
                box-shadow: none;

                .panel-heading {
                    padding: 0;
                    background-color: transparent;
                    text-transform: uppercase;

                    h4 a {
                        font-weight: 700;
                        font-size: 12px;
                        letter-spacing: 1.2px;
                        color: $peach;
                        transition: 0.2s;

                        &:hover {
                            color: $lightPeach;
                            text-decoration: none;
                        }
                    }
                }

                .panel-body {
                    padding-top: 36px;

                    h4 {
                        font-size: 18px;
                        line-height: 23px;
                        font-weight: 700;
                        max-width: 300px;
                        margin: 0 auto 8px;
                    }
                }
            }
        }

        .panel-default>.panel-heading+.panel-collapse>.panel-body {
            border-top: 0;
        }
    }
}


// Disabled while loading
.disabled-while-loading {
    .warning-box .checkbox-group,
    .cart__discount,
    .wco-test-location {
        opacity: 0.4;
    }

    .checkbox-group label {
        cursor: default;
    }

    #klarna-container.before-loading {
        position: relative;

        #klarna-checkout-container {
            opacity: 0.4;
        }

        &:after {
            position: absolute;
            left: calc(50% - 0.4em);
            top: 206px;
            content: '';
            display: block;
            font-size: 8px;
            width: 0.8em;
            height: 0.8em;
            animation: spinner 1800ms infinite linear;
            border-radius: 0.5em;
            box-shadow: rgba(0, 0, 0, 0) 1.5em 0 0 0, rgba(0, 0, 0, 0.15) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.3) 0 1.5em 0 0, rgba(0, 0, 0, 0.45) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.6) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.9) 0 -1.5em 0 0, rgba(255, 110, 91, 1) 1.1em -1.1em 0 0;
        }
    }
}


@mixin animation-spinner-keyframe() {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    @include animation-spinner-keyframe();
}

@-moz-keyframes spinner {
    @include animation-spinner-keyframe();
}

@-o-keyframes spinner {
    @include animation-spinner-keyframe();
}

@keyframes spinner {
    @include animation-spinner-keyframe();
}