// SE 2018 NY campaign

span.gift {
    position: relative;
    padding-left: 26px;
    display: inline-block;
    margin-top: 5px;
    font-weight: 600;

    @include phone {

    }

    &:before {
        display: block;
        content: url(../images/lp-new-year-2018/ny-icon-gift.svg);
        position: absolute;
        color: #FF7864;
        left: 0;
        color: #FF7864;
        top: 1px;
    }
}


.lp-ny2018 {

    background-color: $grey05;
    background-image: url("../images/lp-new-year-2018/ny-bg-peach-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;

    @include sm {
        background-image: url("../images/lp-new-year-2018/ny-bg-peach.svg");
        background-size: 80%;
    }

    @include lg {
        background-size: auto;
    }

    //Main menu
    .header-container {
        background-color: transparent;
        border-color: transparent;

        &.not-transparent {
            background-color: #fff;
            border-color: $grey15;
            transition: background-color ease-in 0.1s;
        }

        &.transparent {
            transition: background-color ease-in 0.1s;
        }
    }


    .nav-nyarspaket a {

        text-decoration: underline;

        @include md {
            text-decoration: none;
            &:after {
                width: 100%;
                background-color: #3D3D3C;
            }
        }

    }


    .headroom--not-top .nav-nyarspaket a {

        @include md {

            color: $peach;

            &:after {

                background-color: $peach;
            }
        }
    }


    .footer {
        background-color: transparent;
    }

    .lp-section--faq {
        padding-top: 120px;
    }



    .nav--desktop a {
        color: $grey;
    }

    h2 {
        color: $pineGreen;
        font-size: 26px;
        line-height: 30px;
        font-weight: bold;

        @include phone {
            font-size: 30px;
            line-height: 34px;
        }

        @include sm {
            font-size: 28px;
            line-height: 32px;
        }
    }

    p.description {
        font-size: 18px;
        line-height: 25px;
        max-width: 500px;
        margin: auto;
        margin-bottom: 60px;

        @include phone {
            font-size: 20px;
            line-height: 27px;
        }

        @include sm {
            font-size: 18px;
        }
    }




    //CTA section
    .cta-section {

        &__content {

            @include sm {
                display: flex;
                align-items: center;
            }
        }

        &__copy {

            text-align: center;

            @include sm {
                text-align: left;
            }

            @include sm {
                width: 50%;
                padding-bottom: 60px;
                padding-right: 20px;
            }

            @include lg {
                padding-top: 80px;
                padding-bottom: 100px;
                padding-right: 50px;
            }

            h1 {

                font-size: 32px;
                line-height: 38px;
                margin-bottom: 20px;
                letter-spacing: -2px;
                color: $pineGreen;
                font-weight: bold;

                @include phone {
                    font-size: 38px;
                    line-height: 46px;
                    margin-bottom: 24px;
                }

                @include sm {
                    font-size: 38px;
                    line-height: 42px;
                    margin-bottom: 30px;
                    letter-spacing: -1px;
                }

                @include lg {
                    font-size: 55px;
                    line-height: 62px;
                }
            }

            p {

                font-size: 18px;
                line-height: 25px;
                margin-bottom: 20px;

                @include phone {
                    font-size: 20px;
                    line-height: 27px;
                    margin-bottom: 30px;
                }

                @include sm {
                    line-height: 30px;
                }

                @include lg {
                    margin-bottom: 40px;
                }
            }

        }

        .clock-holder {

            margin-bottom: 35px;

            @include phone {
                margin-bottom: 45px;
                padding-top: 10px;
                transform: scale(1.08);
            }

            @include sm {
                transform: none;
                padding-top: 0;
            }

            @include lg {

                margin-bottom: 60px;
            }

        }

        &__action {
            display: inline-block;

            .small {
                font-size: 14px;
                line-height: 27px;
                color: $grey60;
                text-align: center;
                margin-top: 5px;
            }
        }

        &__offer-expired {
            color: #333;
            border-top: 2px solid #00573e;
            max-width: 390px;
            font-weight: 600;
            padding-top: 20px;
            font-size: 16px;

            @include sm {
                padding-top: 10px;
            }

            @include lg {
                padding-top: 28px;
                font-size: 18px;
            }
        }


        &__small-image {

            margin-bottom: 36px;

            @include sm {
                display: none;
            }

            img {
                max-width: 90%;

                @include phone {
                    max-width: 100%;
                }
            }
        }

        &__image {

            display: none;
            @include sm {
                display: block;
                width: 50%;
            }

            img {
                max-width: 110%;
                margin-top: -50px;
            }
        }

    }



    // How it works section
    .product-card {

        text-align: center;
        margin-top: 50px;
        background-image: url("../images/lp-new-year-2018/ny-ripple-peach-card-mobile.svg");
        background-repeat: no-repeat;
        background-position: 0 90px;
        width: 100vw;
        margin-left: -12px; //fix margins for all small screens
        padding: 0 10px;


        @include phone {
            margin-top: 60px;
            margin-left: -18px;
        }

        @include sm {
            margin-top: 0;
            background-color: #fff;
            background-image: url("../images/lp-new-year-2018/ny-ripple-peach-card.svg");
            background-repeat: no-repeat;
            background-position: bottom left;
            width: 100%;
            margin-left: unset;
            padding: 40px 50px 100px 50px;
            box-shadow: 0px 8px 14px 0px rgba(224,229,238,0.5);
            border-radius: 2px;
        }

        @include lg {
            padding: 40px 80px 120px 80px;
        }

        p.description {

            display: none;

            @include sm {
                display: block;
                max-width: 500px;
                margin-bottom: 60px;
            }
        }


        .how-items {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include sm {

                flex-wrap: unset;
            }
        }

        .how-item {

            text-align: center;
            background-color: #fff;
            padding: 20px 10px;
            box-shadow: 0px 8px 14px 0px rgba(224,229,238,0.5);
            border-radius: 2px;
            width: 49%;
            margin-bottom: 8px;

            @include sm {
                text-align: left;
                background-color: transparent;
                padding: 0;
                box-shadow: none;
                border-radius: 0;
                width: auto;
            }


            &__icon {
                margin-bottom: 20px;
                @include sm {
                    margin-bottom: 24px;
                }

                img {
                    height: 45px;
                    width: auto;

                    @include sm {
                        height: 50px;
                    }

                    @include sm {
                        height: 60px;
                    }
                }
            }

            h3 {
                font-size: 16px;
                line-height: 18px;
                font-weight: 700;
                margin-bottom: 12px;

                @include phone {
                    font-size: 18px;
                    line-height: 20px;
                }

                @include sm {
                    font-size: 20px;
                    line-height: 23px;
                }

                .new-line {
                    display: block;

                    @include lg {
                        display: inline;
                    }
                }

                .step-number {

                    margin-right: 5px;

                    @include sm {
                        display: none;
                    }
                }
            }

            p {
                max-width: 180px;
                font-size: 14px;
                line-height: 18px;
                color: $grey80;
                margin-bottom: 0;

                @include phone {
                    font-size: 16px;
                    line-height: 20px;
                }

                @include sm {
                    line-height: 22px;
                }
            }
        }

    }



    // Choose package section
    .packages-section {

        padding-top: 70px;

        @include phone {
            padding-top: 90px;
        }

        @include sm {
            background-image: url("../images/lp-new-year-2018/ny-ripple-packages.svg");
            background-repeat: no-repeat;
            background-position: 0 430px;
        }

        h2 {
            margin-bottom: 30px;
        }

        p.description {
            max-width: 680px;
            margin-bottom: 16px;
            @include sm {
                margin-bottom: 36px;
            }
        }

        &__intro {
            text-align: center;
        }

    }

    .hr-with-text {

        display: none;
        @include sm {
            display: flex;
        }

        span {
            font-size: 12px;
            line-height: 28px;
            padding: 0 20px;
            border: 2px solid $lightPeach;
            border-radius: 16px;
            font-weight: 600;
        }

        &:before {
            margin-right: 20px;
        }

        &:after {
            margin-left: 20px;
        }

    }

    .packages {

        display: flex;
        justify-content: center;
        position: relative;
        padding-top: 10px;

        &:before {

            display: none;

            @include sm {

                display: block;
                content: '+';
                color: #FF7864;
                font-size: 24px;
                position: absolute;
                top: -26px;
            }

        }

        &__item {
            display: block;
            width: 200px;
            padding: 15px 10px;
            background-color: #fff;
            box-shadow: 0 2px 10px 0 rgba(150, 171, 182, 0.08);
            border: 1px solid rgba(232, 231, 227, 0.5);
            border-radius: 8px;
            margin: 2px;
            color: $grey;

            @include phone {
                padding: 15px;
                margin: 8px;
            }

            &:hover {
                text-decoration: none;
                box-shadow: 0 2px 20px 0 rgba(150, 171, 182, 0.3);
                border: 1px solid #e8e7e3;

                .packages__icon img {
                    transform: scale(1.05);
                }
            }
        }

        &__icon {

            margin-bottom: 8px;

            img {
                height: 40px;
                width: auto;
                transition: all 0.2s;
                @include sm {
                    height: 60px;
                }
            }
        }

        &__title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 11px;
            line-height: 13px;

            @include sm {
                font-size: 12px;
                line-height: 23px;
                letter-spacing: 1px;
            }
        }

        &-sticky {
            position: fixed !important;
            top: 72px !important;
            width: 100%;
            left: 0;
            z-index: 5;

            .packages__item {
                padding: 10px 15px;
            }

            .packages__icon img {
                height: 40px;
            }

        }

    }


    .single-package {

        background-image: url("../images/lp-new-year-2018/ny-ripple-peach-package-mobile.svg");
        background-repeat: no-repeat;
        background-position: 0 190px;

        @include sm {
            background-image: none;
            background-color: #fff;
            box-shadow: 0 2px 10px 0 rgba(150, 171, 182, 0.08);
            border: 1px solid rgba(232, 231, 227, 0.5);
            border-radius: 8px;
            width: 1400px;
            max-width: 98%;
            margin: auto;
            margin-top: 30px;
            padding: 30px 0;
        }

        .w-container {

            @include sm {
                display: flex;
                justify-content: space-between;
            }
        }

        p {
            font-size: 18px;
            line-height: 23px;
            color: $grey;
            margin-bottom: 8px;

            @include sm {
                font-size: 19px;
            }

            @include sm {
                font-size: 16px;
                color: $grey80;
            }

            &:last-of-type {
                margin-bottom: 24px;
            }
        }

        &__info {

            text-align: center;
            padding-top: 40px;

            @include sm {
                text-align: left;
                width: 30%;
                padding-top: 0;
            }

            h4 {
                text-transform: uppercase;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.82px;
                margin-bottom: 0;

                @include sm {
                    margin-bottom: 15px;
                }
            }

            h2 {
                font-size: 38px;
                line-height: 52px;
                letter-spacing: -2px;
                font-weight: 900;
                color: $pineGreen;
                margin-bottom: 5px;

                @include phone {
                    font-size: 48px;
                    line-height: 64px;
                }

                @include sm {
                    font-size: 44px;
                    line-height: 44px;
                    margin-bottom: 20px;
                }

                @include lg {
                    font-size: 60px;
                    line-height: 50px;
                }
            }

        }

        &__advantages {

            display: none;
            @include sm {
                display: block;
            }

            h5 {
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
                margin-bottom: 16px;
            }

            ul {

                font-size: 16px;
                line-height: 22px;
                color: $grey80;
                padding-left: 0;
                list-style: none;


                li {
                    padding-left: 20px;
                    position: relative;

                    &:before {
                        content: '\2022';
                        color: #FF7864;
                        position: absolute;
                        left: 0;
                        font-size: 24px;
                    }
                }
            }

        }

        &__advantages-mobile {

            a {
                color: $grey80;
                font-size: 15px;
                display: block;
                margin-top: 20px;
                position: relative;

                @include phone {
                    font-size: 16px;
                }

                &:hover, &:focus {
                    text-decoration: none;
                }

                &:after {
                    position: absolute;
                    top: 50%;
                    right: 2px;
                    margin-top: -9px;
                    @include wicon();
                    content: '\f62e';
                    transition: transform 0.2s;
                    font-size: 14px;
                    color: $grey80;
                }
                &[aria-expanded="true"] {
                    text-decoration: none;
                    color: $grey;
                    &:after {
                        @include wicon();
                        content: '\f634';
                        font-size: 14px;
                        color: $grey;
                    }
                }
            }



            @include sm {
                display: none;
            }

            .panel-collapse {

                padding-top: 20px;

                h5 {
                    font-size: 18px;
                    line-height: 20px;
                    font-weight: 600;
                    margin-bottom: 16px;
                }

                ul {

                    font-size: 16px;
                    line-height: 22px;
                    color: $grey80;
                    padding: 0 10px;
                    list-style: none;


                    li {
                        padding-left: 20px;
                        position: relative;

                        &:before {
                            content: '\2022';
                            color: #FF7864;
                            position: absolute;
                            left: 0;
                            font-size: 24px;
                        }
                    }
                }

            }
        }



        &__action {

            padding: 22px 28px;
            background-color: #fff;
            box-shadow: 0 2px 10px 0 rgba(150, 171, 182, 0.08);
            border: 1px solid rgba(232, 231, 227, 0.5);
            border-radius: 8px;

            @include phone {
                padding: 25px 33px;
            }

            @include sm {

                padding: 0;
                background-color: transparent;
                box-shadow: none;
                border:0;
                border-radius: 0;

                width: 64%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

        }

        &__test {

            @include sm {
                width: 46%;
                padding: 48px 0;
            }

            h3 {
                font-size: 18px;
                line-height: 20px;
                font-weight: bold;
                margin-bottom: 16px;
                position: relative;

                &:before {
                    content: '\2022';
                    color: #FF7864;
                    position: absolute;
                    font-size: 26px;
                    left: -20px;
                }

                @include phone {
                    font-size: 20px;
                }

                @include sm {
                    font-size: 22px;
                    line-height: 25px;

                    &:before {
                        display: none;
                    }
                }

                span.period {
                    font-size: 10px;
                    line-height: 22px;
                    padding: 0 6px;
                    font-weight: 600;
                    display: inline-block;
                    margin-left: 3px;
                    position: relative;
                    top: -3px;
                    background-color: #ffded1; // check this colour
                    color: $grey;

                    @include phone {
                        padding: 0 8px;
                        font-size: 10px;
                    }

                    @include sm {
                        //font-size: 12px;
                    }
                }

                &.gift {
                    margin-top: 36px;

                    @include sm {
                        color: $peach;
                        margin-top: 0;
                    }

                    &:before {
                        content: url('../images/lp-new-year-2018/ny-icon-gift.svg');
                        position: absolute;
                        color: $peach;
                        left: -22px;
                        color: #FF7864;
                        top: 0;
                        transform: scale(0.8);

                        @include phone {
                            left: -25px;
                            top: -1px;
                            transform: none;
                        }

                        @include sm {
                            display: block;
                            content: url('../images/lp-new-year-2018/ny-icon-gift.svg');
                            position: absolute;
                            color: $peach;
                            left: -30px;
                            color: #FF7864;
                            top: 0;
                        }
                    }
                }
            }

            p {

                font-size: 16px;
                line-height: 22px;

                @include phone {
                    font-size: 18px;
                    line-height: 23px;
                }

                @include sm {
                    font-size: 16px;
                    color: $grey80;
                }
            }


            h4 {

                font-size: 14px;
                line-height: 23px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 15px;

            }

            .markers {


                span {
                    display: inline-block;
                    height: 32px;
                    line-height: 32px;
                    margin: 0px 5px 10px 0;
                    padding: 0 15px;
                    border-radius: 17px;
                    font-size: 13px;
                    background-color: $grey15;
                    color: $grey90;


                }
            }

            a {
                font-size: 14px;
                line-height: 28px;
                color: $grey80;
                text-decoration: underline;

                span.state:before {
                    content: 'alla';
                }

                &[aria-expanded="true"] {
                    span.state:before {
                        content: 'färre';
                    }
                }


            }

            .marker-notes a {
                line-height: unset;
            }




        }

        &__buy {

            width: 100%;
            display: flex;

            flex-direction: column-reverse;

            @include sm {
                flex-direction: row;
            }

        }

        &__cta {

            position: relative;
            @include sm {
                width: calc(100% - 200px);
            }

            .button--primary {
                width: 100%;
            }

            .links {
                display: none;
                text-align: center;
                color: $grey80;
                font-size: 14px;
                line-height: 23px;
                padding-top: 8px;
            }

        }

        &__price {

            text-align: center;
            padding: 25px 0 10px 0;

            @include phone {
                padding: 30px 0 10px 0;
            }

            @include sm {
                text-align: left;
                padding: 0 0 0 20px;
                width: 200px;
            }


            h3 {
                color: $peach;
                font-size: 28px;
                //line-height: 32px;
                //letter-spacing: -1px;
                line-height: 30px;
                letter-spacing: 0px;
                font-weight: 700;
                margin-bottom: 0;

                @include phone {
                    font-size: 32px;
                }

                @include sm {
                    font-size: 28px;
                }

            }

            span {
                color: $grey80;
                //font-size: 14px;
                //line-height: 23px;
                display: block;
                font-size: 16px;
                line-height: 19px;
                font-weight: 700;
                padding: 5px 0 10px 0;

                @include sm {
                    padding: 0;
                }
            }

        }



    }

}


.lp-start {

    .start-ny-2018.lp-section--header {

        background-color: #fff4f0;
        background-image: url('../images/lp-new-year-2018/ny-start-hero-bg-peach-mobile.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: cover;
        overflow: hidden;
        position: relative;

        @include sm {
            background-image: url('../images/lp-new-year-2018/ny-start-hero-bg-peach.png');
            background-position: center;
        }

        @include lg {
            background-image: url('../images/lp-new-year-2018/ny-start-hero-bg-peach.png');
            background-size: cover;
            position: static;
        }

        .w-container {

            height: 500px;

            @include phone {
                height: 570px;
            }

            @include sm {
                height: 450px;
            }

            @include lg {
                height: 540px;
            }

        }

        .header__caption {

            text-align: left;
            width: 100%;

            margin-top: 20px;

            @include sm {
                margin-top: 42px;
            }

            @include lg {
                text-align: center;
                width: 50%;
                margin-top: 0;
            }

            p.subtitle {

                //max-width: 80%;
                margin-left: 0;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 25px;
                color: $grey;
                letter-spacing: -1px;


                @include phone {
                    //font-size: 20px;
                    //line-height: 24px;
                    //letter-spacing: -1px;
                }

                @include sm {
                    max-width: unset;
                    line-height: 31px;
                    margin-bottom: 30px;
                }

                @include lg {
                    margin: auto;
                    margin-bottom: 30px;

                    max-width: 350px;
                    font-size: 23px;
                }

            }

            span.gift {
                display: block;

                @include lg {
                    display: inline-block;
                }
            }

            p.deadline {

                max-width: unset;
                font-size: 13px;
                line-height: 15px;
                margin-top: 15px;
                margin-bottom: 0;
                color: $grey70;

                @include sm {
                    font-size: 14px;
                    line-height: 17px;
                    margin-top: 20px;
                }

            }

            .button--primary, a.button--primary {
                height: 42px;
                padding: 0 24px;
                font-size: 13px;

                @include sm {
                    height: 50px;
                    padding: 0 48px;
                    font-size: 14px;
                }
            }

        }

        .header__title {

            position: relative;

            .badge {
                position: absolute;
                right: 0;
                top: -30px;
                width: 80px;

                @include phone {
                    width: auto;
                    top: -20px;
                }

                @include sm {
                    top: -15px;
                }

                @include lg {
                    top: 5px;
                }
            }
            
            .only-desktop {
                display: none;
                
                @include lg {
                    display: inline;
                }
            }

            h1 {

                //font-size: 43px;
                //line-height: 38px;
                color: $pineGreen;
                letter-spacing: -2px;
                font-weight: 700;
                //margin-bottom: 25px;
                margin-bottom: 18px;
                font-size: 34px;
                line-height: 38px;

                @include phone {
                    //font-size: 52px;
                    //line-height: 48px;
                    font-size: 38px;
                    line-height: 43px;
                }

                @include sm {
                    //font-size: 70px;
                    //line-height: 80px;
                    margin-bottom: 15px;

                    font-size: 48px;
                    line-height: 56px;
                    max-width: 60%;
                }

                @include lg {
                    //font-size: 80px;
                    //line-height: 90px;
                    font-size: 56px;
                    line-height: 62px;
                    max-width: 100%;
                }

                /*span {

                    font-weight: 600;
                    display: block;

                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0;
                    text-transform: uppercase;

                    @include phone {
                        font-size: 20px;
                        line-height: 31px;
                    }

                    @include sm {
                        font-size: 22px;
                    }

                    @include lg {
                        font-size: 24px;
                    }

                }*/
            }

        }

        .header__image {

            position: absolute;
            bottom: -50px;
            right: -15vw;
            width: 90vw;

            @include phone {
                bottom: -20px;
                right: -8vw;
                width: 330px;
            }

            @include sm {
                bottom: 0;
                right: 15px;
                width: 400px;
            }

            @include lg {
                position: static;
                width: 50%;
                height: 100%;
                padding-top: 50px;

                img {

                    height: 490px;
                    width: auto;
                }
            }

        }

        .header__offer-expired {
            display: none;
            color: #333;
            border-top: 2px solid #00573e;
            font-weight: 600;
            padding-top: 20px;
            max-width: 220px;
            font-weight: 600;
            padding-right: 30px;
            font-size: 16px;

            @include lg {
                font-size: 18px;
                padding-right: 0;
                padding-top: 28px;
                max-width: 390px;
                margin: auto;
            }
        }

        .clock-holder {
            margin-bottom: 30px;

            @include sm {
                margin-bottom: 44px;
            }
        }

    }

}

