//// pages.cms ////

.cms {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    @include sm {
        font-size: 19px;
    }

    .one-column-full-width & {
        max-width: none;
        margin: 0;
    }

    > section {
        + section,
        ~ .block-component {
            margin-top: 60px;
            @include md {
                margin-top: 72px;
            }
            @include lg {
                margin-top: 84px;
            }
        }

        > *:not(hr) {
            margin-bottom: 0;
        }

        > * + * {
            margin-top: 20px;
            @include sm {
                margin-top: 24px;
            }
            @include lg {
                margin-top: 28px;
            }
        }

        > a {
            display: block;
        }

        > :last-child:not(hr) {
            margin-bottom: 0;
        }
    }

    .block-component {
        + section,
        + .block-component {
            margin-top: 60px;
            @include md {
                margin-top: 72px;
            }
            @include lg {
                margin-top: 84px;
            }
        }
    }

    h2,
    .h2 {
        font-weight: 700;
    }

    p,
    li {
        line-height: 1.6;
    }

    ul {
        margin-bottom: 24px;
    }


    // img size, vertical spacing and hover state
    > img,
    section > img,
    .article > img {
        @include md {
            max-width: 750px;
        }
    }
    > img,
    > a > img {
        margin-bottom: 24px;
    }
    section > img {
        + * {
            //margin-top: 24px;
        }
    }
    section > a > img {
        //margin-bottom: 24px;
    }
    a {
        > img {
            border: 3px solid transparent;
            transition: 0.2s;
        }
        &:hover > img {
            border-color: $lightPeach;
        }
    }


    // CMS components //
    .cms-cta {
        padding: 36px 18px;
        text-align: center;
        @include sm {
            padding: 48px 36px;
        }

        &--boxed {
            background-color: $grey10;
            border: 1px solid $grey15;
            border-radius: 5px;
        }

        h3 {
            font-size: 22px;
            font-weight: 700;
            @include sm {
                font-size: 24px;
            }
            @include lg {
                font-size: 26px;
            }
        }

        p {
            max-width: 600px;
            margin: 0 auto 24px;
        }

        :last-child {
            margin-bottom: 0;
        }
    }


    .article__footer {
        color: $grayDark;
        font-size: 15px;

        a {
            color: $grayDark;
            text-decoration: underline;
            &:hover {
                color: $peach;
            }
        }
    }


    // Deprecated patterns //
    // Articles
    .article__cta {
        margin: 36px 0;
        text-align: center;
        @include sm {
            margin: 48px 0;
        }

        h3 {
            margin-bottom: 24px;
        }
        .button {
            padding: 0 30px;
        }
    }

    // WHY Boxes
    .boxes {
        display: flex;
        flex-direction: column;
        @include sm {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 440px;
            min-height: 155px;
            margin: 0 auto 20px;
            padding: 18px 18px 18px 0;
            border: 1px solid $grayLightest;
            border-radius: 5px;
            @include sm {
                width: calc(50% - 12px);
                margin: 0 24px 24px 0;
                &:nth-of-type(even) {
                    margin-right: 0;
                }
            }
            @include md {
                min-height: 138px;
            }

            &-icon {
                display: flex;
                justify-content: center;
                width: 120px;
                img {
                    margin-bottom: 0;
                }
            }

            &-text {
                flex: 1;
            }

            h6 {
                color: $grayDarkester;
                font-size: 20px;
            }

            p {
                margin-bottom: 0;
                font-size: 16px;
            }
        }
    }

    // The easy 3 step user flow
    .the-flow {
        .row p {
            margin-top: 12px;
            text-align: center;
        }
    }

    //NEW
    .narrow-content {
        max-width: 800px;
        margin: auto;
    }

}



// Landings Legacy //
.landing {
    &-cta {
        min-height: 300px;
        margin-top: 30px;
        padding: 30px 0 20px;
        background-color: #fff;
        > .container {
            @include sm-max {
                background: none !important;
            }
        }
        h2 {
            margin-bottom: 0;
        }
        &-product {
            margin-bottom: 35px;
            .catalog-product-view & {
                margin-bottom: 0;
                .button {
                    margin-bottom: 0;
                }
            }
            &-action {
                margin-top: 20px;
            }
        }
    }
    &-page {
        .content-container {
            padding-bottom: 0;
        }
        p {
            color: $grayDarkest;
            font-size: 14px;
        }
        a {
            color: $blueDarkest;

        }
    }
}