// Unsubscribe confirmation page
.checkout-subscription-cancelconfirmation {
    main.content-container {
        padding-top: 20px;
        @include phone {
            padding-top: 30px;
        }
        @include sm {
            padding-top: 83px;
        }
    }

    h1 {

        margin-bottom: 36px;
        font-size: 28px;
        margin-top: 0;

        @include phone {
            margin-bottom: 48px;
            font-size: 34px;
        }

        @include sm {

            max-width: 500px;
            margin: auto;
            margin-bottom: 60px;

        }
    }

}

//Renew subscription

.checkout-subscription-renew {

    .content-container {
        padding-top: 80px;

        @include sm {
            padding-top: 120px;
        }
    }

    .header-container {
        display: none;
    }

    .narrow-content {
        max-width: 350px;
    }

    h1 {
        font-size: 34px;
    }

    .error-msg {
        margin-top: 24px;

        a {
            text-decoration: underline;
            color: inherit;
        }
    }

}