//// New landing page collection of sections ////

// Global styles for an LP section //
.lp-section {
    background-color: #fff;

    .w-container > h2 {
        margin-bottom: 36px;
        line-height: 1.3;
        @include sm {
            margin-bottom: 48px;
        }
        @include md {
            margin-bottom: 60px;
        }
        @include lg {
            margin-bottom: 72px;
        }
    }

    &.lp-section--how .nhs,
    &.lp-section--single-story .single-story__footer {
        margin-top: 36px;
        @include sm {
            margin-top: 48px;
        }
        @include md {
            margin-top: 60px;
        }
        @include lg {
            margin-top: 72px;
        }
    }

    > .w-container {
        padding-top: 36px;
        padding-bottom: 36px;
        @include sm {
            padding-top: 48px;
            padding-bottom: 48px;
        }
        @include md {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @include lg {
            padding-top: 72px;
            padding-bottom: 72px;
        }

        > h2 {
            text-align: center;
        }
    }

    h1 {
        margin-bottom: 24px;
        font-size: 56px;
        font-weight: 300;
        @include xxs {
            font-size: 62px;
        }
        @include xs {
            font-size: 70px;
        }
        @include sm {
            font-size: 78px;
        }
        @include md {
            margin-bottom: 48px;
            font-size: 86px;
        }
        @include lg {
            font-size: 94px;
        }
    }

    h2 {
        margin-bottom: 24px;
        font-size: 24px;
        @include xs {
            margin-bottom: 48px;
            font-size: 28px;
        }
        @include md {
            font-size: 32px;
        }
    }

    &--link-to-all {
        display: block;
        text-align: center;
        > a {
            display: inline-block;
            position: relative;
            padding-bottom: 6px;
            color: $peach105;
            text-decoration: none;
            &:after {
                position: absolute;
                top: 100%;
                left: 50%;
                content: '';
                width: 100%;
                height: 1px;
                background-color: $peach105;
                transition: 0.15s;
                transform: translateX(-50%);
            }

            &:hover {
                border-color: $peach;
                color: $peach;
                &:after {
                    width: 120%;
                    background-color: $peach50;
                    transform: translateX(-50%);
                }
            }
        }
    }
}



// LP Sections //

// Header
.lp-section--header {
    .w-container {
        padding-top: 24px;
        @include sm {
            padding-top: 36px;
        }
        @include md {
            padding-top: 48px;
        }
        @include lg {
            padding-top: 60px;
        }
    }
}





.lp-section--how-cmp {
    .w-container {
        @include v-padding(60, 1);
    }


    h2 {
        margin-bottom: 36px !important;
        color: #3d3d3c;
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        @include v-margin-dir(bottom, 36, 1);
    }

    .how {
        &-items {
            text-align: center;
            max-width: 944px;
            margin: 0 auto;
            @include sm {
                display: flex;
                justify-content: space-between;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto 36px;
            @include sm-max {
                max-width: 300px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            @include sm {
                margin: 0 auto 12px;
            }

            min-width: 240px;
            max-width: 300px;
            text-align: center;

            h3 {
                margin-bottom: 6px;
                color: $pineGreen;
                font-size: 26px;
                font-weight: 700;
                @include xs {
                    font-size: 24px;
                }
                @include md {
                    font-size: 26px;
                }
                @include lg {
                    font-size: 28px;
                }
            }

            p {
                max-width: 268px;
                font-size: 18px;
                margin-bottom: 0;
                padding: 0 24px;
                font-size: 18px;
            }
        }

        &-item__icon {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            min-height: 92px;
            margin-bottom: 24px;
            img {
                margin: 0;
            }
        }
    }

    &-text-only {
        .how-items {
            max-width: 450px;
            margin: 0 auto;
            padding: 0 6px;
            @include xxs {
                padding: 0 24px;
            }
            @include sm {
                max-width: 700px;
            }
        }
        .how-item {
            min-width: 260px;
            max-width: 260px;
            @include phone {
                min-width: 300px;
                max-width: 300px;
            }
            @include xxs {
                max-width: none;
            }

            h3 {
                font-size: 24px;
                font-weight: 400;
            }
            p {
                padding: 0;
                color: $grayDarkest;
                font-size: 12px;
                @include phone {
                    font-size: 16px;
                }
            }
        }
    }

    .slick-prev,
    .slick-next {
        &:before {
            color: $grey;
            font-size: 16px;
        }
    }
    .slick-prev {
        left: -10px;
        @include xxs {
            left: -15px;
        }
    }
    .slick-next {
        right: -10px;
        @include xxs {
            right: -15px;
        }
    }

    .slick-dots li {
        button {
            background: $peach30;
        }
        &.slick-active {
            border-color: $peach;
            button {
                background: $peach;
            }
        }
    }
}

// How (Slick carousel)
.lp-section--how {
    .how {
        &-items {
            text-align: center;
        }

        &-item {
            display: none;
            min-width: 240px;
            max-width: 300px;
            text-align: center;

            h3 {
                margin-bottom: 6px;
                color: $pineGreen;
                font-size: 26px;
                font-weight: 700;
                //.cms & {
                    //font-weight: 600;
                //}
                @include xs {
                    font-size: 24px;
                }
                @include md {
                    font-size: 26px;
                }
                @include lg {
                    font-size: 28px;
                    //.cms & {
                        //font-size: 26px;
                    //}
                }
            }

            p {
                margin-bottom: 0;
                padding: 0 24px;
                font-size: 16px;
            }
        }

        &-item__icon {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            min-height: 92px;
            margin-bottom: 24px;
            img {
                margin: 0;
            }
        }
    }

    &-text-only {
        .how-items {
            max-width: 450px;
            margin: 0 auto;
            padding: 0 6px;
            @include xxs {
                padding: 0 24px;
            }
            @include sm {
                max-width: 700px;
            }
        }
        .how-item {
            min-width: 260px;
            max-width: 260px;
            @include phone {
                min-width: 300px;
                max-width: 300px;
            }
            @include xxs {
                max-width: none;
            }

            h3 {
                font-size: 24px;
                font-weight: 400;
            }
            p {
                padding: 0;
                color: $grayDarkest;
                font-size: 12px;
                @include phone {
                    font-size: 16px;
                }
            }
        }
    }

    &-static {

        .how-item {
            display: inline-block;
        }

    }


    .slick-prev,
    .slick-next {
        &:before {
            color: $grey;
            font-size: 16px;
        }
    }
    .slick-prev {
        left: -10px;
        @include xxs {
            left: -15px;
        }
    }
    .slick-next {
        right: -10px;
        @include xxs {
            right: -15px;
        }
    }

    .slick-dots li {
        button {
            background: $peach30;
        }
        &.slick-active {
            border-color: $peach;
            button {
                background: $peach;
            }
        }
    }
}


// Why
.lp-section--why-cmp {
    &:last-of-type .w-container {

        @include v-padding-dir(bottom, 60, 1);
    }


    .w-container {
        padding-top: 60px;

        @include sm {
            padding-bottom: 60px;
        }
        @include md {
            padding-bottom: 48px;
        }
        @include lg {
            padding-bottom: 12px;
        }

        h2 {
            margin-bottom: 0px;
            line-height: 1.2;

            color: $grey;
            text-align: center;
            font-size: 17px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.3px;
        }
    }

    .why-item {
        @include sm {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .why-item__image {
        display: flex;
        justify-content: center;
        @include sm {
            width: 50%;
            padding: 0;
            background-color: transparent;
            border: 0;
        }

        img {
            @include sm-max {
                width: 100%;
                max-width: 500px;
            }
            @include md {
                max-width: 400px;
            }
            @include lg {
                max-width: 450px;
            }
        }
    }

    .why-item__copy {
        max-width: 500px;
        margin: 0 auto;
        padding: 48px 6px 0;
        text-align: center;
        @include sm {
            width: 50%;
            margin: 0 auto 0 0;
            padding: 0 12px 0 0;
            max-width: 450px;
            text-align: left;
        }
        @include md {
            padding: 0;
        }

        h3 {
            margin-bottom: 24px;
            color: $pineGreen;
            font-size: 36px;
            font-weight: 700;
            @include xs {
                font-size: 40px;
            }
            @include md {
                font-size: 44px;
            }
            @include lg {
                font-size: 48px;
            }
        }
        p {
            color: $grey;
            font-size: 18px;
            @include md {
                font-size: 20px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }


    &-reverse {
        .why-item {
            @include sm {
                flex-direction: row-reverse;
            }
        }
        .why-item__copy {
            @include sm {
                margin: 0 0 0 auto;
            }
        }
    }


    &-carousel {
        .w-container {

            @include sm-max {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            @include sm {
                padding-bottom: 0;
            }
            @include mq(1600px) {
                padding: 72px 0;
            }
        }

        .why-item__wrapper {
            display: none;
        }

        .why-item {
            @include sm {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &__image {
                @include sm {
                    max-width: 500px;
                    .cms & {
                        //max-width: 375px;
                    }

                    img {
                        max-width: 375px;
                    }
                }
                @include md {
                    img {
                        max-width: 425px;
                    }
                }
                @include lg {
                    img {
                        max-width: 475px;
                    }
                }
            }

            &__copy {
                padding: 36px 6px;
                @include sm-max {
                    max-width: none;
                    margin: 0;
                    padding: 36px 18px;
                    padding-bottom: 0;
                    background-color: #fff;
                    > * {
                        max-width: 400px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                @include sm {
                    padding: 0;
                    background-color: transparent;
                    .cms & {
                        //width: 60%;
                    }
                }

                h3 {
                    font-size: 32px;
                    @include xs {
                        font-size: 36px;
                    }
                    @include md {
                        font-size: 40px;
                    }
                    @include lg {
                        font-size: 44px;
                    }
                }
            }
        }

        .slick-dots {
            @include sm-max {
                margin-top: 24px;
            }
            @include sm {
                position: absolute;
                bottom: 155px;
                left: 49.5%;
                width: auto;
                margin: 0;
            }
            @include md {
                bottom: 160px;
                .cms & {
                    //bottom: 140px;
                    //left: 400px;
                }
            }
            @include mq(1048px) {
                left: 500px;
            }
        }
    }


    &.bg--grey05 {
        @include sm-max {
            background-color: #fff;
        }
    }
}



// FAQ
.lp-section--faq {
    .faq {
        h2,
        .panel-group {
            max-width: 600px;
            margin: 0 auto;
        }
        h2 {
            margin-bottom: 24px;
            text-align: center;
        }
        .panel-group {
            text-align: left;
        }

        .panel-heading a {
            color: $grayDarkest;
            font-weight: 400;
            &[aria-expanded="true"] {
                font-weight: 600;
            }
        }
    }
}



// Quote Banner
.lp-section--banner-quote {
    // Layout
    position: relative;

    @include grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 2fr;
        @include sm {
            grid-template-rows: 1fr;
        }

        .banner__caption {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            display: grid;
            justify-items: center;
            align-items: center;
            position: relative;
            @include sm {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
        }
    }

    @include nogrid {
        .banner__caption {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 40%;
            @include sm {
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
            }
        }
    }

    picture {
        grid-column: 1 / 3;
        grid-row: 1 / 3;

        img {
            @include sm-max {
                width: 100%;
            }
        }
    }



    // Style
    .banner__caption {
        background-color: rgba($oceanBlue,0.8);
    }


    .banner__quote {
        max-width: 400px;
        text-align: center;
        @include xs {
            max-width: 320px;
        }
        @include md {
            max-width: 350px;
            margin-top: 0;
        }
        @include lg {
            max-width: 432px;
        }

        .quote {
            margin-bottom: 0;
            padding: 0 18px;
            line-height: 1.4;
            color: #fff;
            font-size: 16px;
            @include sm {
                font-size: 16px;
            }
            @include md {
                font-size: 18px;
            }
            @include lg {
                font-size: 21px;
            }
        }

        .quote-mark {
            position: absolute;
            @include xxs-max {
                display: none;
            }
            @include md-max {
                svg {
                    transform: scale(0.7);
                }
            }

            &--start {
                @include xxs {
                    top: 15px;
                    left: 10px;
                }
                @include xs {
                    top: 60px;
                    left: 60px;
                }
                @include sm {
                    top: 10px;
                    left: 5px;
                }
                @include md {
                    top: 30px;
                    left: 25px;
                }
            }
            &--end {
                @include xxs {
                    bottom: 15px;
                    right: 10px;
                }
                @include xs {
                    bottom: 60px;
                    right: 60px;
                }
                @include sm {
                    bottom: 10px;
                    right: 5px;
                }
                @include md {
                    bottom: 30px;
                    right: 25px;
                }
            }
        }
    }

    .quote__name {
        display: block;
        margin: 30px 0 0;
        color: $lightPeach;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        @include sm {
            margin-top: 18px;
        }
        @include lg {
            margin-top: 36px;
        }

        span {
            font-weight: 400;
        }
    }
}



// LP Modifiers & Utilities //
.lp-section--no-bg {
    background-image: none !important;
}

.lp-section--border-top {
    .w-container:before {
        position: relative;
        top: -36px;
        content: '';
        display: block;
        height: 1px;
        background-color: $grey20;
        @include sm {
            top: -48px;
        }
        @include md {
            top: -60px;
        }
        @include lg {
            top: -72px;
        }
    }
}

.lp-section--border-bottom {
    .w-container:after {
        position: relative;
        bottom: -36px;
        content: '';
        display: block;
        height: 1px;
        background-color: $grey20;
        @include sm {
            bottom: -48px;
        }
        @include md {
            bottom: -60px;
        }
        @include lg {
            bottom: -72px;
        }
    }

    &.lp-section--padding-less .w-container:after {
        bottom: -24px;
        @include sm {
            bottom: -29px;
        }
        @include lg {
            bottom: -34px;
        }
    }
}

.lp-section--padding-less {
    .w-container {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
        @include sm {
            padding-top: 29px !important;
            padding-bottom: 29px !important;
        }
        @include lg {
            padding-top: 34px !important;
            padding-bottom: 34px !important;
        }
    }
}
