// Kristin K and Alexander Ö LP //
.lp-media-article {
    @include main-no-padding-top;

    .lp-section {
        text-align: center;

        .w-container {
            @include v-padding(48,1.2);
        }

        .narrow-content {
            max-width: 600px;
            margin: 0 auto;
        }

        h1 {
            .with-subheader {
                margin-bottom: 12px;
            }

            line-height: 1.2;
            color: $lightPeach;
            font-size: 32px;
            font-weight: 700;
            @include xs {
                font-size: 44px;
            }
            @include md {
                font-size: 48px;
            }
            @include lg {
                font-size: 52px;
            }
        }

        h3 {
            margin-bottom: 36px;
            line-height: 1.2;
            color: $pineGreen;
            font-size: 26px;
            font-weight: 400;
            @include sm {
                margin-bottom: 48px;
            }
            @include md {
                font-size: 30px;
            }
            @include lg {
                font-size: 32px;
            }
        }

        h4 {
            margin-bottom: 36px;
            line-height: 1.2;
            color: $peach;
            font-size: 24px;
            font-weight: 500;
            @include xs {
                font-size: 28px;
            }
            @include md {
                font-size: 30px;
            }
            @include lg {
                font-size: 32px;
            }
        }

        .lead {
            font-size: 19px;
            @include sm {
                font-size: 21px;
            }
        }

        .quote {
            margin-top: 24px;
            line-height: 1.2;
            color: $peach;
            font-size: 22px;
            font-weight: 500;

            @include sm {
                max-width: 380px;
                margin-top: 48px;
                text-align: left;
            }
            @include md {
                font-size: 24px;
            }
            @include lg {
                font-size: 26px;
            }
        }

        .w-container > .heading--uppercase {
            font-size: 17px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.3px;
        }
    }



    .lp-section--header {
        height: 460px;
        background-image: url("../images/lp-kristin-kaspersen-header-mobile-v1-comp.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        @include md {
            background-image: url("../images/lp-kristin-kaspersen-header-v1-comp.jpg");
            background-size: auto;
        }
        @include lg {
            height: 600px;
            background-position: center top;
            background-size: cover;
        }
    }

    .lp-section--header-alexander-ostlund {
        height: 360px;
        background-image: url("../images/lp-alexander-ostlund-header-mobile-v3.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        @include xs {
            height: 460px;
            background-image: url("../images/lp-alexander-ostlund-header-v3.jpg");
        }
        @include lg {
            height: 600px;
            background-position: center top;
            background-size: cover;
        }
    }




    // Media object custom
    .media-object {
        align-items: flex-start;

        &__image {
            img {
                width: 100%;
                max-width: 380px;
            }
        }
    }



    // Instagram like image flow
    .media-items {
        @include xxs {
            margin-top: 36px;
        }
        @include xs {
            margin-top: 48px;
        }
        @include sm {
            display: flex;
            margin: 0;
        }

        li {
            margin-bottom: 0;
            @include sm {
                width: 33.3333%;
            }
        }

        img {
            @include lg {
                width: 100%;
                max-width: none;
            }
        }
    }



    // Media object w bio modification
    .lp-section--bio {
        .lead {
            @include v-margin-dir(bottom, 60, 1);
        }

        .media-object {
            max-width: 768px;
            padding: 24px;
            @include xs {
                display: flex;
                align-items: center;
            }
        }

        .media-object__image {
            width: 230px;
            @include xs-max {
                margin: 0 auto 24px;
            }
            @include xs {
                margin-bottom: 0;
            }

        }

        .media-object__copy {
            flex: 1;
            margin-left: 24px;
            @include xs-max {
                max-width: 400px;
                margin: 0 auto;
                text-align: center;
            }

            p:first-of-type {
                margin-bottom: 12px;
                color: $peach;
                font-size: 24px;
                @include sm {
                    font-size: 26px;
                }
                @include lg {
                    font-size: 28px;
                }
            }
        }
    }



    // Custom styles for non-carousel How
    .lp-section--how {
        .how-items {
            max-width: 944px;
            margin: 0 auto;
            @include sm {
                display: flex;
                justify-content: space-between;
            }
        }

        .how-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto 36px;
            @include sm-max {
                max-width: 300px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            p {
                max-width: 268px;
                font-size: 18px;
            }
        }
    }



    .lp-section--tests {
        .w-container {
            @include v-padding(48, 1);
        }
    }
}
