//// Werlabs Health Check product (formerly known as XL) ////
.lp-health-check {
    @include main-no-padding-top;

    .lp-section--markers {
        .w-container {
            h2 {
                color: $grey;
                font-size: 28px;
                font-weight: 700;
            }

            .post-header {
                font-size: 20px;
                text-align: center;
                line-height: 1.3;
                max-width: 400px;
                margin: -24px auto 36px auto;
                padding: 0 15px;

                @include sm {
                    font-size: 22px;
                    margin: -60px auto 60px auto;
                    padding: 0;
                }
            }
        }
    }

    .lp-section--header {
        text-align: center;

        .w-container {
            display: flex;
            justify-content: center;
            align-items: center;

            @include phone-max {
                height: calc(100vh - 59px);
            }
            @include xxs {
                //height: 472px;
            }
        }

        .test--product__icon {
            width: 126px;
            margin: 0 auto 12px;
        }

        h1 {
            margin-bottom: 18px;
            color: $pineGreen;
            font-size: 36px;
            font-weight: 700;
        }

        p {
            max-width: 435px;
            margin: 0 auto 24px;
            @include xxs-max {
                padding: 0 12px;
            }
        }

        .button--primary {
            color: $pineGreen;
        }
    }



    .lp-section--order {
        .w-container {
            @include v-padding(72, 1);

            > h2 {
                margin-bottom: 72px;
                padding: 0 36px;
            }

            .product__discount-notification {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 432px;
                margin: 0 auto 36px;
                padding: 24px;
                background-color: $yellow105;
                border-radius: 8px;
                text-align: center;
                color: #fff;
                font-weight: 600;

                &--error {

                }

                &--success {
                    background-color: $mintGreen90;
                }
            }
        }

        .product-toggle {
            display: flex;
            width: 100%;
            max-width: 432px;
            height: 54px;
            margin: 0 auto 24px;
            border: 1px solid $oceanBlue80;
            border-radius: 8px;
            @include sm {
                margin-bottom: 36px;
            }

            &:hover,
            &:focus {
                text-decoration: none;
            }

            &__button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
                border: 2px solid #fff;
                border-radius: 7px;
                text-align: center;
                line-height: 1.2;

                &:first-of-type {
                    background-color: $oceanBlue90;
                    span {
                        color: #fff;
                        font-size: 16px;
                    }
                    .product-toggle__price {
                        display: none;
                    }
                }
            }

            span {
                color: $oceanBlue;
                font-size: 15px;

                &.product-toggle__type {
                    font-weight: 700;
                    letter-spacing: 1.4px;
                    text-transform: uppercase;
                }

                &.product-toggle__price {
                    font-weight: 600;
                    font-size: 14px;
                    //font-weight: 300;
                    letter-spacing: 1.2px;
                }
            }
        }

        .discount-error {
            margin-bottom: 36px;

            p {
                text-align: center;
                color: $errorColor;
            }
        }

        .product__info {
            margin: 0 auto;
            padding: 0 6px;
            flex-direction: column;
            @include sm-max {
                max-width: 432px;
            }
            @include sm {
                max-width: 600px;
                flex-direction: row;
            }
        }

        .product__info--box {
            .product__button--desktop {
                display: none;
                @include sm {
                    display: block;
                }
            }

            .product__button--mobile {
                margin-top: 48px;
                text-align: center;
                display: block;
                @include sm {
                    display: none;
                }
            }
        }

        .product__info--box-1 {
            @include sm {
                width: 45%;
            }
        }

        .product__info--box-2 {
            @include sm {
                width: 55%;
            }
        }

        .product__tag {
            margin-bottom: 0px;
            font-size: 15px;
            line-height: 0.8;
            //letter-spacing: 1.4px;
            @include phone {
                font-size: 16px;
            }
            @include xxs {
                font-size: 17px;
            }
        }

        h3 {
            margin-bottom: 6px;
            font-size: 24px;
            @include phone {
                font-size: 28px;
            }
            @include xxs {
                font-size: 32px;
            }
            @include sm {
                font-size: 38px;
            }

            span {
                @include sm {
                    display: block;
                }
            }
        }

        .product__price {
            margin-bottom: 6px;
            font-size: 32px;
            font-weight: 700;
            @include sm {
                margin-bottom: 24px;
                font-size: 38px;
            }

            .price-main {
                span {
                    margin-left: 3px;
                    color: $grey80;
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            .price-additional-info {
                color: $grey80;
                font-size: 14px;
                font-weight: 400;
            }


        }

        .product__image {
            @include sm {
                margin-bottom: 12px;
            }
        }

        ul {
            margin-bottom: 0;
            padding-left: 24px;
            list-style: disc;
            color: $grey80;
            font-size: 16px;
            min-height: 72px;

            li {
                @include sm {
                    margin-bottom: 12px;
                    line-height: 1;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .product__disclaimer {
            margin: 12px 0 0;
            color: $grey80;
            font-size: 13px;
            @include sm-max {
                width: 100%;
                padding-right: 12px;
            }
            @include sm {
                padding-left: 6px;
            }
        }


        // For what happens on button toggle
        .once {
            display: flex;
        }

        .recurring {
            display: none;
        }

        &.product--recurring {
            .product-toggle {
                &__button {
                    &:first-of-type {
                        background-color: transparent;
                        span {
                            color: $oceanBlue;
                        }
                        .product-toggle__price {
                            display: block;
                        }
                    }

                    &:last-of-type {
                        background-color: $oceanBlue90;
                        span {
                            color: #fff;
                            font-size: 16px;
                        }
                        .product-toggle__price {
                            display: none;
                        }
                    }
                }
            }

            .recurring {
                display: flex;
            }

            .once {
                display: none;
            }
        }
    }



    .lp-section:last-of-type {
        .w-container {
            @include v-padding(72,1);

            h2 {
                color: $pineGreen;
            }
        }
    }



    .lp-section--why-xl {
        .w-container {
            h2 {
                color: $pineGreen;
                margin-bottom: 24px;
            }
            padding-bottom: 0px;
        }
    }




    .lp-section--faq {
        .faq {
            h2 {
                max-width: 800px;
                margin-bottom: 6px;
                line-height: 1.2;
                color: $pineGreen;
                font-size: 36px;
                font-weight: 700;

                @include xs {
                    font-size: 40px;
                }
                @include md {
                    font-size: 44px;
                }
                @include lg {
                    font-size: 48px;
                }
            }

            h3 {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 48px;
                line-height: 1.2;
                max-width: 800px;
                text-align: center;
                font-size: 24px;
                font-weight: 400;

                @include xs {
                    font-size: 28px;
                }
                @include md {
                    font-size: 32px;
                }
                @include lg {
                    font-size: 36px;
                }
            }

            .panel-group {
                max-width: 800px;

            }

            .panel-heading a {
                font-weight: 600;
            }


            .panel-body {
                a {
                    color: $peach;
                }
            }
        }


        .lp-section--link-to-all {
            @include v-margin-dir(top, 24, 1.5);
        }
    }


    .comparison-table {

        border: 1px solid $lightPeach;
        table-layout: fixed;
        width: 100%;

        tr {
            border-bottom: 1px solid $lightPeach;

            &:last-child {
                //border-bottom: 0;
            }

            th, td {
                border-right: 1px solid $lightPeach;
                padding: 20px;
                text-align: center;

                &:last-child {
                    border-right: 0;
                }
            }

            th {

                background-color: $lightPeach30;

                h3 {
                    color: $pineGreen;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 0;
                    line-height: 1.5;
                }

            }

            td {

                vertical-align: top;

                h3 {
                    font-size: 22px;
                    color: $lightPeach;
                    font-weight: 600;
                }

                h4 {
                    font-size: 18px;
                    color: $lightPeach;
                    margin-bottom: 16px;
                }


            }

            td.health-area {

                vertical-align: middle;

                p {
                    font-size: 14px;
                    margin-bottom: 6px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

            }

        }

    }



    .lp-section--premium-cta {

        text-align: center;

        h1 {
            margin-bottom: 18px;
            color: #0F5440;
            font-size: 36px;
            font-weight: 700;
        }

        ul.blood-test__usps {
            margin: 24px auto;
            text-align: left;
            max-width: 420px;

            li:before {
                padding-top: 8px;

            }
        }

        .product__price {
            font-weight: 700;
            font-size: 32px;
            margin-bottom: 36px;
        }

    }



}





