// Testimonials

.cms-omdomen {

    .w-cms {

        padding: 0 20px;

        @include sm {
            max-width: 800px;
            margin: 0 auto;
            padding: 0;
        }

    }
}

.testimonials {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 18px;

    &__block {
        width: 100%;
        margin-bottom: 40px;

        @include sm {
            width: 48%;
        }
    }

    &__quote {
        background-color: #fff;
        padding: 25px 30px 25px 65px;
        border-radius: 4px;
        box-shadow: 0 2px 10px 0 rgba(150, 171, 182, 0.08);
        position: relative;

        &:before {
            content: '\201C';
            font-size: 80px;
            display: block;
            position: absolute;
            top: 0;
            left: 15px;
            color: $lightPeach;
        }

    }

    &__footer {
        padding: 20px 25px 0;
        position: relative;

        &:before {
            content: '';
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #fff;
            display: block;
            position: absolute;
            top: 0;
            left: 25px;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 16px;
    }

    &__block-large {
        width: 100%;
    }

}