//// PRODUCT VIEW ////
.catalog-product-view {

}

.product-view {
    max-width: 800px;
    margin: 0 auto;

    .std {
        ul {
            li {
                margin-bottom: 18px;
                line-height: 1.7;
                > strong a {
                    color: $grey;
                    &:hover,
                    &:focus {
                        color: $grey;
                    }
                }
            }
        }
    }

    .regular-price .price {
        color: $grey;
        font-size: 22px;
        font-weight: 600;
    }
}



// Gift card product page
.product-view-giftcard {
    min-height: 500px;
    .std {
        max-width: 500px;
        p {
            margin-bottom: 30px;
            font-size: 115%;
        }
    }
    .giftcard-info {
        margin-bottom: 20px;
    }
    .form-list {
        max-width: 200px;
    }
    .button.btn-cart {
        padding: 0 25px;
    }
}
