//// Blood Test Categories ////
.lp-test-category {
    @include main-no-padding-top;

    .lp-section--header {
        .w-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 182px;
            padding: 0;
            text-align: center;
        }

        h1 {
            margin-bottom: 0;
            color: #fff;
            font-size: 32px;
            font-weight: 700;
            @include phone {
                font-size: 34px;
            }
            @include xxs {
                font-size: 38px;
            }
        }
    }


    .lp-section--tests {
        .markers li span {
            margin: 7px 12px 7px 0;
            background-color: $grey15;
            color: $grey90;
        }
    }


    .lp-section--test-categories {
        .w-container {
            h2 {
                margin-bottom: 48px;
                color: $pineGreen;
                font-size: 32px;
                font-weight: 700;
            }
        }
    }


    // To hide the test category of the current page
    .bg--oceanBlue ~ .lp-section--test-categories .test-category:first-of-type {
        display: none;
    }

    .bg--lightPeach ~ .lp-section--test-categories .test-category:nth-of-type(2) {
        display: none;
    }

    .bg--mintGreen ~ .lp-section--test-categories .test-category:nth-of-type(3) {
        display: none;
    }

    .bg--yellow ~ .lp-section--test-categories .test-category:nth-of-type(4) {
        display: none;
    }

    .bg--burgundy ~ .lp-section--test-categories .test-category:nth-of-type(5) {
        display: none;
    }

    .bg--beige ~ .lp-section--test-categories .test-category:nth-of-type(6) {
        display: none;
    }
}