//// Referral Program LP ////

.lp-referral {
    @include main-no-padding-top;

    .w-container {
        @include xxs-max {
            padding-left: 18px;
            padding-right: 18px;
        }
    }

    .footer-top {
        border: 0;
    }

    .lp-section {
        color: #4E4E4D;
        h2, h3, h4, h5, h6 {
            color: #4E4E4D;
        }
    }

    .lp-section--header {
        background-image: url('../images/lp-referral-header-left-bg.svg'), url('../images/lp-referral-header-right-bg.svg');
        background-repeat: no-repeat;
        background-position: left top 200px, right top;
        background-size: 80px, 120px;

        @include sm {
            background-position: left calc(50% - 200px), right top;
            background-size: 140px, 220px;
        }
        @include lg {
            background-position: left calc(50% - 200px), right top;
            background-size: 180px, 270px;
        }

        > .w-container {
            @include v-padding-dir();
        }

        .header__caption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 60vh;
            text-align: center;
            @include xxs {
                min-height: 0;
                padding: 0 24px;
            }

            h1 {
                max-width: 400px;
                color: $pineGreen;
                font-size: 52px;
                font-weight: 700;
                @include sm {
                    max-width: 500px;
                    font-size: 70px;
                }
                @include md {
                    font-size: 78px;
                }
                @include lg {
                    max-width: 800px;
                    font-size: 86px;
                }

                span {
                    color: $peach;
                }
            }

            p {
                max-width: 500px;
                margin-bottom: 0;
                font-size: 22px;
                @include md {
                    max-width: 600px;
                }
            }
        }

        .lp-section--blood-tests {
            @include sm-max {
                background-position: center bottom -300px;
            }

            .lp-section--link-to-all {
                @include v-margin-dir();
            }
        }
    }


    .lp-section--how {
        h2 {
            @include md-max {
                margin-top: 24px;
            }
        }
        .how-item__icon {
            min-height: 92px;
        }
    }


    .lp-section--why {
        .why-item__copy {
            h3 {
                color: $peach;
            }
        }

        &-reverse .why-item__copy h3 {
            color: $oceanBlue;
        }
    }
}