//// Cart page
.cart {
    &__to-checkout {
        text-align: right;
    }
    .modal {
        &-body {
            padding-bottom: 35px;
        }
        &-close {
            display: block;
            margin-bottom: 15px;
        }
        h3 {
            clear: both;
            margin-bottom: 20px;
            text-align: center;
        }
        &-action {
            display: flex;
            flex-direction: column;
            align-items: center;
            > span {
                display: block;
                margin-top: 5px;
                color: $gray;
            }
        }
        .button {
            height: 40px;
            border-radius: 20px;
            line-height: 40px;
            font-size: 15px;
        }
        .choice {
            max-width: 180px;
            margin: 15px auto 20px;
        }
    }

    > form {
        @include xs {
            padding: 0;
            border: 0;
        }
        @include xs-max {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    .mobile {
        @include mq(576px) {
            display: none;
        }
    }
    .desktop {
        @include mq-max(575.98px) {
            display: none;
        }
    }
    .data-table {
        border: 0;
        > thead > tr > th {
            border-width: 0 0 1px;
            font-size: 13px;
            font-weight: 500;
        }
        > tbody > tr {
            > td {
                background-color: #fff;
                border: 0;
                border-top: 1px dashed $grayLightest;
                vertical-align: middle;
                .product-name {
                    text-align: left;
                    font-size: 15px;
                    a:not(.btn-remove) {
                        display: inline-block;
                        line-height: 30px;
                    }
                }
                .qty {
                    background-color: #fff;
                    &:disabled {
                        background-color: transparent;
                        border-color: transparent;
                    }
                }
                .item-msg {
                    margin: 5px 0;
                }
            }
            &.first > td {
                border: 0;
            }
            &.first.last > td {
                border-bottom: 1px solid $grayLightest;
            }
            &.mobile .input-text {
                float: right;
            }
            &.second-row td {
                border: 0;
            }
        }
    }

    .totals {
        width: 100%;
        max-width: 300px;
        margin: 30px 0 0 auto;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        border: 0;
        text-align: right;
        table {
            margin-bottom: 15px;
            font-size: 18px;
            > tbody > tr > td {
                border: 0;
            }
        }
        .btn-cart {
            &:disabled {
                background-color: $grayLighter;
            }
        }
    }
    &-table .button {
        padding: 0 10px;
        border-radius: 15px;
        line-height: 30px;
    }
}

.btn-remove2,
.btn-remove {
    margin-left: 10px;
    color: $grey40;
    &:after {
        @include wicon();
        content: '\f02d';
        font-size: 18px;
    }
    &:hover {
        color: $peach;
    }
}