// ICA Recipes LP //
.lp-recipes {

    @include main-no-padding-top;

    .lp-section {
        text-align: center;

        .narrow-content {
            max-width: 680px;
            margin: 0 auto;
        }

        h1 {
            line-height: 1.2;
            font-size: 36px;
            font-weight: 700;
            @include xs {
                font-size: 44px;
            }
            @include md {
                font-size: 48px;
            }
            @include lg {
                font-size: 52px;
            }
        }

        h2 {
            font-size: 28px;
            font-weight: 700;
            @include sm {
                font-size: 36px;
            }
        }

        h3 {
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 12px;
        }

        p {
            font-size: 16px;
            @include sm {
                font-size: 18px;
            }
        }

        .lead {
            font-size: 18px;
            line-height: 28px;
            @include sm {
                font-size: 21px;
                line-height: 32px;
            }
        }

        .partners__logos {
            display: inline-block;
            width: 190px;
            margin-bottom: 36px;
            @include sm {
                width: auto;
                margin-bottom: 60px;
            }
        }

    }

    // Header with background image
    .lp-section--header {
        height: 248px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include sm {
            height: 300px;
        }
        @include md {
            height: 400px;
            background-size: auto;
        }
        @include lg {
            height: 450px;
            background-size: cover;
        }

        &.lp-recept-prediabetes-hjart-karl {
            background-image: url("../images/lp-recipes/lp-recipes-header-phk-mobile.jpg");
            @include md {
                background-image: url("../images/lp-recipes/lp-recipes-header-phk.jpg");
            }
        }

        &.lp-recept-behall-halsan {
            background-image: url("../images/lp-recipes/lp-recipes-header-behall-halsan-mobile.jpg");
            //background-position-y: center;
            @include md {
                background-image: url("../images/lp-recipes/lp-recipes-header-behall-halsan.jpg");
            }
        }
    }

    // CTA button section
    .lp-section--cta {
        text-align: center;

        .test--product__icon {
            width: 126px;
            margin: 0 auto 24px;
        }

        h2 {
            margin-bottom: 15px;
        }

        p {
            max-width: 400px;
            margin: 0 auto 24px;
            @include xxs-max {
                padding: 0 12px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // Markers
    .lp-section--markers {

        .w-container {

            padding-left: 12px;
            padding-right: 12px;
            @include phone {
                padding-left: 18px;
                padding-right: 18px;
            }
            @include xxs {
                padding-left: 24px;
                padding-right: 24px;
            }
            @include lg {
                padding-left: 12px;
                padding-right: 12px;
            }

            h2 {
                line-height: 32px;
                max-width: 90%;
                margin: 0 auto 48px;
                @include xxs {
                    line-height: 45px;
                }
            }

            h3.marker-group__title {
                font-size: 20px;
                margin-bottom: 24px;
            }

            p {
                text-align: left;
            }

            ul.bullets {
                text-align: left;
                margin: 0 24px;
            }

            hr {
                margin: 36px 0 40px;
            }
        }
    }



    //Feedback section
    .lp-section--feedback {

        .w-container {
            padding-top: 48px;
            padding-bottom: 48px;
            @include sm {
                padding-top: 60px;
                padding-bottom: 60px;
            }
            @include md {
                padding-top: 60px;
                padding-bottom: 60px;
            }
            @include lg {
                padding-top: 72px;
                padding-bottom: 72px;
            }
        }

        h3 {
            font-weight: 400;
            font-size: 24px;
            margin-bottom: 24px;
            color: $pineGreen;
        }

    }



    // Subscribe section
    .js-confirmation-section {
        display: none;
    }

    // Media object: 1/3 width image + 2/3 width copy
    & .media-object {

        &--thirds &__image {
            @include sm {
                width: 300px;
            }
            @include md {
                width: calc(33% - 36px);
            }
        }

        &--thirds &__copy {
            @include sm {
                width: calc(100% - 336px);
            }
            @include md {
                width: calc(66% - 36px);
            }
        }

    }

    // Media object: 1/3 width image + 2/3 width copy
    & .media-object--thirds .media-object__image {
        @include sm {
            width: 300px;
        }
        @include md {
            width: calc(33% - 36px);
        }
    }

    & .media-object--thirds .media-object__copy {
        @include sm {
            width: calc(100% - 336px);
        }
        @include md {
            width: calc(66% - 36px);
        }
    }

}

// Three round images
.round-images {
    width: 100vw;
    overflow: hidden;
    margin-left: -12px;
    @include phone {
        margin-left: -18px;
    }
    @include xxs {
        margin-left: -24px;
    }
    @include sm {
        width: auto;
        margin-left: auto;
    }

    & img {
        max-width: unset;
        margin-left: calc(50% - 330px);

        @include sm {
            max-width: 100%;
            margin-left: auto;
        }
    }
}

//Show & hide on mobile
.xs-show {
    display: block;
    @include sm {
        display: none;
    }
}

.xs-hide {
    display: none;
    @include sm {
        display: block;
    }
}

//Full width top image on mobile
.xs-show {
    &.full-width-top-image {
        margin-top: -36px;
        margin-left: -18px;
        margin-right: -18px;
        margin-bottom: 36px;
    }
}

// Lowercase button
[class^="button--"].unset-case {
    text-transform: unset;
}


