.lp-ny-followup {
    @include main-no-padding-top;

    .lp-section {
        color: $grey;

        .w-container {
            @include xxs-max {
                padding-left: 18px;
                padding-right: 18px;
            }
        }
    }

    .lp-section--header {
        text-align: center;

        .w-container {
            @include lg {
                padding: 36px 0;
            }
        }

        .resolution-icon {
            width: 75px;
            margin: 0 auto 6px;
        }

        h2 {
            margin-bottom: 12px !important;
            line-height: 1;
            color: $grey;
        }

        p {
            margin-bottom: 0;
            color: $grey;
        }
    }



    .lp-section--blood-tests {
        @include sm-max {
            background: url('../images/blood-tests-bg.svg') center bottom no-repeat;
        }

        h2 {
            margin-bottom: 24px !important;
            line-height: 1;
            color: $lightPeach;
            font-size: 40px;
            font-weight: 700;
            @include lg {
                font-size: 48px;
            }

            span {
                color: $burgundy;
            }
        }

        .lead {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            font-size: 20px;
            font-weight: 400;
        }

        .blood-test {
            background-color: #fff;

            &__image {
                padding: 24px;
                background-color: currentColor;
            }

            h3 {
                color: #fff;
                font-size: 24px;
                a {
                    color: #fff;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &__price {
                margin-bottom: 0;
                line-height: 1;
                color: #fff;
                font-size: 32px;
                font-weight: 600;
                &--old {
                    margin-left: 12px;
                    font-size: 24px;
                    font-weight: 300;
                    text-decoration: line-through;
                }
            }

            &__info {
                padding-top: 36px;
            }

            &__usps {
                margin-bottom: 36px;

                a {
                    color: $peach105;
                }
            }

            .button--secondary {
                margin-top: auto;
                @include phone-max {
                    padding: 0 10px;
                    span {
                        font-size: 13px;
                    }
                }
            }

            &--burgundy {
                .blood-test__ribbon {
                    background-color: $yellow;
                    color: $grey;
                }
            }
        }

        .blood-tests {
            &__link-to-all > a {
                display: inline-block;
                position: relative;
                margin-bottom: 36px;
                padding-bottom: 9px;
                color: $peach105;
                text-decoration: none;
                &:after {
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: $peach105;
                    transition: 0.15s;
                    transform: translateX(-50%);
                }

                &:hover {
                    border-color: $peach;
                    color: $peach;
                    &:after {
                        width: 120%;
                        background-color: $peach50;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }



    .lp-section--faq {
        @include sm {
            background: url('../images/lp-ny-followup-how-ripple.svg') right -50px bottom no-repeat;
            background-size: 180px;
        }
        @include lg {
            background-position: right -50px bottom;
            background-size: 220px;
        }

        h2 {
            color: $pineGreen;
            font-weight: 700;
        }
    }



    .lp-section--why-reverse {
        .why-item__copy h2 {
            color: $lightPeach;
            font-weight: 700;
        }
    }
}