// Styles for the SE start page //
.lp-start {
    @include main-no-padding-top;

    .lp-section {
        h2 {
            margin-bottom: 24px;
            line-height: 1.2;
            color: $pineGreen;
            font-size: 36px;
            font-weight: 700;
            @include xs {
                font-size: 40px;
            }
            @include md {
                font-size: 44px;
            }
            @include lg {
                font-size: 48px;
            }
        }

        .w-container .heading--uppercase {
            @include v-margin-dir(bottom, 36, 1);
            color: $grey;
            text-align: center;
            font-size: 17px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.3px;
        }

        &:last-of-type .w-container {
            @include v-padding-dir(bottom, 60, 1);
        }
    }



    .lp-section--header {
        background-image: url('../images/lp-start-header-bg-small-v4-comp.jpg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: auto 501px;
        @include sm {
            background-image: url('../images/lp-start-header-bg-medium-v4-comp.jpg');
            background-size: auto 531px;
        }
        @include lg {
            background-image: url('../images/lp-start-header-bg-large-v4-comp.jpg');
            background-size: auto 531px;
        }

        .w-container {
            display: flex;
            justify-content: center;
            height: 501px;
            padding-top: 0;
            padding-bottom: 0;
            @include xs {
                height: 524px;
            }
            @include sm {
                height: 531px;
            }
            @include md {
                height: 561px;
            }
            @include lg {
                justify-content: flex-start;
                align-items: center;
                height: 531px;
            }
        }

        .header__caption {
            margin-top: 42px;
            text-align: center;
            @include lg {
                margin-top: 0;
                text-align: left;
            }
        }

        h1 {
            margin-bottom: 12px;
            color: $pineGreen;
            font-size: 38px;
            font-weight: 700;
            @include xxs {
                font-size: 42px;
            }
            @include xs {
                font-size: 48px;
            }
            @include sm {
                margin-bottom: 18px;
                font-size: 58px;
            }
            @include md {
                font-size: 59px;
            }
            @include lg {
                font-size: 68px;
            }
        }

        p {
            margin: 0 auto 24px;
            font-size: 18px;
            @include xxs {
                max-width: 400px;
            }
            @include xs {
                font-size: 22px;
            }
            @include sm {
                font-size: 22px;
            }
            @include lg {
                max-width: 440px;
                margin: 0 0 36px;
                font-size: 24px;
            }
        }
    }



    .lp-section--how {
        .w-container {
            @include v-padding(60, 1);
        }

        .how-items {
            max-width: 944px;
            margin: 0 auto;
            @include sm {
                display: flex;
                justify-content: space-between;
            }
        }

        .how-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto 36px;
            @include sm-max {
                max-width: 300px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            p {
                max-width: 268px;
                font-size: 18px;
            }
        }
    }



    .lp-section--tests {
        .w-container {
            @include v-padding(48, 1);

            > p {
                text-align: center;
            }

            .test-categories + div {
                @include v-margin-dir(top, 48, 1);
                text-align: center;
            }
        }

        .hr-with-text {
            max-width: 600px;
            margin: 72px auto 36px;

            + p {
                margin-bottom: 48px;
                @include xxs-max {
                    max-width: 260px;
                    margin: 0 auto 48px;
                }
            }
        }

        @include xs-max {
            .test-category:last-of-type {
                display: none;
            }
        }





        // Style - moved from UK blood tests START BIBI
        /*background: url('../images/blood-tests-bg-small.svg') center bottom no-repeat;
        @include sm {
            background-image: url('../images/blood-tests-bg.svg');
        }
        @include mq(1920px) {
            background-position: center bottom -100px;
            background-size: 100%;
        }
        @include mq(2200px) {
            background-position: center bottom -200px;
        }

        .lp-section--link-to-all {
            @include v-margin-dir(top, 24, 1.5);
        }*/
        // Style - moved from UK blood tests END BIBI






    }



    .lp-section--media-object {
        .w-container {
            @include v-padding(60, 1);
        }

        .media-object {
            align-items: center;
        }

        .media-object__copy {
            @include sm {
                max-width: 420px;
                margin: 0 auto;
            }

            p {
                margin-bottom: 36px;
                line-height: 1.3;
                color: $pineGreen;
                font-size: 28px;
                @include sm {
                    font-size: 30px;
                }
                @include md {
                    font-size: 32px;
                }
                @include lg {
                    font-size: 32px;
                }

                span {
                    color: $peach;
                }
            }
        }
    }



    .lp-section--locations {
        background: url('../images/lp-start-locations-s-comp.jpg') no-repeat center center;
        @include sm-max {
            @include v-margin-dir(top, 24, 1.5);
        }
        @include sm {
            margin-bottom: 0;
            background-image: url('../images/lp-start-locations-md-comp.jpg');
        }
        @include lg {
            background-image: url('../images/lp-start-locations-lg-comp.jpg');
        }
        @include mq(1920px) {
            background-size: 100%;
        }

        .w-container {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 600px;
            padding-top: 0;
            padding-bottom: 18px;
            @include xxs {
                padding-bottom: 24px;
            }
            @include sm {
                align-items: center;
                padding-bottom: 0;
            }
        }

        .locations-caption {
            max-width: 640px;
            padding: 24px 18px 36px;
            background-color: #fff;
            text-align: center;
            @include xxs-max {
                h2 {
                    font-size: 30px;
                }
            }
            @include xxs {
                padding: 24px;
            }
            @include sm {
                padding: 36px;
            }
            @include md {
                max-width: 720px;
                padding: 36px 48px;
            }
            @include lg {
                max-width: 840px;
                padding: 48px 84px;
            }

            h2 {
                @include xxs-max {
                    font-size: 31px;
                }
                @include phone-max {
                    font-size: 26px;
                }
            }

            p {
                max-width: 640px;
            }

            .button--secondary {
                color: $peach;
            }
        }
    }



    .lp-section--faq {
        .faq {
            .panel-group {
                max-width: 720px;
            }

            .panel-heading a {
                font-weight: 600;
            }

            .panel-body {
                a {
                    color: $peach;
                }
            }
        }

        .lp-section--link-to-all {
            @include v-margin-dir(top, 24, 1.5);
        }
    }



    .lp-section--partners {
        .w-container {
            @include v-padding(60, 1.5)
        }

        .partners {
            text-align: center;

            h2 {
                max-width: 400px;
                margin: 0 auto 24px;
                @include xxs-max {
                    font-size: 31px;
                }
                @include sm {
                    max-width: none;
                }
            }
            p {
                max-width: 400px;
                margin: 0 auto 48px;
                @include sm {
                    max-width: 550px;
                    font-size: 16px;
                }
                @include lg {
                    max-width: 930px;
                    font-size: 20px;
                }
            }

            &__logos {
                max-width: 300px;
                margin: 0 auto;
                @include sm {
                    max-width: 550px;
                }
                @include lg {
                    max-width: 800px;
                }
            }
        }
    }
}