.giftcardslanding {

    main.content-container {
        padding-top: 0;
        @include sm {
            padding-top: 12px;
        }
    }

    .media-object--thirds {
        align-items: center;
        margin-bottom: 72px;
    }

    .media-object--thirds:last-child {
        margin-bottom: 48px;
    }

    .media-object--thirds .media-object__image {
        margin-bottom: 36px;
        @include sm {
            width: calc(42% - 36px);
            margin-bottom: 0;
        }
    }

    .media-object--thirds .media-object__copy {
        @include sm {
            width: calc(58% - 36px);
        }
    }

    h3 {
        font-weight: bold;
        font-size: 28px;
    }

    .giftcard-amount {
        font-weight: 700;
        margin-right: 15px;
    }


}


.lp-section {

    &.lp-section--giftcards-info {

        .w-container > h2 {
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 36px;
            @include sm {
                margin-bottom: 36px;
            }
            @include md {
                margin-bottom: 36px;
                font-size: 40px;
            }
            @include lg {
                margin-bottom: 36px;
            }
        }

        ol {
            max-width: 700px;
            margin: 0 auto;
            >li {
                position: relative;
                margin-bottom: 25px;
                padding-left: 35px;
                line-height: 28px;
                font-size: 100%;
                list-style-type: none;
                counter-increment: item;
                &:before {
                    position: absolute;
                    top: 3px;
                    left: 0;
                    color: $lightPeach;
                    font-size: 26px;
                    font-weight: 700;
                    content: counter(item);
                    @include sm {
                        font-size: 30px;
                    }
                }
                @include sm {
                    font-size: 115%;
                    padding-left: 40px;
                }
            }
        }
    }
}


//Choose giftcard amount page, probably move this part somewhere

.product-view-giftcard {

    h1 {
        margin: 0 0 36px 0;
        font-weight: 700;
        color: $lightPeach;
        text-align: center;
        @include sm {
            margin: 24px 0 48px 0;
        }
    }

    img {
        width: 400px;
        max-width: 100%;
        margin-bottom: 12px;
    }

    .std {
        margin: auto;
        text-align: center;

        p {
            margin-bottom: 20px;
            font-size: 100%;
            @include sm {
                margin-bottom: 30px;
                font-size: 115%;
            }
        }
    }

    .giftcard-info {
        text-align: center;

        fieldset {
            display: inline-block;
        }

        .form-list select {
            height: 48px;
            width: 180px;
        }

    }

    .add-to-cart {
        padding-top: 12px;
        text-align: center;
    }

}


