.lp-summer {
    @include main-no-padding-top;

    .lp-section {
        color: $grey;

        .w-container {
            @include xxs-max {
                padding-left: 18px;
                padding-right: 18px;
            }
        }

        h2 {
            margin-bottom: 24px;
            line-height: 1.2;
            color: $pineGreen;
            font-size: 36px;
            font-weight: 700;
            @include xs {
                font-size: 40px;
            }
            @include md {
                font-size: 44px;
            }
            @include lg {
                font-size: 48px;
            }
        }
    }



    .lp-section--header {
        background-image: url('../images/lp-summer-header-bg-small-comp.jpg');
        background-repeat: no-repeat;
        background-position: center;
        @include sm {
            background-image: url('../images/lp-summer-header-bg-medium-comp.jpg');
        }
        @include lg {
            background-image: url('../images/lp-summer-header-bg-comp.jpg');
        }
        @include mq(1920px) {
            background-size: auto;
            background-color: $lightPeach10;
        }

        .w-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 454px;
            padding-top: 0;
            padding-bottom: 0;
            @include sm {
                height: 460px;
            }
            @include lg {
                height: 406px;
            }
        }

        .header__caption {
            margin-bottom: 60px;
            @include sm {
                margin-bottom: 24px;
            }
            @include md {
                margin-bottom: 12px;
            }
            @include lg {
                margin-bottom: 0;
            }
        }

        h1 {
            margin-bottom: 12px;
            text-align: center;
            color: $peach;
            font-size: 50px;
            font-weight: 700;
            @include sm {
                margin-bottom: 24px;
                font-size: 60px;
            }
            @include md {
                font-size: 66px;
            }
            @include lg {
                font-size: 72px;
            }
        }

        p {
            max-width: 310px;
            margin: 0 auto;
            text-align: center;
            font-size: 18px;
            @include sm {
                max-width: 350px;
                font-size: 22px;
            }
        }
    }



    .lp-section--story {
        .w-container {
            @include v-padding(24, 2);
        }

        .story {
            display: flex;
            flex-direction: column-reverse;
            @include sm {
                max-width: 720px;
                margin: 0 auto;
            }
            @include md {
                flex-direction: row;
                align-items: center;
                max-width: none;
            }

            &__image {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 4%;
                @include md {
                    width: 50%;
                }
            }

            &__copy {
                @include md {
                    flex: 1;
                    padding: 0 3%;
                }
            }

            &__text {
                @include xxs {
                    columns: 2;
                    column-gap: 36px;
                }
                @include sm {
                    column-gap: 48px;
                }
                @include md {
                    columns: 1;
                }
            }

            h2 {
                font-weight: 700;
            }

            p {
                font-size: 18px;
                &:last-of-type {
                    margin-bottom: 18px;
                }
            }

            ul {
                padding-left: 20px;
                list-style: disc;
            }

            li {
                margin-bottom: 6px;
                line-height: 1.7;
                font-size: 18px;
                font-weight: 600;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &-reverse .story {
            @include md {
                flex-direction: row-reverse;
            }
        }

        &:not(.lp-section--story-pillar) {
            h2 {
                margin-left: auto;
                margin-right: auto;
                font-size: 24px;
                font-weight: 400;
                @include sm {
                    font-size: 28px;
                }
            }

            .story {
                &__image {
                    img {
                        max-width: 290px;
                        @include xxs {
                            max-width: 350px;
                        }
                        @include xs {
                            max-width: 400px;
                        }
                        @include sm {
                            max-width: 350px;
                        }
                        @include md {
                            max-width: 350px;
                        }
                    }
                }

                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &-one {
            h2 {
                @include xxs {
                    max-width: 400px;
                }
                @include sm {
                    max-width: 500px;
                }
                @include lg {
                    font-size: 32px;
                }
            }

            .story {
                p {
                    font-size: 18px;
                    @include sm {
                        font-size: 20px;
                    }
                }

                &__image {
                    @include md-max {
                        margin-top: 36px;
                    }
                }
            }
        }

        &-two {
            h2 {
                max-width: 720px;
                span {
                    font-weight: 700;
                }
            }

            .story {
                @include md-max {
                    flex-direction: column;
                }

                &__image {
                    @include md-max {
                        margin-bottom: 36px;
                    }
                }
            }
        }
    }



    .lp-section--blood-tests {
        .w-container {
            @include v-padding-dir(bottom, 72, 1);

            > p {
                @include v-margin-dir(bottom, 36, 1);
                max-width: 450px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-size: 18px;
            }
        }

        h2 {
            @include v-margin-dir(bottom, 24, 0.25);
            color: $grey;
        }

        .blood-tests {
            max-width: 450px;
            padding-top: 6px;
            @include sm {
                max-width: none;
            }
            @include md {
                width: 944px;
            }
        }

        .blood-test--product {
            padding: 36px 24px 24px;
            box-shadow: 0 2px 20px 5px rgba(#96ABB6, 0.08);
            border: 1px solid rgba(#979797, .12);
            @include xxs {
                padding-left: 36px;
                padding-right: 36px;
            }
            @include xxs {
                padding-left: 48px;
                padding-right: 48px;
            }
            @include sm {
                width: calc(50% - 12px);
                margin-top: 27px;
                padding-left: 36px;
                padding-right: 36px;

            }
            @include md {
                width: 450px;
                padding-left: 48px;
                padding-right: 48px;
            }

            &:first-of-type {
                background: #fff url('../images/lp-start-xl-ripple.svg') no-repeat left -1px bottom;
                background-size: 65%;

                .blood-test__ribbon {
                    background-color: $oceanBlue;
                    color: #fff;
                }

                h3,
                .blood-test__price {
                    color: $oceanBlue;
                }

                .blood-test__usps li {
                    margin-left: 18px;
                }

                .button--primary {
                    &:hover,
                    &:focus {
                        background-color: $oceanBlue90;
                        border-color: $oceanBlue90;
                    }
                }
            }

            &:last-of-type {
                background: #fff url('../images/lp-start-wplus-ripple.svg') no-repeat right bottom -2px;
                background-size: 35%;

                .blood-test__ribbon {
                    background-color: $burgundy;
                    color: #fff;
                }

                h3,
                .blood-test__price {
                    color: $burgundy;
                }

                .blood-test__usps li:last-of-type {
                    margin-top: 24px;
                }

                .button--primary {
                    &:hover,
                    &:focus {
                        background-color: $burgundy90;
                        border-color: $burgundy90;
                    }
                }
            }

            .blood-test__ribbon {
                left: 0;
            }

            h3 {
                margin-bottom: 12px;
                text-align: center;
                a {
                    color: $grey;
                }
            }

            .blood-test__price {
                justify-content: center;
                margin-bottom: 24px;
                color: $grey;
                font-size: 36px;
                font-weight: 600;
            }

            .blood-test__copy {
                text-align: center;
                font-size: 18px;
            }

            .blood-test__uls {
                display: flex;
                justify-content: space-around;
                margin-bottom: 24px;
            }

            .bullets {
                margin-bottom: 0;
                padding-left: 24px;
                list-style: disc;
                li {
                    line-height: 1.7;
                    margin-bottom: 12px;
                    font-weight: 600;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            .blood-test__usps {
                margin-bottom: 36px;
                li:last-of-type {
                    color: $mintGreen;
                    font-weight: 600;
                }
            }

            .button--primary {
                margin-bottom: 12px;
            }

            .blood-test__disclaimer {
                left: 0;
            }
        }

        .lp-section--link-to-all {
            @include v-margin-dir(top, 60, 1);
        }
    }
}



// Summer LP UK specific //
.lp-summer-uk {
    .lp-section--header {
        background-image: url('../images/lp-summer-header-bg-small-uk-@2x-comp.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 454px;
        @include sm {
            background-image: url('../images/lp-summer-header-bg-medium-uk-comp.jpg');
            background-size: auto;
        }
        @include lg {
            background-image: url('../images/lp-summer-header-bg-uk-comp.jpg');
        }
        @include mq(1920px) {
            background-size: auto;
            background-color: $lightPeach10;
        }

        .w-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 454px;
            padding-top: 0;
            padding-bottom: 0;
            @include sm {
                height: 460px;
            }
            @include lg {
                height: 406px;
            }
        }

        .header__caption {
            margin-bottom: 60px;
            @include sm {
                margin-bottom: 24px;
            }
            @include md {
                margin-bottom: 12px;
            }
            @include lg {
                margin-bottom: 0;
            }
        }

        h1 {
            margin-bottom: 12px;
            text-align: center;
            color: $peach;
            font-size: 50px;
            font-weight: 700;
            @include sm {
                margin-bottom: 24px;
                font-size: 60px;
            }
            @include md {
                font-size: 66px;
            }
            @include lg {
                font-size: 72px;
            }
        }

        p {
            max-width: 310px;
            margin: 0 auto;
            text-align: center;
            font-size: 18px;
            @include sm {
                max-width: 400px;
                font-size: 22px;
            }
        }
    }
}