.section-articles {
    margin-top: 72px;

    h2 {
        font-size: 30px;
        line-height: 1.2;
    }

    .media-object--thirds .media-object__copy {
        width: 100%;
        @include sm {
            width: 66%;
        }

    }

}

