//// Our Blood Tests ////
.lp-blood-tests {
    @include main-no-padding-top;



    .lp-section--header {
        h1 {
            margin-bottom: 12px;
            text-align: center;
            color: $pineGreen;
            font-size: 36px;
            font-weight: 700;
        }

        p {
            margin-bottom: 36px;
            text-align: center;
        }
    }



    .lp-section--test-categories {
        .w-container {
            h2 {
                margin-top: 36px;
                margin-bottom: 12px;
                color: $pineGreen;
                font-size: 32px;
                font-weight: 700;
            }

            .hr-with-text {
                max-width: 600px;
                margin: 24px auto 36px;

                + p {
                    margin-bottom: 48px;
                    text-align: center;
                    @include xxs-max {
                        max-width: 260px;
                        margin: 0 auto 48px;
                    }
                }
            }
        }
    }
}