//Error page

.error-section {

    padding-top: 20px;

    @include phone {
        padding-top: 60px;
    }

    h1 {

        color: $red;
        font-size: 24px;
        line-height: 1.2;
        font-weight: bold;
        max-width: 360px;
        margin: auto;
        margin-bottom: 30px;

        @include phone {
            font-size: 30px;
            margin-bottom: 36px;
        }

        &:before {
            @include wicon(50px);
            content: '\f62f';
            font-weight: bold;
            display: block;
            margin-bottom: 20px;

            @include phone {
                @include wicon(60px);
                display: block;
            }
        }
    }
}