//// Om Werlabs
.cms-om-werlabs,
.cms-about-werlabs {
    .content-container {
        padding: 83px 0 24px;
        background-color: $grayLightester;
        @include md {
            padding-top: 97px;
        }
    }

    .footer-top {
        border: 0;
    }
}

.about-werlabs {
    h1 {
        font-size: 1.8em;
    }

    .box {
        margin-bottom: 24px;
        @include xxs {
            margin: 0 12px 24px;
        }
        @include xs {
            margin: 0 24px 24px;
        }
        @include mq(1248px) {
            max-width: 1200px;
            margin: 0 auto 24px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
        .w-container > * {
            text-align: center;
        }
        h1 {
            margin: 0;
        }
        h1, h2, h3 {
            max-width: none;
            font-weight: 400;
        }

        &--white {
            padding: 20px 0;
            background-color: #fff;
            @include xs {
                padding: 40px 0;
            }
        }
        &--left {
            .w-container > * {
                text-align: left;
            }
        }

        &:nth-child(2) {
            display: flex;
            align-items: flex-start;
            padding-bottom: 250px;
            background: #fff url('../images/sweden-mask-text-v2-comp.png') no-repeat;
            background-position: 50% 100%;
            background-size: 250px;

            @include xxs {
                padding-bottom: 320px;
                background-size: 320px;
            }
            @include xs {
                padding-bottom: 360px;
                background-size: 360px;
            }
            @include sm {
                padding-bottom: 450px;
                background-size: 450px;
            }
            @include md {
                padding-bottom: 40px;
                background-position: 95% 100%;
                background-size: 460px;

                .box__content {
                    width: 45%;
                }
            }
        }
        &:nth-child(5) {
            .box__content {
                display: flex;
                flex-direction: column;
                * {
                    text-align: center;
                }
            }
            .box__image {
                max-width: 400px;
                margin: 30px auto 0;
            }

            @include sm {
                .box__content {
                    flex-direction: row;
                    align-items: center;
                    * {
                        text-align: left;
                    }
                }
                .box__body {
                    flex: 55% 0 0;
                }
                .box__image {
                    flex: 45% 0 0;
                    max-width: none;
                    margin: 0;
                }
            }
        }
        &:last-child {
            a:hover {
                color: $blueDarkest;
            }
            h2 {
                margin: 0;
            }
        }
    }
}

.card {
    margin-bottom: 24px;
    @include sm {
        display: flex;
        flex-direction: row;
        margin: 0 0 24px 0;
    }

    &__image {
        width: 100vw;
        height: 100vw;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        @include xxs {
            width: calc(100vw - 24px);
            height: calc(100vw - 24px);
        }
        @include xs {
            width: calc(100vw - 48px);
            height: calc(100vw - 48px);
        }
        @include sm {
            width: calc(50vw - 24px);
            height: calc(50vw - 24px);
            margin: 0;
        }
        @include md {
            width: calc(50vw - 36px);
            max-width: calc(600px - 12px);
            height: calc(50vw - 36px);
            max-height: calc(600px - 12px);
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 20px 40px;
        background-color: #fff;

        @include sm {
            width: calc(50vw - 24px);
            padding: 12px 24px;
        }

        @include md {
            width: calc(50vw - 36px);
            max-width: calc(600px - 12px);
            margin-left: 24px;
            padding: 24px 12% 24px 48px;
        }
    }
    &__title {
        margin-bottom: 12px;
        padding-bottom: 6px;
        border-bottom: 1px solid $grayLightest;
        h4 {
            margin-bottom: 0;
            font-weight: 600;
        }
    }

    &--reversed {
        @include sm {
            .card__body {
                order: -1;
            }
        }

        @include md {
            .card__body {
                margin: 0 24px 0 0;
            }
        }
    }
}
