// Coeliac disease test LP //
.lp-coeliac-disease-test {

    hr {
        margin: 0;
    }

    main.content-container {
        padding-top: 0;
    }

    .lp-section--header {
        background-image: url("../images/lp-coeliac-disease-test-header.jpg");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
        text-align: center;
        @include lg {
            background-position: center top;
        }

        h1 {
            color: white;
            font-size: 40px;
            font-weight: 700;
            @include sm {
                font-size: 68px;
            }
        }

        .button--primary:hover, .button--primary:focus, a.button--primary:hover, a.button--primary:focus {
            background-color: transparent;
            border-color: #fff;
            color: #fff;
        }

        .w-container {
            padding-top: 80px;
            padding-bottom: 80px;
            @include sm {
                padding-top: 150px;
                padding-bottom: 150px;
            }
        }

    }

    h2 {
        font-weight: 700;
    }

    ul.bullets {
        text-align:left;
    }

    .w-container {
        h2.heading--uppercase {
            font-size: 17px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            margin-bottom: 30px;
        }
    }

    // Custom styles for non-carousel How
    .lp-section--how {
        .how-items {
            max-width: 944px;
            margin: 0 auto;
            @include sm {
                display: flex;
                justify-content: space-between;
            }
        }

        .how-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto 36px;
            @include sm-max {
                max-width: 300px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            p {
                max-width: 268px;
                font-size: 18px;
            }
        }
    }


    // Hide parts of the text on buttons on XS screens

    .button--primary span.xs-hide, a.button--primary span.xs-hide {
        display: none;
        transition: 0.2s;
        @include sm {
            display: inline;
        }
    }
    .button--primary:hover span.xs-hide, a.button--primary:hover span.xs-hide {
        transition: 0s;
    }

}