//// generic.fonts ////

// GT Walsheim //
@font-face{
    font-family:"GT Walsheim Pro";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/GT-Walsheim-Pro-Light.woff2") format("woff2"),
    url("../fonts/GT-Walsheim-Pro-Light.woff") format("woff");
}
@font-face{
    font-family:"GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/GT-Walsheim-Pro-Regular.woff2") format("woff2"),
    url("../fonts/GT-Walsheim-Pro-Regular.woff") format("woff");
}
@font-face{
    font-family:"GT Walsheim Pro";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/GT-Walsheim-Pro-Medium.woff2") format("woff2"),
    url("../fonts/GT-Walsheim-Pro-Medium.woff") format("woff");
}
@font-face{
    font-family:"GT Walsheim Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/GT-Walsheim-Pro-Bold.woff2") format("woff2"),
    url("../fonts/GT-Walsheim-Pro-Bold.woff") format("woff");
}


// Werlabs //
@font-face{
    font-family:"Werlabs";
    font-display: swap;
    src: url("../fonts/werlabs.woff2") format("woff2"),
    url("../fonts/werlabs.woff") format("woff");
}

// Saprema fonticons global init & unicodes
.wicon {
    display: inline-block;
    font: normal normal normal 14px/1 'Werlabs';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wicon-star:before {
    content: '\f62a';
}

.wicon-angle-right-l:before {
    content: '\f023';
}

.wicon-angle-left-l:before {
    content: '\f022';
}

.wicon-angle-left-m:before {
    content: '\f021';
}

.wicon-angle-right-m:before {
    content: '\f020';
}

.wicon-times-b:before {
    content: '\f017';
}

.wicon-times-m:before {
    content: '\f016';
}

.wicon-bars-m:before {
    content: '\f014';
}

.wicon-bars-b:before {
    content: '\f015';
}

.wicon-circle:before {
    content: '\f01c';
}

.wicon-check-circle:before {
    content: '\f03a';
}

.wicon-exclamation-circle-s:before {
    content: '\f01b';
}

.wicon-question-circle:before {
    content: '\f03b';
}

.wicon-check-m:before {
    content: '\f028';
}

.wicon-check-s:before {
    content: '\f02a';
}

.wicon-check-b:before {
    content: '\f029';
}

.wicon-angle-down-m:before {
    content: '\f039';
}

.wicon-plus-circle-b:before {
    content: '\f02b';
}

.wicon-plus-square-s:before {
    content: '\f036';
}

.wicon-minus-circle-b:before {
    content: '\f02c';
}

.wicon-minus-square-s:before {
    content: '\f035';
}

.wicon-bar-chart:before {
    content: '\f037';
}

.wicon-minus-circle-m:before {
    content: '\f02e';
}

.wicon-plus-circle-m:before {
    content: '\f033';
}

.wicon-trash-m:before {
    content: '\f02d';
}

.wicon-link-m:before {
    content: '\f032';
}

.wicon-arrow-right-m:before {
    content: '\f038';
}

.wicon-arrow-right-l:before {
    content: '\f01a';
}

.wicon-login-m:before {
    content: '\f01f';
}

.wicon-search-m:before {
    content: '\f013';
}

.wicon-cart-m:before {
    content: '\f025';
}

.wicon-twitter-circle:before {
    content: '\f62b';
}

.wicon-facebook-circle:before {
    content: '\f62c';
}

.wicon-linkedin-circle:before {
    content: '\f62d';
}

.wicon-angle-down:before {
    content: '\f62e';
}

.wicon-exclamation-circle-l:before {
    content: '\f62f';
}

.wicon-checkbox-checked-l:before {
    content: '\f630';
}

.wicon-twitter-square:before {
    content: '\f632';
}

.wicon-facebook-square:before {
    content: '\f633';
}

.wicon-angle-up-m:before {
    content: '\f634';
}

.wicon-exclamation:before {
    content: '\f635';
}

.wicon-arrow-down:before {
    content: '\f636';
}

.wicon-arrow-down-l:before {
    content: '\f637';
}

.wicon-times-l:before {
    content: '\f638';
}

.wicon-caret-down:before {
    content: '\f639';
}

.wicon-angle-up:before {
    content: '\f63a';
}

.wicon-search:before {
    content: '\f63b';
}

.wicon-phone-s:before {
    content: '\f63c';
}

.wicon-the-test:before {
    content: '\f63d';
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}