//// generic.layout ////

// The main horisontal boxing element(s)
.w-container {
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
    @include phone {
        padding-left: 18px;
        padding-right: 18px;
    }
    @include xxs {
        padding-left: 24px;
        padding-right: 24px;
    }
    @include lg {
        padding-left: 12px;
        padding-right: 12px;
    }
}

[class^="container--"] {
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    @include phone {
        padding-left: 18px;
        padding-right: 18px;
    }
    @include xxs {
        padding-left: 24px;
        padding-right: 24px;
    }
    @include lg {
        padding-left: 12px;
        padding-right: 12px;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.container {
    &--xxs {
        max-width: 480px;
    }
    &--xs {
        max-width: 640px;
    }
    &--sm {
        max-width: 768px;
    }
    &--md {
        max-width: 992px;
    }
    &--lg {
        max-width: 1200px;
    }
}

main.content-container {
    padding-top: 36px;
    padding-bottom: 72px;
    @include ie {
        padding-top: 95px;
    }
    @include md {
        padding-top: 36px;
        @include ie {
            padding-top: 109px;
        }
    }

    // Specific styles for the About page
    .page-about-werlabs & {
        padding-bottom: 25px;
        background-color: $grey05;
    }
}

// Helper class to extend box to be as wide as including parent's padding
.mobile--full-width {
    margin-left: -12px;
    margin-right: -12px;
    @include phone {
        margin-left: -18px;
        margin-right: -18px;
    }
    @include xxs {
        margin-left: -24px;
        margin-right: -24px;
    }
    @include sm {
        margin-left: 0;
        margin-right: 0;
    }
}