//// settings.variables ////

// Breakpoints //
// (max-width: #{$xxs}-1) stopped working?? so had to add every min/max bp...
$xxs-max:       "479.98px";
$xxs:           "480px";
$xs-max:        "639.98px";
$xs:            "640px";
$sm-max:        "767.98px";
$sm:            "768px";
$md-max:        "991.98px";
$md:            "992px";
$lg-max:        "1199.98px";
$lg:            "1200px";
$xl-max:        "1399.98px";
$xl:            "1400px";



// The $breakpoints map in use by the newer/more abstracted media mixins
// NOT ready for production!
$breakpoints: (
    xxs: 0,
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1400px
);