//// settings.colors ////

// Primaries //

// Peach
$peach10: #FFF1EF;
$peach20: #FFE4E0;
$peach30: #FFD6D0;
$peach40: #FFC9C1;
$peach50: #FFBBB1;
$peach60: #FFAEA2;
$peach70: #FFA092;
$peach80: #FF9383;
$peach90: #FF8573;
$peach: #FF7864;
$peach105: #F57360;

$errorColor: #DC1616;

// Light Peach
$lightPeach10: #fef7f3;
$lightPeach20: #ffefe9;
$lightPeach30: #fee7dd;
$lightPeach40: #ffdfd3;
$lightPeach50: #fed7c7;
$lightPeach60: #fecfbc;
$lightPeach70: #fec7b1;
$lightPeach80: #FEBFA6;
$lightPeach90: #FEB79B;
$lightPeach: #FEAF90;
$lightPeach105: #F4A88A;

// Pine Green
$pineGreen05: #eef3f1;
$pineGreen10: #e7edeb;
$pineGreen20: #cfddd9;
$pineGreen30: #b7cbc5;
$pineGreen40: #9fbbb3;
$pineGreen50: #87a99f;
$pineGreen60: #6f988c;
$pineGreen70: #578779;
$pineGreen80: #3f7666;
$pineGreen90: #276553;
$pineGreen: #0F5440;
$pineGreen105: #0e4f3c;

// Ocean Blue
$oceanBlue05: #eff2f4;
$oceanBlue10: #e8edef;
$oceanBlue20: #d2dbe0;
$oceanBlue30: #bcc9cf;
$oceanBlue40: #a6b7c0;
$oceanBlue50: #8fa5b0;
$oceanBlue60: #7994a1;
$oceanBlue70: #628191;
$oceanBlue80: #4d7081;
$oceanBlue90: #365d71;
$oceanBlue: #204C62;
$oceanBlue105: #1e475c;

// Burgundy
$burgundy05: #f5f2f3;
$burgundy10: #f0ecee;
$burgundy20: #e2dade;
$burgundy30: #d3c7cd;
$burgundy40: #c5b5bd;
$burgundy50: #b6a3ad;
$burgundy60: #a7919d;
$burgundy70: #987e8c;
$burgundy80: #8a6c7c;
$burgundy90: #7b596b;
$burgundy: #6D475B;
$burgundy105: #664255;

// Greys
$grey05: #FCFBFA;
$grey10: #FAF9F7;
$grey15: #F5F3F0;
$grey20: #E8E7E3;
$grey30: #DBDAD7;
$grey40: #C9C8C5;
$grey50: #B8B6B4;
$grey60: #A3A2A0;
$grey70: #8A8987;
$grey80: #706F6E;
$grey90: #575655;
$grey: #3D3D3C;



// Secondaries //

// Silver
$silver10: #f3f5f6;
$silver20: #e8eced;
$silver30: #DDE1E4;
$silver40: #d2d8db;
$silver50: #c6ced2;
$silver60: #bbc5c9;
$silver70: #afbbc0;
$silver80: #a5b1b7;
$silver90: #99a7ae;
$silver: #8E9EA5;
$silver105: #88979e;

// Beige
$beige10: #fcfbf9;
$beige20: #faf8f4;
$beige30: #f6f4ef;
$beige40: #f4f1ea;
$beige50: #f1ede4;
$beige60: #efeadf;
$beige70: #ece6d9;
$beige80: #e9e3d5;
$beige90: #e6dfcf;
$beige: #E4DCCA;
$beige105: #dbd3c2;

// Mint Green
$mintGreen10: #e9f6f2;
$mintGreen20: #d5eee6;
$mintGreen30: #bfe6d8;
$mintGreen40: #aadecc;
$mintGreen50: #95d5bf;
$mintGreen60: #80cdb3;
$mintGreen70: #6ac4a6;
$mintGreen80: #55bd99;
$mintGreen90: #40b48c;
$mintGreen: #2BAC80;
$mintGreen105: #29a57a;

// Turquoise
$turquoise10: #f0fafb;
$turquoise20: #e1f5f7;
$turquoise30: #d2f0f3;
$turquoise40: #c3ebef;
$turquoise50: #b4e6eb;
$turquoise60: #a5e1e7;
$turquoise70: #96dce3;
$turquoise80: #87d7df;
$turquoise90: #78d2db;
$turquoise: #69CDD7;
$turquoise105: #64c4ce;

// Yellow
$yellow10: #fffbf1;
$yellow20: #fff7e4;
$yellow30: #fff3d6;
$yellow40: #ffefc9;
$yellow50: #ffebbb;
$yellow60: #ffe7ae;
$yellow70: #ffe3a0;
$yellow80: #ffdf93;
$yellow90: #ffdb85;
$yellow: #FFD778;
$yellow105: #f5ce73;





// Legacy colours //

// Blue
$blueLightest: #f0f7fc;
$blueLight: #70b2f3;
$blue: #1580cd;
$blueDark: #2e84d7;
$blueDarker: #035f9b;
$blueDarkest: #1d518a;

// Green
$green: #43ca96;
$greenDark: #3ab183;

// Red
$red: #f58080;


// Gray
$grayLightester: #f4f4f4;
$grayLightest: #e0e0e0;
$grayLighter: #cccccc;
$grayLight: #b7b7b7;
$gray: #999999;
$grayDark: #7a7a7a;
$grayDarker: #5b5b5b;
$grayDarkest: #3d3d3d;
$grayDarkester: #1e1e1e;