//// utilities.helpers ////

// COLOUR //
.color {
    &--white {
        color: white !important;
    }
    &--peach {
        color: $peach !important;
    }
    &--lightPeach {
        color: $lightPeach !important;
    }
    &--pineGreen {
        color: $pineGreen !important;
    }
    &--oceanBlue {
        color: $oceanBlue !important;
    }
    &--burgundy {
        color: $burgundy !important;
    }
    &--grey {
        color: $grey !important;
    }
    &--silver {
        color: $silver !important;
    }
    &--beige {
        color: $beige !important;
    }
    &--mintGreen {
        color: $mintGreen !important;
    }
    &--turquoise {
        color: $turquoise !important;
    }
    &--yellow {
        color: $yellow !important;
    }
}



// BACKGROUND COLOUR //
.bg {
    // Light
    &--transparent {
        background-color: transparent !important;
    }
    &--lightPeach10 {
        background-color: $lightPeach10 !important;
    }
    &--pineGreen05 {
        background-color: $pineGreen05 !important;
    }
    &--oceanBlue05 {
        background-color: $oceanBlue05 !important;
    }
    &--burgundy05 {
        background-color: $burgundy05 !important;
    }
    &--grey05 {
        background-color: $grey05 !important;
    }
    &--grey10 {
        background-color: $grey10 !important;
    }
    &--silver10 {
        background-color: $silver10 !important;
    }
    &--beige10 {
        background-color: $beige10 !important;
    }
    &--mintGreen10 {
        background-color: $mintGreen10 !important;
    }
    &--yellow10 {
        background-color: $yellow10 !important;
    }

    // Opaque
    &--white {
        background-color: white !important;
    }
    &--peach {
        background-color: $peach !important;
    }
    &--lightPeach {
        background-color: $lightPeach !important;
    }
    &--pineGreen {
        background-color: $pineGreen !important;
    }
    &--oceanBlue {
        background-color: $oceanBlue90 !important;
    }
    &--burgundy {
        background-color: $burgundy90 !important;
    }
    &--grey {
        background-color: $grey !important;
    }

    &--silver {
        background-color: $silver !important;
    }
    &--beige {
        background-color: $beige105 !important;
    }
    &--mintGreen {
        background-color: $mintGreen !important;
    }
    &--turquoise {
        background-color: $turquoise !important;
    }
    &--yellow {
        background-color: $yellow105 !important;
    }


    // Legacy
    &--blueLightest {
        background-color: $blueLightest;
    }
}



// VARS, FUNCTIONS & MIXINS FOR HELPER CLASSES //
$utilities-breakpoints: (
    xxs: 0,
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);

@function breakpoint-min($name, $utilities-breakpoints: $utilities-breakpoints) {
    $min: map-get($utilities-breakpoints, $name);
    @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $utilities-breakpoints: $utilities-breakpoints) {
    $min: breakpoint-min($name, $utilities-breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@function breakpoint-infix($name, $utilities-breakpoints: $utilities-breakpoints) {
    @return if(breakpoint-min($name, $utilities-breakpoints) == null, "", "-#{$name}");
}



// POSITION //
$positions: static, relative, absolute, fixed;

@each $breakpoint in map-keys($utilities-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $utilities-breakpoints);

        @each $position in $positions {
            .position-#{$position} { position: $position !important; }
        }
    }
}



// SPACING //
$base: 12px;
$spacing: ();
$spacing: map-merge(
    (
        0: 0,
        1: ($base * 1),
        2: ($base * 2),
        3: ($base * 3),
        4: ($base * 4),
        5: ($base * 5),
        6: ($base * 6)
    ),
    $spacing
);

@each $breakpoint in map-keys($utilities-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $utilities-breakpoints);

        @each $prop, $abbrev in (margin: m, padding: p) {
            @each $name, $size in $spacing {
                .#{$abbrev}#{$infix}-#{$name} { #{$prop}: $size !important; }
                .#{$abbrev}t#{$infix}-#{$name},
                .#{$abbrev}y#{$infix}-#{$name} {
                    #{$prop}-top: $size !important;
                }
                .#{$abbrev}r#{$infix}-#{$name},
                .#{$abbrev}x#{$infix}-#{$name} {
                    #{$prop}-right: $size !important;
                }
                .#{$abbrev}b#{$infix}-#{$name},
                .#{$abbrev}y#{$infix}-#{$name} {
                    #{$prop}-bottom: $size !important;
                }
                .#{$abbrev}l#{$infix}-#{$name},
                .#{$abbrev}x#{$infix}-#{$name} {
                    #{$prop}-left: $size !important;
                }
            }
        }

        // Margin auto utils
        .m#{$infix}-auto { margin: auto !important; }
        .mt#{$infix}-auto,
        .my#{$infix}-auto {
            margin-top: auto !important;
        }
        .mr#{$infix}-auto,
        .mx#{$infix}-auto {
            margin-right: auto !important;
        }
        .mb#{$infix}-auto,
        .my#{$infix}-auto {
            margin-bottom: auto !important;
        }
        .ml#{$infix}-auto,
        .mx#{$infix}-auto {
            margin-left: auto !important;
        }
    }
}



// ALIGNMENT //
$alignments: left, right, center;

@each $breakpoint in map-keys($utilities-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $utilities-breakpoints);

        @each $alignment in $alignments {
            .align#{$infix}-#{$alignment} { text-align: $alignment !important; }
        }
    }
}
// The following class on a parent will center a single child dead center.
// NOTE: any margin/padding on the single child might affect the centering.
.align {
    &-center-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @include media(xs) {
        &-xs-center-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @include media(sm) {
        &-sm-center-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @include media(md) {
        &-md-center-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @include media(lg) {
        &-lg-center-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}



// DISPLAY //
@each $breakpoint in map-keys($utilities-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $utilities-breakpoints);

        .d#{$infix}-none         { display: none !important; }
        .d#{$infix}-inline       { display: inline !important; }
        .d#{$infix}-inline-block { display: inline-block !important; }
        .d#{$infix}-block        { display: block !important; }
        .d#{$infix}-flex         { display: flex !important;}
        .d#{$infix}-inline-flex  { display: inline-flex !important; }
    }
}



// FLEXBOX LAYOUT //
@each $breakpoint in map-keys($utilities-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $utilities-breakpoints);

        .flex#{$infix}-row            { flex-direction: row !important; }
        .flex#{$infix}-column         { flex-direction: column !important; }
        .flex#{$infix}-row-reverse    { flex-direction: row-reverse !important; }
        .flex#{$infix}-column-reverse { flex-direction: column-reverse !important; }

        .flex#{$infix}-wrap         { flex-wrap: wrap !important; }
        .flex#{$infix}-nowrap       { flex-wrap: nowrap !important; }
        .flex#{$infix}-wrap-reverse { flex-wrap: wrap-reverse !important; }

        .justify-content#{$infix}-start   { justify-content: flex-start !important; }
        .justify-content#{$infix}-end     { justify-content: flex-end !important; }
        .justify-content#{$infix}-center  { justify-content: center !important; }
        .justify-content#{$infix}-between { justify-content: space-between !important; }
        .justify-content#{$infix}-around  { justify-content: space-around !important; }

        .align-items#{$infix}-start    { align-items: flex-start !important; }
        .align-items#{$infix}-end      { align-items: flex-end !important; }
        .align-items#{$infix}-center   { align-items: center !important; }
        .align-items#{$infix}-stretch  { align-items: stretch !important; }

        .flex#{$infix}-order--1        { order: -1 !important; }
        .flex#{$infix}-order-0         { order: 0 !important; }
        .flex#{$infix}-order-1         { order: 1 !important; }
    }
}



// WIDTH (%) //
$widths: () !default;
$widths: map-merge(
    (
        25: 25%,
        33: 33.3333%,
        50: 50%,
        67: 66.6667%,
        75: 75%,
        100: 100%,
        auto: auto
    ),
    $widths
);

@each $breakpoint in map-keys($utilities-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $utilities-breakpoints);

        @each $name, $width in $widths {
            .w#{$infix}-#{$name} { width: $width !important; }
        }
    }
}



// MAX-WIDTH //
@each $name, $size in $utilities-breakpoints {
    .mw-#{$name} { max-width: $size !important; }
}



// FONT SIZE //
$font-sizes: () !default;
$font-sizes: map-merge(
    (
        14: 14px,
        16: 16px,
        18: 18px,
        20: 20px,
        22: 22px,
        24: 24px,
        26: 26px,
        28: 28px,
        30: 30px,
        32: 32px,
        34: 34px,
        36: 36px,
        38: 38px
    ),
    $font-sizes
);

@each $breakpoint in map-keys($utilities-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $utilities-breakpoints);

        @each $name, $size in $font-sizes {
            .fs#{$infix}-#{$name} { font-size: $size !important; }
        }
    }
}



// FONT WEIGHT //
$font-weights: 300, 400, 600, 700;

@each $breakpoint in map-keys($utilities-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $utilities-breakpoints);

        @each $weight in $font-weights {
            .fw#{$infix}-#{$weight} { font-weight: $weight !important; }
        }
    }
}