//// tools.mixins-spacing ////

// padding-top for the main container = 0 (height of <header> for IE)
@mixin main-no-padding-top {
    main.content-container {
        padding-top: 0;
        padding-bottom: 0;
        @include ie {
            padding-top: 59px;
            @include md {
                padding-top: 73px;
            }
        }
    }
}


// Spacing //

// vertical margin scale top + bottom
@mixin v-margin($base: 36, $multiplier: 1) {
    margin-top:#{$base * $multiplier}px !important;
    margin-bottom:#{$base * $multiplier}px !important;
    @include sm {
        margin-top:#{($base + 12) * ($multiplier)}px !important;
        margin-bottom:#{($base + 12) * ($multiplier)}px !important;
    }
    @include md {
        margin-top:#{($base + 24) * ($multiplier)}px !important;
        margin-bottom:#{($base + 24) * ($multiplier)}px !important;
    }
    @include lg {
        margin-top:#{($base + 36) * ($multiplier)}px !important;
        margin-bottom:#{($base + 36) * ($multiplier)}px !important;
    }
}
// vertical margin scale top or bottom
@mixin v-margin-dir($direction: top, $base: 36, $multiplier: 1) {
    margin-#{$direction}: #{$base * $multiplier}px !important;
    @include sm {
        margin-#{$direction}: #{($base + 12) * $multiplier}px !important;
    }
    @include md {
        margin-#{$direction}: #{($base + 24) * $multiplier}px !important;
    }
    @include lg {
        margin-#{$direction}: #{($base + 36) * $multiplier}px !important;
    }
}

// vertical padding scale top + bottom
@mixin v-padding($base: 36, $multiplier: 1) {
    padding-top:#{$base * $multiplier}px !important;
    padding-bottom:#{$base * $multiplier}px !important;
    @include sm {
        padding-top:#{($base + 12) * ($multiplier)}px !important;
        padding-bottom:#{($base + 12) * ($multiplier)}px !important;
    }
    @include md {
        padding-top:#{($base + 24) * ($multiplier)}px !important;
        padding-bottom:#{($base + 24) * ($multiplier)}px !important;
    }
    @include lg {
        padding-top:#{($base + 36) * ($multiplier)}px !important;
        padding-bottom:#{($base + 36) * ($multiplier)}px !important;
    }
}
// vertical padding scale top or bottom
@mixin v-padding-dir($direction: top, $base: 36, $multiplier: 1) {
    padding-#{$direction}: #{$base * $multiplier}px !important;
    @include sm {
        padding-#{$direction}: #{($base + 12) * $multiplier}px !important;
    }
    @include md {
        padding-#{$direction}: #{($base + 24) * $multiplier}px !important;
    }
    @include lg {
        padding-#{$direction}: #{($base + 36) * $multiplier}px !important;
    }
}