//// tools.mixins-media ////

// Available breakpoint/media query mixins //
@mixin mq($bp: 768px) {
    @media (min-width: $bp) {
        @content;
    }
}
@mixin mq-max($bp: 768px) {
    @media (max-width: $bp) {
        @content;
    }
}

@mixin phone {
    @media (min-width: 360px) {
        @content;
    }
}
@mixin phone-max {
    @media (max-width: 359.98px) {
        @content;
    }
}

@mixin xxs {
    @media (min-width: #{$xxs}) {
        @content;
    }
}
@mixin xxs-max {
    @media (max-width: #{$xxs-max}) {
        @content;
    }
}
@mixin xxs-portrait {
    @media (min-width: #{$xxs}) and (orientation: portrait) {
        @content;
    }
}

@mixin xs {
    @media (min-width: #{$xs}) {
        @content;
    }
}
@mixin xs-max {
    @media (max-width: #{$xs-max}) {
        @content;
    }
}
@mixin xs-portrait {
    @media (min-width: #{$xs}) and (orientation: portrait) {
        @content;
    }
}
@mixin xs-to-lg {
    @media (min-width: #{$xs}) and (max-width: #{$lg-max}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$sm}) {
        @content;
    }
}
@mixin sm-max {
    @media (max-width: #{$sm-max}) {
        @content;
    }
}
@mixin sm-to-md {
    @media (min-width: #{$sm}) and (max-width: #{$md-max}) {
        @content;
    }
}
@mixin sm-to-lg {
    @media (min-width: #{$sm}) and (max-width: #{$lg-max}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$md}) {
        @content;
    }
}
@mixin md-max {
    @media (max-width: #{$md-max}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$lg}) {
        @content;
    }
}
@mixin lg-max {
    @media (max-width: #{$lg-max}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$xl}) {
        @content;
    }
}
@mixin xl-max {
    @media (max-width: #{$xl-max}) {
        @content;
    }
}



// The slightly more elegant & abstracted way to do it :)
// NOTE THAT THESE MIXINS FETCH THEIR BREAKPOINTS FROM THE $breakpoints MAP AND NOT THE INDIVIDUAL BREAKPOINT VARIABLES.
// THE $breakpoints MAP IS ADAPTED TO AN UPDATED BREAKPOINT STRATEGY BUT IT REQUIRES QUITE SOME TESTING, STILL TO DO.
// HENCE - DO NOT USE IN PRODUCTION YET.
@mixin media($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {

        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }

    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin media-max($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {

        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (max-width: ($breakpoint-value - .02)) {
            @content;
        }

    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin media-between($lower, $upper) {
    @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

        $lower-breakpoint: map-get($breakpoints, $lower);
        $upper-breakpoint: map-get($breakpoints, $upper);

        @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
            @content;
        }

    } @else {

        @if (map-has-key($breakpoints, $lower) == false) {
            @warn 'The min-width breakpoint is invalid: #{$lower}.';
        }

        @if (map-has-key($breakpoints, $upper) == false) {
            @warn 'The max-width breakpoint is invalid: #{$upper}.';
        }
    }
}