//// settings.fonts ////

// GT Walsheim //
@mixin walsheim ($fontweight: 400) {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: $fontweight;
    font-style: normal;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Fonticon - 'Werlabs' //
@mixin wicon($fontsize: inherit) {
    display: inline-block;
    line-height: 1;
    font-family: 'Werlabs';
    font-size: $fontsize;
    font-weight: normal;
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
