//// tools.mixins-misc ////

// Browser Queries //
// Matches IE10 - IE11
@mixin ie {
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        @content
    }
}



// Feature Queries //
// Matches =< IE11 + < Edge 16 who can't Grid (properly)
@mixin nogrid {
    .no-cssgrid & { // By Modernizr class on the html element
        @content
    }
}
// Matches browsers that can Grid
@mixin grid {
    .cssgrid & { // By Modernizr class on the html element
        @content
    }
}



// Placeholder styling //
// Since styling the input attribute `placeholder` is a pain to accomplish, here's the mixin.
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}



// Social media icons - DON'T USE, TO BE DEPRECATED //
@mixin facebook($color: #B9C7D4, $hover: $peach) {
    color: $color;
    &:before {
        content: '\f62c';
    }
    &:hover {
        color: $hover;
    }
}
@mixin twitter($color: #B9C7D4, $hover: $peach) {
    color: $color;
    &:before {
        content: '\f62b';
    }
    &:hover {
        color: $hover;
    }
}
@mixin linkedin($color: #B9C7D4, $hover: $peach) {
    color: $color;
    &:before {
        content: '\f62d';
    }
    &:hover {
        color: $hover;
    }
}