//// elements.headings ////

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    line-height: 1;
    color: $grey;
    font-weight: 400;

    > a {
        color: $peach;
        &:hover,
        &:focus {
            color: $lightPeach;
        }
    }
}


// H1 //
.h1,
h1 {
    margin-bottom: 24px;
    font-size: 38px;
    @include xxs {
        margin-bottom: 30px;
        font-size: 39px;
    }
    @include xs {
        margin-bottom: 36px;
        font-size: 40px;
    }
    @include sm {
        margin-bottom: 42px;
        font-size: 42px;
    }
    @include md {
        margin-bottom: 48px;
        font-size: 45px;
    }
    @include lg {
        font-size: 48px;
    }
}


// H2 //
.h2,
h2 {
    margin-bottom: 18px;
    font-size: 25px;
    @include xxs {
        margin-bottom: 20px;
        font-size: 26px;
    }
    @include xs {
        font-size: 27px;
    }
    @include sm {
        margin-bottom: 22px;
        font-size: 28px;
    }
    @include md {
        margin-bottom: 24px;
        font-size: 30px;
    }
    @include lg {
        font-size: 32px;
    }
}


// H3 //
.h3,
h3 {
    margin-bottom: 18px;
    font-size: 21px;
    @include sm {
        font-size: 23px;
    }
    @include lg {
        font-size: 24px;
    }
}


// H4 //
.h4,
h4 {
    //font-size: 34px;
    @include sm {

    }
    @include lg {

    }
}



// Heading uppercase
.heading--uppercase {
    @include v-margin-dir(bottom, 36, 1);
    color: $grey;
    text-align: center;
    font-size: 17px;
    font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}


.page-title,
.lead {
    text-align: center;
}

.page-title h1 {
    color: $pineGreen;
    font-weight: 700;
}