//// elements.misc ////

body {
    background-color: #fff;
    line-height: 1.5;
    @include walsheim(400);
    color: $grey;
    font-size: 18px;
}


p {
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 1.5;
}

.lead {
    font-size: 21px;
    font-weight: 400;
    @include sm {
        font-size: 23px;
    }
}


a {
    color: $peach;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:hover {
        color: $lightPeach;
    }

    &:focus {
        outline: -webkit-focus-ring-color auto 0px;
        color: $lightPeach;
    }
}


hr {
    height: 1px;
    margin: 24px 0;
    background-color: $grey40;
    border: none;
    @include sm {
        margin: 36px 0;
    }
    @include lg {
        margin: 48px 0;
    }
}

th {
    text-align: left;
}


picture.lozad {
    display: block;
    min-height: 60px;
}