//// elements.lists ////

ul {
    padding-left: 0;
    list-style: none;

    li {
        margin-bottom: 12px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &.compact {
        li {
            margin-bottom: 0px;
        }
    }

    &.bullets {
        padding-left: 25px;
        list-style: disc;
    }

    &.usps {
        padding-left: 35px;
        li {
            position: relative;
            &:before {
                position: absolute;
                top: 2px;
                left: -35px;
                @include wicon();
                content: '\f028';
                color: $grey;
            }
            &.usp--excluded {
                color: $grayLight;
                &:before {
                    content: '';
                }
            }
        }
    }

    &.markers {
        li {
            display: inline-block;
            margin-bottom: 0;
            font-size: 14px;

            > strong {
                display: inline-block;
                color: $grey90;
                font-size: 19px;
                a {
                    color: $grey90;
                    font-size: 19px;
                }
                &:not(:first-of-type) {
                    display: none;
                }
            }

            .catalog-product-view .cms & {
                display: block;
                + li {
                    margin-top: 36px;
                }
            }
        }
    }
}