//// layout.header ////

// Header container //
.header-container {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    transition: border-bottom-color 0.2s;
    background-color: #fff;
    border-bottom: 1px solid transparent;
    @include ie {
        position: fixed;
    }

    &.header--scrolled {
        border-color: $grey15;
    }

    body[class*=alert--open] & {
        @include ie {
            position: absolute;
            top: 100px;
            @include sm {
                top: 80px;
            }
        }
    }
}


// Header content //
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 58px;
    @include md {
        height: 72px;
    }

    a.logo {
        line-height: 1;
    }

    .nav--desktop {
        margin-left: auto;
    }

    .cart {
        margin: 0 36px 0 auto;
        ~ .nav__toggle {
            margin-left: 0;
        }
        @include md {
            margin: 0;
        }
    }
}
