//// layout.footer ////

.footer {
    // Layout
    @include grid {
        @include xs-to-lg {
            .w-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: repeat(4, auto);
                max-width: 768px;
                padding-left: 24px;
                padding-right: 24px;
            }
            &__col {
                &:first-of-type {
                    grid-column: 1 / 4;
                    grid-row: 1 / 2;
                    justify-self: center;
                    margin-bottom: 72px;
                    text-align: center;
                }
                &:nth-of-type(5) {
                    grid-column: 1 / 4;
                    margin-top: 72px;
                }
            }
            &-bottom {
                grid-column: 1 / 4;
                margin-top: 110px;
            }
        }
        @include lg {
            .w-container {
                display: grid;
                grid-template-columns: 290px 1fr 1fr 1fr 204px;
                grid-template-rows: auto auto;
            }
            &__col:first-of-type {
                justify-self: left;
            }
            &-bottom {
                grid-column: 1 / 6;
                grid-row: 2 / 3;
            }
        }
    }

    @include nogrid {
        @include xs-to-lg {
            .w-container {
                display: flex;
                flex-wrap: wrap;
                max-width: 768px;
                padding-left: 24px;
                padding-right: 24px;
            }
            &__col {
                width: calc(100% / 3);
                &:first-of-type {
                    width: 100%;
                    margin-bottom: 72px;
                    text-align: center;
                    .button--secondary {
                        max-width: 290px;
                        margin: 0 auto;
                    }
                }
                &:nth-of-type(5) {
                    width: 100%;
                    margin-top: 72px;
                }
            }
            &-bottom {
                width: 100%;
            }

        }
        @include lg {
            .w-container {
                display: flex;
                flex-wrap: wrap;
            }
            &__col {
                width: calc((100% - (290px + 204px)) / 3);
                &:first-of-type {
                    width: 290px;
                    padding-right: 50px;
                }
                &:nth-of-type(5) {
                    width: 204px;
                }
            }
            &-bottom {
                width: 100%;
            }
        }
    }



    // Style
    padding: 108px 0 96px;
    background: #fff url('../images/footer-bg-small.svg') center bottom -300px no-repeat;
    @include xs {
        background: #fff url('../images/footer-bg-medium.svg') left -300px bottom no-repeat;
    }
    @include lg {
        background: #fff url('../images/footer-bg.svg') left bottom no-repeat;
    }
    @include mq(1920px) {
        background-size: 100%;
    }

    &__col {
        text-align: center;
        @include xs {
            text-align: left;
        }

        &:first-of-type {
            @include xs-max {
                margin-bottom: 60px;
            }
        }
        &:nth-of-type(4) {
            @include xs-max {
                ul {
                    margin-bottom: 0;
                }
            }
        }
        &:nth-of-type(5) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            @include xs-max {
                margin-top: 60px;
            }
        }
    }

    .button--secondary {
        @include xs-max {
            max-width: 260px;
            margin: 0 auto;
        }
    }

    .social-links {
        margin-top: 36px;
        text-align: center;

        &--desktop {
            @include lg-max {
                display: none;
            }
        }
        &--mobile {
            @include lg {
                display: none;
            }
        }

        li {
            display: inline-block;
            margin: 0 12px;
        }

        a {
            color: $grey30;
            transition: 0.2s;
            &:hover,
            &:focus {
                color: $peach;
            }
        }
    }

    .links {
        margin-bottom: 48px;
        @include xs {
            margin-bottom: 0;
        }

        &--account {
            margin-top: 24px;
        }

        li {
            display: block;
            margin-bottom: 24px;
            line-height: 1;

            &:last-of-type {
                margin-bottom: 0;
            }
            a {
                color: $grey90;
                font-size: 17px;
                transition: 0.1s;
                @include xs {
                    font-size: 16px;
                }

                &:hover,
                &:focus {
                    color: $peach;
                    text-decoration: none;
                }
            }
        }
    }

    &__logo {
        margin-bottom: 18px;
    }

    .rights {
        margin-bottom: 0;
        color: $grayDarker;
        font-size: 13px;
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        color: $grayDark;
        font-size: 14px;
        @include sm {
            margin-top: 140px;
        }

        p {
            margin-bottom: 12px;
        }
    }
    .payment-logo {
        width: 100px;
        .store-uk & {
            width: 160px;
            margin: 0 15px;
        }
    }
}