//// layout.navigation ////

.nav--desktop {
    @include md-max {
        display: none;
    }

    a {
        color: $grayDark;
    }

    .nav-artiklar {
        display: none;
    }
}

.nav--mobile {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    padding: 18px 18px 12px;
    background-color: $oceanBlue;
    transform: translateX(-100vw);
    transition: transform 0.2s cubic-bezier(0.33, 0, 0, 0.99);
    @include md {
        padding-top: 24px;
        background-color: rgba($oceanBlue,0.96);
        transition-duration: 0.15s;

        .logo,
        .menu {
            display: none;
        }
    }

    .nav--open & {
        transform: translateX(0);
    }

    a {
        color: #fff;
    }
}

.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 24px;
    margin-bottom: 36px;
    @include xxs {
        padding: 0 12px;
    }
    @include md {
        justify-content: flex-end;
        max-width: 1140px;
        margin: 0 auto 24px;
    }
}

.nav__toggle {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: $grayDark;
    font-size: 20px;
    @include md {
        .header & {
            display: none;
        }
    }

    &:hover,
    &:focus {
        color: $peach;
        text-decoration: none;
        .nav--mobile & {
            color: #fff;
        }
    }
    &--search {
        display: inline-block;
        position: relative;
        color: $grayDark;
        &:hover,
        &:focus {
            color: $peach105;
            text-decoration: none;
        }
        @include md-max {
            display: none;
        }
    }
    .nav--open & {
        &--open .wicon:before {
            content: '\f016';
        }
    }
}

.nav__search {
    position: relative;
    @include xxs {
        padding: 0 12px;
    }
    @include xs {
        max-width: 750px;
        margin: 0 auto;
    }

    .input-text {
        height: 40px;
        margin-right: 10px;
        padding: 0;
        background-color: transparent;
        border-color: #fff;
        border-width: 0 0 1px 0;
        color: #fff;
        font-size: 16px;
        @include placeholder {
            color: rgba(white,0.8);
        }
        &:focus {
            z-index: 9;
            background-color: transparent;
            border-color: #fff;
            @include placeholder {
                color: rgba(white,0.4);
                font-size: 16px;
            }
        }
    }
}

.menu {
    overflow-y: scroll;
    height: calc(100vh - 120px);
    margin-bottom: 0;
    padding: 24px 0 12px;
    @include xxs {
        padding: 36px 12px 12px;
    }
    @include xs {
        text-align: center;
    }
    @include md {
        overflow: visible;
        height: auto;
        padding: 0;
    }

    li {
        margin-bottom: 30px;

        @include xs {
            margin-bottom: 35px;
        }
        @include md {
            display: inline-block;
            margin: 0 15px 0 0;
            &:last-of-type {
                margin-right: 20px;
                a:hover,
                a:focus {
                    &:after {
                        width: 0;
                    }
                }
            }
        }
    }
    a {
        font-size: 20px;
        &:hover,
        &:focus {
            text-decoration: underline;
        }

        @include xs {
            font-size: 22px;
        }
        @include md {
            display: inline-block;
            position: relative;
            font-size: 16px;
            &:hover,
            &:focus {
                color: $peach;
                text-decoration: none;
                &:after {
                    width: 100%;
                }
            }
            &:after {
                content: '';
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 0;
                height: 1px;
                background-color: $peach;
                transition: width .2s;
            }
        }
    }
}

// Menu active states (manual)
.catalog-category-view .nav-blodprov a,
.catalog-product-view .nav-1 a,
.storelocator-index-index .nav-provtagningsstallen a,
.nav-b2b .nav-for-foretag a,
.nav-faq .nav-vanliga-fragor a,
.nav-why-blood-test .nav-4 a,
.cms-artiklar .nav-artiklar a,
.contacts-index-index .nav6 a,
.cms-presentkort .nav-presentkort a {

    text-decoration: underline;

    @include md {
        color: $peach;
        text-decoration: none;
        &:after {
            width: 100%;
        }
    }
}

