
.scroll-to-cta {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    padding: 12px;
    background-color: #fff;
    border-top: 1px solid $grey15;
    transform: translateY(80px);
    transition: transform 0.2s cubic-bezier(0.33, 0, 0, 0.99);
    @include xs {
        display: flex;
        justify-content: center;
        padding: 18px;
    }

    &--visible {
        transform: translateY(0);
    }

    .button--primary {
        span span {
            display: none;
            @include xs {
                display: inline-block;
            }
        }
    }
}