//// components.buttons ////

// New v2 brand //

// Base styles with variations
[class^="button--"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 42px;
    border: 2px solid currentColor;
    border-radius: 25px;
    line-height: 1.3;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    cursor: pointer;
    transition: 0.2s;

    @include phone {
        padding: 0 48px;
    }

    span {
        line-height: 1.2;
        transition: 0.2s;

        @include phone {
            line-height: 1;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }
}

a[class^="button--"] {
    text-decoration: none;

    &:not(.button--tertiary) {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}


.button--small {
    height: 42px;
    padding: 0 38px;
    border-radius: 21px;
    font-size: 12px;
    letter-spacing: 1.2px;
}


.button--tiny {
    height: 32px;
    padding: 0 24px;
    border-radius: 21px;
    font-size: 10px;
    letter-spacing: 1.2px;
}


.button--primary,
a.button--primary {
    background-color: currentColor;
    color: $peach;

    span {
        color: #fff;
    }

    &:hover,
    &:focus {
        background-color: transparent;
        border-color: currentColor;

        span {
            color: currentColor;
        }
    }

    &:disabled {
        background-color: $grey30;
        border-color: $grey30;
        color: #fff;

        &:hover {
            background-color: $grey30;
            border-color: $grey30;
            cursor: not-allowed;
        }
    }

    &.button--loading {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 12px;
            left: 14px;
            width: 24px;
            height: 24px;
            background: url('../images/loading.svg') no-repeat;
        }

        &.button--small:before {
            top: 8px;
            left: 9px;
            width: 23px;
            height: 23px;
            background: url('../images/loading.svg') no-repeat;
            //background: url('../images/loading-small.svg') no-repeat;
        }

        &:hover,
        &:focus {

        }
    }

    + .button--tertiary {
        margin-top: 6px;
    }
}


.button--secondary,
a.button--secondary {
    background-color: transparent;
    color: currentColor;

    span {
        color: currentColor;
    }

    &:hover,
    &:focus {
        background-color: currentColor;

        span {
            color: #fff;
        }
    }

    &:disabled {
        color: $grey30;

        &:hover {
            background-color: transparent;
            cursor: not-allowed;
            span {
                color: $grey30;
            }
        }
    }

    &.button--inverted {
        border-color: #fff;
        color: #fff;

        &:hover {
            background-color: #fff;
            span {
                color: $grey;
            }
        }
    }
}


.button--tertiary {
    background-color: transparent;
    border-color: transparent;

    span {
        color: currentColor;
    }

    &:hover,
    &:focus {
        border-color: transparent;

        span {
            color: $lightPeach;
        }
    }
}


// Button group (2x)
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--horisontal {
        flex-direction: row;

        [class^=button--]:last-of-type {
            margin-top: 0;
        }
    }
}




// Legacy button styles //
.buttons-set {
    margin-top: 20px;
    padding: 0;
    border-top: 0;
}

.button {
    color: #fff;
    height: 50px;
    padding: 0 48px;
    border: 2px solid $peach;
    background-color: $peach;
    border-radius: 25px;
    line-height: 1.3;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    cursor: pointer;
    transition: 0.2s;

    &:hover,
    &:focus {
        text-decoration: none;
        background-color: transparent;
        color: $peach;
    }
    &:focus {
        outline: -webkit-focus-ring-color auto 0px;
    }
    &-label {
        float: left;
        padding-right: 15px;
    }
    &-price {
        float: right;
        padding: 0 10px;
        background-color: $greenDark;
        border-radius: 0 18px 18px 0;
        .old-price {
            display: none;
        }
        .special-price {
            display: inline-block;
            margin-bottom: 0 !important;
        }
        .price-label,
        .price {
            color: #fff;
            font-weight: 600;
        }
    }
    &-link {
        cursor: pointer;
        color: $blueDarkest;
        font-size: 13px;
        &:hover,
        &:focus {
            color: $blueDarkest;
        }
        &-more {
            display: block;
            margin-bottom: 10px;
            &:focus {
                text-decoration: none;
            }
            .cms-index-index & {
                margin: 24px 0;
                font-size: 15px;
            }
        }
        &-cart {
            clear: both;
            float: left;
            margin: 15px 0 15px 15px;
            .catalog-category-view & {
                float: right;
                margin: 15px 15px 15px 0;
            }
        }
        @media (min-width: 768px) {
            &-cart {
                float: right;
                margin: 15px 15px 15px 0;
            }
        }
    }
}

.btn--outline {
    background-color: transparent;
    line-height: 34px;
    border: 1px solid $blue;
    color: $blue;
    &:hover,
    &:focus {
        background-color: $blue;
        color: #fff;
    }
}
.btn--outline--inverse {
    border-color: #fff;
    color: #fff;
    &:hover,
    &:focus {
        background-color: #fff;
        color: $blue;
    }
}

.btn--submit {
    @extend .btn--outline;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: all 0.2s;
    border-radius: 100%;
    &:hover {
        @extend .btn--outline;
    }
}

.btn-cart {
    height: 42px;
    padding: 0 48px;
    border-radius: 21px;
    font-size: 14px;
    letter-spacing: 1.2px;
    border: 2px solid $peach;
    background-color: $peach;

    &:hover,
    &:focus {
        background-color: transparent;
        color: $peach;
    }
    &-gift {
        background-color: $blueDark;
        &:hover {
            background-color: $blueDarker;
        }
        .button-price {
            background-color: $blueDarker;
        }
        &:focus {
            background-color: $blueDarker;
        }
        &-alt {
            padding-left: 15px;
            .button-label {
                padding-right: 15px;
            }
            .button-price {
                padding: 0 10px;
            }
        }
    }
    &.btn-checkout-continue {
        padding: 0 15px 0 15px;
        margin-bottom: 25px;
    }
    &.btn-xl {
        font-size: 15px;
        @include xxs {
            height: 46px;
            padding-left: 25px;
            border-radius: 23px;
            line-height: 46px;
            font-size: 17px;
            .button-label {
                padding-right: 20px;
            }
            .button-price {
                padding: 0 20px;
                border-radius: 0 23px 23px 0;
            }
        }
    }

    .cms-index-index .cta-buy > & {
        @media (min-width:768px) and (max-width:991px) {
            padding-left: 13px;
            .button-label {
                padding-right: 12px;
            }
        }
    }
}

.btn-no-price {
    padding-left: 25px;
    .button-label {
        padding-right: 25px;
    }
}
.btn-checkout {
    width: auto;
    height: auto;
    padding: 0 40px;
    background-color: $blue;
    line-height: 36px;
    font-size: 14px;
    &:hover * {
        background: none !important;
    }
    span,
    span span {
        width: auto;
        height: inherit;
        margin: 0;
        padding: 0;
        background-color: transparent;
        line-height: inherit;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        text-transform: none;
    }
}
.btn-small {
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 13px;
}
.btn-large {
    height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    line-height: 40px;
    font-size: 16px;
}
.btn-huge {
    height: 42px;
    padding: 0 46px;
    border-radius: 21px;
    line-height: 42px;
    font-size: 20px;
}