.subscription-list {
    > div {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &--head {
        display: none;
        color: $grey50;
        font-size: 14px;
        @include lg {
            display: flex;
        }

        > div {
            padding: 10px 16px;
        }
    }

    &--body {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        padding: 20px 10px;
        background-color: $grey10;
        text-align: center;
        font-size: 18px;
        @include sm {
            padding: 0;
        }
        @include lg {
            text-align: left;
        }

        > div {
            padding: 10px;
            @include sm {
                padding: 24px 16px;
            }
        }
    }

    &--name {
        width: 100%;
        font-size: 26px;
        line-height: 1.3;
        font-weight: 700;
        margin-bottom: 6px;

        @include phone {
            font-size: 28px;
            margin-bottom: 12px;
        }

        @include sm {
            width: 100%;
            margin-bottom: 0;
            padding-bottom: 0 !important;
            font-size: 26px;

        }

        @include lg {
            width: 34%;
            font-size: inherit;
            font-weight: inherit;
            padding-bottom: 24px !important;
        }

        .small {
            font-weight: 600;
            display: block;
            font-size: 18px;
            line-height: 24px;
            margin-top: 8px;

            @include phone {
                font-size: 20px;
                line-height: 25px;
                margin-top: 12px;
            }

            @include sm {
                font-size: 14px;
                font-weight: inherit;
                margin-top: 0;
            }
        }
    }

    &--date {
        width: 50%;

        @include sm {
            width: 20%;
        }

        @include lg {
            width: 14%;
        }

        .column-title {
            display: block;
            color: $grey50;
            font-size: 14px;

            @include lg {
                display: none;
            }

        }
    }

    &--price {
        width: 100%;
        font-weight: 600;
        color: #00573f;
        font-size: 22px;

        @include phone {
            font-size: 26px;
        }

        @include sm {
            width: 32%;
            text-align: right;
        }

        @include lg {
            width: 14%;
            font-weight: inherit;
            color: inherit;
            font-size: inherit;
            text-align: left;
        }
    }

    &--action {
        width: 100%;

        @include sm {
            width: 28%;
            text-align: right;
        }

        @include lg {
            width: 21%;
        }
    }
}