//// Algolia Search customisation

// Autocomplete
.algolia-autocomplete {
    display: block !important;
    pre {
        font-size: 0 !important;
    }
    &:after {
        @include wicon(20px);
        content: '\f013';
        position: absolute;
        top: 10px;
        right: 5px;
        width: 20px;
        height: 20px;
        color: #fff;
    }
}

.aa-dropdown-menu {
    height: calc(100vh - 112px);
    overflow-y: scroll;
    padding: 24px 0;
    background-color: $oceanBlue;
    color: #fff;
    body[class*=alert--open] & {
        height: calc(100vh - (112px + 100px));
        @include sm {
            height: calc(100vh - (112px + 80px));
        }
    }

    @include md {
        background-color: transparent;
    }
}

.aa-wrapper {
    .category {
        margin-bottom: 24px;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
    }
}

.aa-dataset-products {
    margin-bottom: 48px;
}

.aa-dataset-pages {
    padding-bottom: 72px;
}

.aa-suggestion {
    margin: 0 36px 36px 0;
    padding-bottom: 36px;
    border-bottom: 1px dashed rgba(white,0.2);
    &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border: 0;
    }
    @include mq(375px) {
        margin-right: 48px;
    }
    @include xxs {
        margin-right: 60px;
    }
    @include xs {
        margin-right: 72px;
    }
    .no-touch & {
        margin-right: 0;
    }

    em {
        background-color: $blue;
    }
    &__title {
        display: inline-block;
        position: relative;
        margin-bottom: 15px;
        line-height: 1.3;
        font-size: 19px;
        font-weight: 400;
        text-decoration: underline;
        &:hover,
        &:focus {
            text-decoration: none;
            &:after {
                .no-touch & {
                    width: 100%;
                }
            }
            span {
                color: #fff;
            }
        }
        .no-touch & {
            text-decoration: none;
            &:after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 0;
                height: 1px;
                background-color: rgba(white,0.7);
                transition: width .2s;
            }
        }

        span {
            display: none;
            margin: 0 5px 0 10px;
            font-size: 14px;
            transition: 0.2s;
            @include md {
                display: inline-block;
                color: rgba(#fff,0.5);
            }
        }
    }
    &__text {
        line-height: 1.5;
        font-size: 15px;
        font-weight: 300;
        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

#autocomplete-products-footer,
//.aa-dataset-suggestions,
.see-all {
    display: none;
}




// Instant Search
.algolia-search-menu {
    display: none;
}

.algolia-sort-by {
    display: none;
}

.algolia-search-results {
    max-width: 800px;
    margin: 0 auto;
}

.ais-search-box {
    margin-bottom: 12px;

    .input-text {
        width: 100%;
        font-size: 18px;
        @include placeholder {
            color: $grayDarker;
            font-size: 18px;
        }
        &:focus {
            border-color: $peach;
            @include placeholder {
                color: $gray;
            }
        }
    }
}

.infos {
    margin-bottom: 36px;
    padding-left: 12px;
}

.ais-infinite-hits--item {
    .item__header {
        margin-bottom: 12px;
        @include xs {
            display: flex;
        }
    }

    .item__title {
        margin: 0;
    }

    .item__price {
        margin-top: 12px;
        line-height: 1;
        font-size: 20px;
        @include xs {
            margin: 0 0 0 24px;
        }
    }

    .item__description {
        margin-bottom: 12px;
        p {
            margin: 0;

            + p {
                margin-top: 24px;
            }
        }
    }

    em {
        background-color: $grey20;
        font-weight: 500;
    }

    + .ais-infinite-hits--item {
        margin-top: 24px;
        padding-top: 24px;
        border-top: 1px solid $grey20;
    }
}

.ais-infinite-hits--showmore {
    margin-top: 60px;
    text-align: center;
    button {
        height: 42px;
        padding: 0 40px;
        background: none;
        border: 2px solid $peach;
        border-radius: 21px;
        line-height: 40px;
        color: $peach;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background-color: $peach;
            color: #fff;
        }
        &:disabled {
            display: none;
        }
    }
}