.marker-notes {
    font-size: 15px;
    color: $grey80;

    a {
        color: $grey90;
        text-decoration: underline;
        cursor: pointer;
        white-space: nowrap;
    }
}

.lp-section--markers {
    .w-container {
        padding-left: 0;
        padding-right: 0;
        @include v-padding(60, 1);

        > p {
            margin-bottom: 12px;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1.4px;
        }

        h2 {
            margin-bottom: 36px;
        }
    }

    .marker-groups-nav {
        max-width: 735px;
        margin: 0 auto;
        @include sm-max {
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0 12px;
            @include md {
                padding: 0;
            }
        }

        .marker-groups-nav__item {
            position: relative;
            width: 25%;
            padding-bottom: 48px;

            &:hover,
            &:focus {
                cursor: pointer;

                .marker-group__icon {
                    filter: grayscale(0%);
                }

                .marker-group__title {
                    color: $peach;
                }
            }

            &--active {
                &:after {
                    position: absolute;
                    left: 50%;
                    bottom: 5px;
                    margin-left: -14px;
                    @include wicon(28px);
                    content: '\f039';
                    color: $peach;
                }

                .marker-group__icon {
                    filter: grayscale(0%);
                }

                .marker-group__title {
                    color: $peach;
                }
            }
        }

        &--bottom {
            .marker-groups-nav__item {
                padding: 60px 0 0;

                &--active {
                    &:after {
                        top: 10px;
                        content: '\f634';
                    }
                }
            }
        }

        .marker-group__icon {
            filter: grayscale(70%);
            transition: all 0.2s;
            position: relative;
        }

        .marker-group__premium-badge {
            position: absolute;
            height: 30px;
            width: 30px;
            background-color: $peach;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            color: #fff;
            font-size: 26px;
            font-weight: 700;
            top: -6px;
            right: -3px;
        }

        .marker-group__title {
            margin-bottom: 0;
            font-size: 20px;
            transition: all 0.2s;
        }
    }

    .marker-groups {
        max-width: 735px;
        margin: 0 auto;

        .marker-group__icon,
        .marker-group__title {
            @include sm {
                display: none;
            }
        }

        &:not(.slick-initialized) {
            .marker-group-wrapper {
                @include sm-max {
                    margin-bottom: 48px;
                }
            }
        }

        .slick-dots {
            margin-top: 24px;
        }
    }

    .marker-group-wrapper {
        @include sm {
            display: none;

            &--active {
                display: block;

                .marker-group__card {
                    border-color: $peach30;
                }
            }
        }
    }

    .marker-group {
        padding: 0 12px;
        @include md {
            padding: 0;
        }

        &__icon {
            width: 100px;
            height: 100px;
            margin: 0 auto 12px;
        }

        &__title {
            margin-bottom: 18px;
            text-align: center;
            font-size: 24px;
        }

        &__card {
            background-color: #fff;
            box-shadow: 0 2px 20px 0 rgba(#96ABB6, 0.1);
            border: 1px solid rgba(#E8E7E3, 0.5);
            border-radius: 8px;
        }

        &__description {
            position: relative;
            max-height: 200px;
            overflow: hidden;
            margin-bottom: 0;
            padding: 20px 18px 0;
            color: $grey90;
            font-size: 16px;
            @include xs-max {
                &:after {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    content: '';
                    width: 100%;
                    height: 60px;
                    background: linear-gradient(rgba(white, 0.2), white);
                }
            }
            @include xs {
                padding-bottom: 12px;
            }
            @include sm {
                min-height: 130px;
            }
        }

        &__markers {
            position: relative;
            min-height: 155px;
            max-height: 170px;
            overflow-y: hidden;
            padding: 12px 18px 0;
            border: 1px solid $grey15;
            border-width: 1px 0;
            @include xs-max {
                &:after {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    content: '';
                    width: 100%;
                    height: 80px;
                    background: linear-gradient(rgba(white, 0.2), white);
                }
            }
            @include sm {
                min-height: 110px;
            }

            p:first-of-type {
                margin-bottom: 6px;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 1.4px;
            }

            .markers {
                li {
                    > a,
                    > span {
                        padding: 0 15px;
                    }
                }
            }

            .more-below {
                margin-right: 0;
                padding: 0 6px !important;
                color: $grey;
                font-size: 16px;
                @include xxs {
                    display: none;
                }
            }

        }

        &__readmore {
            padding: 12px 0;
            text-align: center;

            a {
                color: $peach;

                &:hover,
                &:focus {
                    //color: $grey;
                }
            }

        }
    }





    .with-premium {

        .slick-next {
            right: 13px;
            z-index: 5;
        }
        .slick-prev {
            left: 13px;
            z-index: 5;
        }

        .slick-prev:before, .slick-next:before {
            color: $grey60;
            font-size: 28px;
        }

        .marker-group__card {

            text-align: center;
            display: flex;
            flex-direction: column;
            height: 80vh;
            position: relative;
            padding-bottom: 66px;

            @include sm {
                text-align: left;
                flex-direction: column-reverse;
                height: auto;
                padding-bottom: 0;
            }
        }

        .marker-group__markers {
            max-height: unset;
            overflow-y: unset;
            min-height: unset;
            padding-bottom: 6px;

            @include sm {
                padding-bottom: 12px;
            }
            
            &:after {
                display: none;
            }
        }

        .marker-group__description {
            max-height: unset;

            p {
                margin-bottom: 6px;

                @include sm {
                    margin-bottom: 12px;
                }
            }

            &.full-info {
                position: absolute;
                top: 32px;
                left: 0;
                background-color: #fff;
                height: calc(100% - 32px);

                &:after {
                    display: none;
                }
            }
        }

        .marker-group__readmore {
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-top: 1px solid #F5F3F0;

            @include sm {
                display: none;
            }
        }

        .marker-group__readpage {
            @include sm {
                text-align: right;
            }
        }
    }

    .comparison-link {
        display: none;
        text-align: center;
        margin-top: 60px;

        @include sm {
            display: block;
        }
    }
}