
// Bootstrap modal custom //
//.modal {
//    z-index: 9999;
//    padding-right: 0 !important;
//    &-notification .modal-close {
//        padding-bottom: 10px;
//    }
//    &-dialog.modal-sm {
//        width: 300px;
//    }
//    &.in .modal-dialog {
//        position: fixed;
//        //top: 12%;
//        //margin: 0 auto;
//        top: 50%;
//        left: 50%;
//        transform: translateX(-50%) translateY(-50%);
//        margin: 0;
//        @include xxs-portrait {
//            top: 40%;
//        }
//        @include md {
//            top: 30%;
//        }
//    }
//    &-title {
//        clear: both;
//        margin: 20px 0 10px;
//        text-align: center;
//    }
//    &-action {
//        clear: both;
//        text-align: center;
//        h4 {
//            margin-top: 0;
//        }
//        .btn-cart {
//            float: none !important;
//            padding: 0 30px;
//        }
//        &-top {
//            margin-top: 25px;
//            .touch & {
//                margin-top: 10px;
//            }
//        }
//        &-middle {
//            min-height: 72px;
//            margin-bottom: 15px;
//        }
//        &-bottom {
//            padding-bottom: 10px;
//        }
//    }
//    h6 {
//        text-align: center;
//        font-size: 14px;
//    }
//    &-description {
//        margin-bottom: 10px;
//        text-align: center;
//    }
//    &-readmore {
//        margin-bottom: 20px;
//        text-align: center;
//    }
//    .qty {
//        display: inline-block;
//        max-width: 32px;
//        height: 32px;
//        line-height: 32px;
//        text-align: center;
//        &-wrapper {
//            margin-bottom: 10px;
//        }
//    }
//    .button {
//        float: right;
//    }
//    &-backdrop {
//        z-index: 15;
//        height: 100%;
//        background-color: rgba($blueDarkest,0.6);
//        &.in {
//            position: fixed;
//            opacity: 1;
//        }
//    }
//    &-content {
//        box-shadow: none;
//        border: 1px solid rgba($blueDarkest,0.4);
//        border-radius: 18px;
//    }
//    &-body {
//        padding: 15px 15px 25px;
//        .cms-index-index & {
//            padding-bottom: 25px;
//        }
//    }
//    &-close {
//        float: right;
//        &:hover,
//        &:focus {
//            cursor: pointer;
//            text-decoration: none;
//        }
//    }
//    @include sm {
//        &-sm {
//            width: 40%;
//        }
//    }
//}
//
//.choice {
//    position: relative;
//    max-width: 240px;
//    margin: 0 auto;
//    padding: 30px 0;
//    text-align: center;
//    hr {
//        margin: 0;
//        border-color: $grayLighter;
//    }
//    span {
//        position: absolute;
//        top: 50%;
//        left: 50%;
//        transform: translateX(-50%);
//        margin-top: -9px;
//        padding: 0 10px;
//        background-color: #fff;
//        color: $grayDarker;
//        font-size: 16px;
//        text-transform: uppercase;
//    }
//}
//
//.md-effect-7 {
//    top: 15%;
//}


// BS Modal backdrop need some styling...
.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
    height: 100%;
    background-color: rgba($blueDarkest,0.6);
    &.in {
        position: fixed;
    }
}


// MODAL //
.wco-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    min-height: 100vh;
    background-color: #fff;
    @include sm {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-30%);
        min-height: auto;
        width: 410px;
    }
    .wco-modal--open & {
        display: block;
        @include xxs-max {
            //display: flex;
            //align-items: center;
        }
    }

    &--closed {
        display: none;
    }

    &--open {
        //overflow: hidden;
        //padding-right: 0 !important;

        header,
        .cart__discount,
        .cart__totals,
        .footer {
            @include sm-max {
                display: none;
            }
        }
    }

    &__backdrop {
        display: none;
        z-index: 9;
        .wco-modal--open & {
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            height: 100%;
            background-color: rgba($oceanBlue,0.7);
        }
    }

    &__content {
        padding: 24px 18px;
        @include sm-max {
            min-height: 100vh;
        }
        @include sm {
            max-width: 530px;
            margin: 0 auto;
            padding: 24px;
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: $grayLight;
        cursor: pointer;
        &:hover {
            color: $grayDarkester;
        }
    }

    &__body {
        max-width: 450px;
        margin: 0 auto;
        @include xxs {
            padding: 0 24px;
        }
        @include sm {
            padding: 0;
        }

        &.js-init-section {
            padding-top: 48px;
            @include sm {
                padding-top: 12px;
            }

            h2 {
                margin-bottom: 36px;
            }

            .account__action {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    &__footer {
        max-width: 450px;
        margin: 0 auto;
        line-height: 1.5;
        text-align: center;
        @include phone-max {
            display: none !important;
        }
        @include xxs {
            padding-top: 12px;
            border: 0;
        }

        &.js-init-section {
            padding-top: 36px;
            @include sm {
                padding-bottom: 24px;
            }
        }
    }


    &__important-links {

        margin-top: 24px;
        font-size: 14px;

        h6 {
            font-size: 14px;
            margin-bottom: 18px;
        }

        p {
            margin-bottom: 6px;
        }
    }


}



// Wide modal //

.wco-modal.modal__wide {
    text-align: center;
    position: fixed;
    @include sm {
        width: 500px;
    }

    .wco-modal__content {
        padding: 24px;
        min-height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include sm {
            padding: 48px 48px 36px;
            position: static;
            top: auto;
            transform: none;
        }
    }

    .wco-modal__action {
        a {
            margin-right: 5px;
            height: 48px;
            padding: 0 26px;
            &:last-child {
                margin-right: 0;
            }

            @include sm {
                margin-right: 15px;
                height: 50px;
                padding: 0 48px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    h3 {

        font-size: 21px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 24px;

        @include phone {
            font-size: 24px;
        }

    }

    p {
        font-size: 16px;
    }
}





// PDF modal //
// @Todo - Check usage??

.wco-modal.modal__wide.modal--pdf  {
    width: 100vw;
    min-height: 80vh;
    padding-right: 0 !important;
    left: 0;
    top: 3vh;

    @include sm {
        width: 90vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @include lg {
        width: 80vw;
    }

    .wco-modal__content {
        max-width: 100%;
        height: 80vh;
        padding: 0;
        padding-top: 60px;
        width: 100%;

        @include sm {
            height: auto;
        }


        .wco-modal__iframe {

            height: 100%;

            @include sm {
                height: 70vh;
                overflow: hidden;
            }

            iframe {
                height: 100%;
                width: 100%;
            }
        }

    }

    .wco-modal__close {
        z-index: 20;
    }

    .wco-modal__action {
        display: none;

        @include sm {
            display: block;
            padding: 25px 0;
            z-index: 20;
        }
    }
}

