//// Basically a Bootstrap Collapse/Accordion with the .faq wrapper class to customise
.faq {
    .panel {
        background-color: transparent;
        box-shadow: none;
        &:last-of-type .panel-body {
            padding-bottom: 0;
        }
    }

    .panel-group {
        margin: 20px 0 60px;
        .panel {
            border: 0;
            border-radius: 0;
            &:first-of-type {
                .panel-heading a {
                    border: 0;
                }
            }
            + .panel {
                margin: 0;
            }
        }
        .panel-heading + .panel-collapse > .panel-body {
            border: 0;
        }
    }

    .panel-heading {
        padding: 0;
        background-color: transparent;
        border: 0;
        a {
            position: relative;
            display: block;
            padding: 24px 36px 24px 6px;
            border-top: 1px dashed $grayLightest;
            line-height: 1.4;
            color: $grayDarkest;
            font-size: 18px;
            font-weight: 600;
            &:hover,
            &:focus {
                text-decoration: none;
            }
            &:hover {
                .no-touch & {
                    &:after {
                        transform: translateY(5px);
                        content: '\f039';
                    }
                }
            }
            &:after {
                position: absolute;
                top: 50%;
                right: 12px;
                margin-top: -9px;
                @include wicon();
                content: '\f62e';
                transition: transform 0.2s;
            }
            &[aria-expanded="true"] {
                border-top-style: solid;
                color: $grayDarkest;
                &:after {
                    @include wicon();
                    content: '\f634';
                }
                &:hover {
                    .no-touch & {
                        &:after {
                            transform: translateY(0);
                            content: '\f634';
                        }
                    }
                }
            }
        }
    }

    .panel-title {
        margin-bottom: 0;
    }

    .panel-collapse {
        opacity: 0;
        transition: opacity 0.2s;
        &[aria-expanded="true"] {
            opacity: 1;
        }

        &.collapse {
            display: none;
            visibility: hidden;
        }
        &.collapse.in {
            display: block;
            visibility: visible;
        }
    }

    .panel-body {
        font-size: 18px;
        padding: 6px 6px 48px;
        border: 0;
        color: $grayDarker;
        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

.cms .faq {

    h1 {
        margin-bottom: 18px;
        @include xxs {
            margin-bottom: 24px;
        }
        @include xs {
            margin-bottom: 24px;
        }
        @include sm {
            margin-top: 12px;
            margin-bottom: 36px;
        }
        @include md {
            margin-bottom: 36px;
        }
    }

    h2 {
        margin-bottom: 0;
        margin-top: 60px;
    }

    .article__cta {
        border-top: 1px solid #eee;
    }

}



// FAQ page

.cms-vanliga-fragor {

    .lead {

        width: 100%;
        @include sm {
            width: 85%;
            margin: auto;
        }

    }

}

