
// Header cart component
.cart {
    position: relative;
    color: $grey80;
    transition: 0.15s;

    &:hover {
        color: $peach;
    }
}

.cart__qty {
    position: absolute;
    top: -4px;
    right: -8px;
    width: 14px;
    height: 14px;
    background-color: $peach;
    border-radius: 100%;
}

.cart__number {
    position: absolute;
    top: 1px;
    left: 4px;
    line-height: 1;
    color: #fff;
    font-family: monospace;
    font-size: 12px;
}