.media-object {
    max-width: 500px;
    margin: 0 auto;
    @include sm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 992px;
    }

    > div {
        @include sm {
            width: calc(50% - 36px);
            text-align: left;
        }
    }

    &__image {
        text-align: center;
        @include sm-max {
            margin-bottom: 24px;
        }
    }

    &__copy {
        text-align: center;
        @include sm {
            text-align: left;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    &--reversed {
        @include sm {
            flex-direction: row-reverse;
        }
    }


    // Media object: 1/3 width image + 2/3 width copy

    &--thirds {
        align-items: flex-start;
    }

    &--thirds &__image {
        @include sm {
            width: calc(33% - 36px);
        }
    }
    &--thirds &__copy {
        @include sm {
            width: calc(66% - 36px);
        }
    }

}

