//// Widget Product w Add to Cart ////

// Button with Title and Description on a box bg //

// Here's an example of a product widget where it's possible to set a range of parameters
/*
{{widget type="evalent_addtocart/button" product_id="162" button_text="Order" button_type="1" button_price="1" display_title="1" cta_title="Blood Test XL" display_subtitle="1" cta_subtitle="Understand your health with 33 markers and doctor's comments." template="evalent/addtocart/cta-button.phtml"}}
 */

.widget-cta {
    padding: 36px 18px;
    background-color: $grey05;
    border: 1px solid $grey15;
    border-radius: 5px;
    text-align: center;
    @include sm {
        padding: 48px 36px;
    }

    h3 {
        max-width: 600px;
        margin: 0 auto 24px;
        font-size: 22px;
        font-weight: 700;
        @include sm {
            font-size: 24px;
        }
        @include lg {
            font-size: 26px;
        }

        a {
            color: $oceanBlue;
        }
    }

    .widget-button {
        margin-bottom: 24px;

        button {
            @include xxs {
                margin: 0 24px 0 0;
            }
        }

        &__price {
            color: $grey;
            font-size: 22px;
            font-weight: 600;
        }
    }

    p {
        max-width: 600px;
        margin: 0 auto;

        a {
            text-decoration: underline;
        }
    }
}



// Button only version //

// Here's an example of the product widget, button-only version with price. Button and price are vertical on mobile and
// horisontal on tablet up.
/*
{{widget type="evalent_addtocart/button" product_id="186" button_text="Order Thyroid XL" button_type="0" button_price="1" template="evalent/addtocart/cta-button.phtml"}}
*/

.widget-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include xxs {
        flex-direction: row;
        justify-content: center;
    }

    button {
        margin-bottom: 24px;
        @include xxs {
            margin: 0 24px;
        }
    }

    .regular-price .price,
    &__price {
        color: $grey;
        font-size: 22px;
        font-weight: 600;
    }
}