//// The Bootstrap Alert component with added persitent dismiss and ofc, better looks :)

.alert {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 100px;
    margin-bottom: 0;
    background-color: $blueLightest;
    color: $blueDarkest;
    &-dismissable {
        padding: 20px 0 0;
    }
    @include sm {
        min-height: 80px;
        padding: 0;
    }

    .w-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 680px;
        @include sm {
            flex-direction: row;
            justify-content: space-between;
        }
        @include md {
            max-width: none;
        }
    }

    &__icon {
        display: none;
        .wicon {
            color: $blueDarkest;
            font-size: 26px;
        }
        @include sm {
            display: block;
        }
    }
    &__message {
        max-width: 500px;
        margin: 0 auto;
        line-height: 1.2;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        p:last-of-type {
            margin-bottom: 0;
        }
        + .alert__action {
            margin-top: 10px;
        }

        @include sm {
            padding: 0 15px;
            line-height: 1.3;
            font-size: 15px;
            + .alert__action {
                margin: 0;
            }
        }
    }

    &__close {
        position: absolute;
        top: 12px;
        right: 12px;
        padding: 0;
        opacity: 1;
        background: none;
        border: 0;
        color: $blueDarkest;
        font-size: 14px;
        font-weight: 300;
        &:hover {
            font-weight: 500;
            .wicon:before {
                content: '\f017';
            }
        }

        @include xs {
            font-size: 16px;
        }
        @include sm {
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            font-size: 18px;
        }
    }

    &--inboundpromotions {
        .opc-index-index & {
            display: none;
        }
    }
}