.social {
    &__links {
        display: flex;
    }
    &__link {
        position: relative;
        width: 32px;
        height: 32px;
        //background-color: #fff;
        border-radius: 17px;
        @include wicon(32px);

        &:before {
            position: absolute;
            top: -5px;
            left: 0;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }
        &--facebook {
            @include facebook();
        }
        &--twitter {
            @include twitter();
        }
        &--linkedin {
            @include linkedin();
        }
    }
}