//// components.tests ////

// The Werlabs Health Test product //
.test--product {
     max-width: 718px;
     margin: 0 auto;
     padding: 36px 30px 60px;
     background: #fff url('../images/test-product-ripple.svg') no-repeat left bottom / auto 79px;
     box-shadow: 0 2px 10px 0 rgba(#96ABB6,0.08);
     border: 1px solid rgba(#E8E7E3,0.5);
     border-radius: 8px;
     text-align: center;
     @include ie {
         background: none;
     }

     &__icon {
         width: 126px;
         margin: 0 auto 24px;
     }

     &__title {
         margin-bottom: 24px;
         font-size: 32px;
         font-weight: 600;
         a {
             color: $grey90;
         }
     }

     &__copy {
         max-width: 525px;
         margin: 0 auto 36px;
     }

     &__price {
         display: block;
         margin-bottom: 36px;
         color: $grey;
         font-size: 38px;
         font-weight: 600;

         span {
             font-size: 14px;
             font-weight: 400;
         }
     }

     .button--primary {
         color: $pineGreen;
     }
 }


.test--product-order {
    width: 735px;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 45px 40px 45px;
    background: url(../images/ripples-transparent.png) no-repeat left top;
    background-size: 220%;
    box-shadow: 0 2px 10px 0 rgba(#96ABB6,0.08);
    border: 1px solid rgba(#E8E7E3,0.5);
    border-radius: 8px;
    text-align: center;
    @include sm {
        padding: 75px 120px;
        background: url(../images/ripples-transparent.png) no-repeat left -20px;
        background-size: contain;
    }

    @include ie {
        background: none;
    }

    &__title {
        margin-bottom: 50px;
        font-size: 28px;
        line-height: 34px;
        font-weight: 500;
        color: white;
    }

    &__price {
        display: block;
        color: white;
        font-size: 24px;
        font-weight: 700;
        margin-top: 15px;
        @include sm {
            display: inline-block;
            font-size: 28px;
            margin-top: 0;
            margin-left: 20px;
        }
    }

    .button--primary {
        color: $peach;
    }
}


// Werlabs individual tests //
.test {
    padding-top: 18px;
    box-shadow: 0 2px 10px 0 rgba(#96ABB6,0.08);
    border: 1px solid $grey15;
    border-radius: 8px;
    @include xxs {
        padding-top: 24px;
    }

    > [class^="test__"] {
        padding-left: 18px;
        padding-right: 18px;
        @include xxs {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    &__title {
        a {
            color: $grey;
            font-size: 28px;
            &:hover,
            &:focus {
                color: $grey;
            }
        }
    }

    &__description {
        margin-bottom: 0;
        padding-bottom: 12px;
        border-bottom: 1px solid $grey15;
        color: $grey90;
        font-size: 16px;

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    &__markers {
        padding: 18px 0 12px;

        p:first-of-type {
            margin-bottom: 8px;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1.4px;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;
        border: 1px solid $grey15;
        border-width: 1px 0;
    }

    &__price {
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 700;
    }

    &__readmore {
        padding: 6px 0;
        text-align: center;

        a {
            color: $peach;
        }
    }
}


// Tests together
.tests {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 345px;
    margin: 0 auto;
    @include sm {
        max-width: 720px;
    }
    @include md {
        max-width: 743px;
    }
    @include ie {
        width: 743px;
    }

    .test {
        max-width: 345px;
        margin-bottom: 24px;
        @include sm {
            display: flex;
            flex-direction: column;

            &__actions {
                margin-top: auto;
            }
        }
        @include md {
            margin-bottom: 48px;
        }
        @include ie {
            width: 345px;
        }

        &:last-of-type {
            @include sm-max {
                margin-bottom: 0;
            }
        }
    }
}


// The individual Tests Group //
.test-category {
    display: flex;
    min-height: 150px;
    padding: 20px;
    padding-right: 18px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(#96ABB6,0.08);
    border: 1px solid rgba(#E8E7E3,0.5);
    border-radius: 8px;
    @include phone {
        padding-right: 24px;
    }
    @include xs {
        padding-right: 18px;
    }

    &:hover,
    &:focus {
        box-shadow: 0 2px 20px 0 rgba(#96ABB6,0.3);
        border: 1px solid rgba(#E8E7E3,1);
        text-decoration: none;

        .test-category__icon {
            transform: scale(1.1);
        }
    }

    &__copy {
        width: 180px;
        @include sm {
            width: 200px;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
    }

    &__subtitle {
        margin-bottom: 0;
        color: $grey80;
        font-size: 16px;
    }

    &__icon {
        width: 60px;
        height: 60px;
        margin: auto 0 auto auto;
    }

    .lp-start & {
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            display: none;
        }
    }
}


// Tests Group icons //
.test-category__icon {
    border-radius: 100%;
    transition: all 0.2s;

    &--lightPeach {
        background: $lightPeach linear-gradient(45deg, $lightPeach, $lightPeach 50%, $lightPeach80 50%, $lightPeach80);
    }
    &--oceanBlue {
        background: $oceanBlue90 linear-gradient(45deg, $oceanBlue90, $oceanBlue90 50%, $oceanBlue70 50%, $oceanBlue70);
    }
    &--mintGreen {
        background: linear-gradient(45deg, $mintGreen, $mintGreen 50%, $mintGreen80 50%, $mintGreen80);
    }
    &--yellow {
        background: linear-gradient(45deg, $yellow105, $yellow105 50%, $yellow80 50%, $yellow80);
    }
    &--burgundy {
        background: linear-gradient(45deg, $burgundy90, $burgundy90 50%, $burgundy70 50%, $burgundy70);
    }
    &--beige {
        background: linear-gradient(45deg, $beige105, $beige105 50%, $beige80 50%, $beige80);
    }
    &--peach {
        background: linear-gradient(45deg, $peach, $peach 50%, $peach80 50%, $peach80);
    }
}


// Tests Groups presented together //
.test-categories {
    display: flex;
    flex-direction: column;
    max-width: 339px;
    margin: 0 auto;
    @include xs {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 726px;
    }

    .test-category {
        margin-bottom: 18px;
        transition: all 0.2s;
        @include xs {
            width: calc(50% - 9px);
            padding-right: 16px;
        }
        @include sm {
            width: calc(50% - 12px);
            margin-bottom: 24px;
            padding-right: 20px;
        }

        &:last-of-type {
            @include xs-max {
                margin-bottom: 0;
            }
        }
    }
}


// Block CTA
.block-cta {
    .test--product {
        max-width: initial;
        border-radius: 5px;
        position: relative;
        padding: 40px;
        padding-bottom: 180px;
        @include sm {
            padding: 50px 80px;
        }

        &__title {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        &__copy {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            margin-bottom: 28px;
        }
    }

    &--light {
        &.test--product {
            background-color: $grey05;
            background-image: url(../images/test-product-ripple-light-mobile.svg);
            background-size: contain;
            @include sm {
                padding-left: 280px;
                background-image: url(../images/test-product-ripple-light.svg);
                background-size: auto;
            }
            @include lg {
                padding-left: 330px;
            }

            &__logo {
                position: absolute;
                height: auto;
                width: 50px;
                left: 20px;
                bottom: 20px;
                @include sm {
                    width: 68px;
                    left: 30px;
                    bottom: 30px;
                }
            }
        }
    }

    &--green {
        &.test--product {
            background-color: $pineGreen;
            background-image: url(../images/test-product-people-green-mobile.png);
            text-align: left;
            background-position-x: right;
            background-size: cover;
            @include sm {
                background-image: url(../images/test-product-people-green.png);
                padding-right: 280px;
                text-align: center;
            }
            @include lg {
                background-size: auto;
                padding-right: 330px;
            }
            &__title {
                color: #fff;
                font-size: 32px;
                @include sm {
                    font-size: 28px;
                }
            }

            &__copy {
                color: #fff;
            }

            & a.button--primary {
                color: $peach;
            }

            & * {
                position: relative;
                z-index: 1;
            }

            &__image {
                position: absolute;
                z-index: 0;
                left: 0;
                top: 0;
                width: 95%;
                @include sm {
                    width: auto;
                }
            }
        }
    }
}


// Blood tests FROM UK BIBI

// Layout
.blood-tests {
    @include sm-max {
        max-width: 356px;
        margin: 0 auto;
    }
    @include sm {
        display: flex;
        justify-content: space-between;
        width: 720px;
        margin: 0 auto;
        &--two,
        &--three {
            .blood-test {
                width: calc(50% - 12px);
            }
        }
    }
    @include sm-to-lg {
        &--three .blood-test:last-of-type {
            display: none;
        }
    }
    @include lg {
        &--two {
            width: 736px;

            .blood-test {
                width: calc(50% - 12px);
            }
        }
        &--three {
            width: auto;
            .blood-test {
                width: calc(33.3333% - (48px / 3));
            }
        }
    }
}


.blood-test {
    display: flex;
    flex-direction: column;
    &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &--single {
        max-width: 356px;
        margin: 0 auto;
    }

    &--widget {
        max-width: 400px;
        margin: 0 auto;
    }

    @include nogrid {
        &__info {
            // Fix flexbox vertically collapsing in IE
            min-height: 320px;
        }
    }
}


.blood-test {
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(150, 171, 182, 0.08);
    border: 1px solid rgba(232, 231, 227, 0.5);
    border-radius: 8px;

    @include sm-max {
        margin-bottom: 24px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    // Modifiers
    &--burgundy {
        color: $burgundy;
        a {
            color: $burgundy;
        }

        .blood-test__ribbon {
            background-color: $yellow;
            color: $grey;
        }
    }

    &--ocean-blue {
        color: $oceanBlue;
        a {
            color: $oceanBlue;
        }
    }

    &--pine-green {
        color: $pineGreen;
        a {
            color: $pineGreen;
        }
    }

    &--peach {
        color: $peach;
        a {
            color: $peach;
        }
    }

    @include sm-max {
        + .blood-test--has-ribbon {
            margin-top: 51px;
        }
    }

    &--has-ribbon {
        position: relative;
        @include sm-max {
            margin-top: 27px;
            + .blood-test--has-ribbon {
                margin-top: 51px;
            }
        }
    }

    &--has-disclaimer {
        position: relative;
        @include sm-max {
            margin-bottom: 72px;
            + .blood-test--has-ribbon {
                margin-top: 111px;
            }
        }

        &.blood-test--single {
            margin-bottom: 24px;
            @include md-max {
                margin-bottom: 48px;
            }
        }
    }


    // Sub elements
    &__ribbon {
        position: absolute;
        top: -27px;
        padding: 8px 16px;
        background-color: $lightPeach;
        border-radius: 4px 4px 0 0;
        color: #fff;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.1px;
    }

    &__header {
        padding: 24px;
        background-color: currentColor;
        border-radius: 8px 8px 0 0;
    }

    &__type {
        margin-bottom: 6px;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }

    h3 {
        color: #fff;
        font-size: 24px;
        @include phone-max {
            font-size: 20px;
        }

        a {
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 0;
        line-height: 1;
        color: #fff;
        font-size: 32px;
        font-weight: 600;
        @include phone-max {
            font-size: 22px;
        }

        &--old {
            color: rgba(white, 0.75);
            font-size: 22px;
            font-weight: 400;
            text-decoration: line-through;
            @include phone-max {
                font-size: 18px;
            }
        }
    }

    &__info {
        padding: 36px 24px 12px;
    }

    &__usps {
        margin-bottom: 24px;
        color: $grey;
        flex: 1;
        li {
            position: relative;
            margin-bottom: 12px;
            padding-left: 36px;
            line-height: 1.7;
            &:last-of-type {
                margin-bottom: 0;
            }
            &:before {
                padding-top: 4px;
                position: absolute;
                left: 0;
                @include wicon();
                content: '\f029';
                font-size: 15px;
            }
        }

        a {
            color: $peach105;
            &:hover {
                color: $lightPeach;
                text-decoration: none;
            }
        }

        .usp--excluded {
            color: $grey50;
            &:before {
                content: '';
            }
        }
    }

    button[class^=button--] {
        width: 100%;
        margin-top: auto;
    }

    .button--secondary {
        margin-bottom: 12px;
    }

    &__disclaimer {
        position: absolute;
        bottom: -44px;
        width: 100%;
        margin-bottom: 0;
        text-align: center;
        color: $grey70;
        font-size: 11px;
        @include xxs {
            padding: 0 12px;
        }

        a {
            color: $peach105;
        }
    }
}


// Tests in a carousel
.blood-tests--carousel {
    width: 826px;
    max-width: 100%;
    justify-content: space-between;

    .blood-test--holder {
        @include sm {
            width: calc(50% - 18px);
            padding: 0;
        }

        &:first-child {
            padding-right: 5px;
        }

        &:last-child {
            padding-left: 5px;
        }
    }

    .blood-test {
        width: 85vw;
        height: 500px;
        @include phone {
            height: 530px;
        }
        @include sm-max {
            max-width: 400px;
        }
        @include sm {
            width: 100%;
            height: 560px;
        }
        @include md {
            height: 540px;
        }

        &__header {
            padding: 16px;
            @include phone {
                padding: 24px;
                padding-bottom: 20px;
            }
        }

        h3 {
            margin-bottom: 8px;
            font-size: 22px;
            @include phone {
                font-size: 24px;
            }
            @include sm {
                margin-bottom: 12px;
            }
            @include md {
                font-size: 28px;
            }
        }

        &__price {
            font-size: 24px;
            margin-bottom: 0 !important;
            @include phone {
                font-size: 26px;
            }
            @include sm {
                font-size: 28px;
            }
        }

        &__info {
            padding: 20px 16px 12px;
            @include phone {
                padding: 24px 20px 12px;
            }
            @include sm {
                padding: 36px 24px 12px;
            }
        }

        &__usps {
            margin-bottom: 6px;
            @include sm {
                margin-bottom: 24px;
            }

            li {
                line-height: 1.5;
                font-size: 15px;
                margin-bottom: 10px;
                @include phone {
                    font-size: 16px;
                }
                @include sm {
                    line-height: 1.6;
                }
            }
        }

        .button--secondary {
            margin-bottom: 6px;
        }
    }

    .slick-dots {
        margin: 24px 0 0;
    }
}


.w-container.mobile-full {
    @include sm-max {
        padding-left: 0;
        padding-right: 0;
    }
}

.blood-test--premium {
    position: relative;
    overflow: hidden;
}

.premium-product--title {
    position: relative;
    display: inline-block;
}


h3.premium-product--title {
    padding-right: 65px;
    @include phone {
        padding-right: 75px;
    }
    @include sm {
        padding-right: 90px;
    }

    img {
        position: absolute;
        width: 64px;
        top: -10px;
        right: 0;
        @include phone {
            width: 74px;
        }
        @include sm {
            width: 88px;
            top: -12px;
        }
    }
}

h1.premium-product--title {
    margin-bottom: 24px;
    @include sm {
        padding-right: 130px;
    }

    img {
        width: 130px;
        height: auto;
        @include sm {
            position: absolute;
            top: -25px;
            right: 0;
        }
    }
}

h2.premium-product--title {
    font-size: 36px !important;
    margin-bottom: 24px;
    @include sm {
        padding-right: 130px;
    }

    img {
        width: 130px;
        height: auto;
        @include sm {
            position: absolute;
            top: -25px;
            right: 0;
        }
    }
}

.premium-product--badge {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 45px;
    height: auto;
    @include phone {
        width: 60px;
    }
    @include sm {
        width: 70px;
    }
}

ul.markers li.premium-mobile {
    display: inline-block;
    @include sm {
        display: none;
    }

    &.full-width {
        display: block;
        @include sm {
            display: none;
        }
    }

    h5 {
        text-transform: uppercase;
        text-align: center;
        margin-top: 10px;
        line-height: 1.4;
        margin-bottom: 4px;
        letter-spacing: 1.4px;
    }
}

ul.markers li.premium-desktop {
    display: none;
    @include sm {
        display: inline-block;
    }
}
