//// components.forms ////

.form-list {
    li {
        margin-bottom: 18px;
    }

    .control {
        input.checkbox,
        input.radio {
            float: left;
            margin: 0;
        }

        label {
            float: left;
            display: inline;
            padding: 0;
            margin: 1px 0 0 6px;
            line-height: 18px;
            cursor: pointer;
        }
    }

    .fields {
        @include xs {
            display: flex;
        }
    }

    .field {
        @include xs-max {
            margin-bottom: 18px;
        }
        @include xs {
            width: 50%;

            &:first-of-type {
                padding-right: 12px;
                &:last-of-type {
                    padding: 0;
                }
            }
            &:last-of-type {
                padding-left: 12px;
            }
        }
    }

    textarea {
        width: 100%;
        height: auto;
    }
}


.form-control,
.form-language select,
.form-list select,
.form-list textarea,
.input-text,
input.input-text,
.multiple-checkout
.data-table select,
.my-wishlist textarea,
.product-options dd .input-text,
.product-options dd select,
.product-options dd textarea {
    box-shadow: none;
    background-color: #fff;
    border-color: $grey30;
    border-radius: 0;
    font-size: 16px;
    &:focus {
        box-shadow: none;
        background-color: #fff;
        border-color: $oceanBlue;
        outline: -webkit-focus-ring-color auto 0;
        outline-offset: 0;
        outline: 0;
    }
    .footer-container & {
        border-color: #fff;
        &:focus {
            border-color: $oceanBlue;
        }
    }
}


input.input-text {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    border: 1px solid $grey30;

    &:disabled {
        color: $grey60;
    }
}


label {
    position: relative;
    font-weight: 500;

    em {
        position: absolute;
        right: -12px;
    }
}


.validation-failed {
    border-color: $grayLightest !important;
    &:focus {
        border-color: $blueDarkest !important;
        box-shadow: none !important;
    }
}
.validation-advice {
    margin: 5px 0 0 5px;
    color: $errorColor !important;
    .opc-wrapper-opc & {
        color: $errorColor !important;
    }
}


input[type=checkbox].checkbox {
    position: relative;
    float: left;
    display: inline-block !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px !important;
    margin: 0;
    padding: 0;
    background-color: $grayLightester;
    border: 1px solid $grayLight;
    border-radius: 2px;
    line-height: 18px;
    color: $blue;
    cursor: pointer;
    &:checked:after {
        position: absolute;
        left: 2px;
        top: 3px;
        @include wicon(12px);
        content: '\f02a';
    }
    &:focus {
        outline: -webkit-focus-ring-color auto 0;
        outline-offset: 0;
    }
    + label {
        margin-left: 9px;
        line-height: 1;
        cursor: pointer;
    }
}


input[type=radio].radio {
    position: relative;
    float: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px !important;
    height: 18px !important;
    margin: 0;
    padding: 0;
    background-color: $grayLightester;
    border: 1px solid $grayLight;
    border-radius: 100%;
    cursor: pointer;
    &:checked:after {
        position: absolute;
        width: 8px;
        height: 8px;
        left: 4px;
        top: 4px;
        content: '';
        background-color: $blue;
        border-radius: 100%;
    }
    &:focus {
        outline: -webkit-focus-ring-color auto 0;
        outline-offset: 0;
    }
    + label {
        margin-left: 6px;
        cursor: pointer;
    }
}


input[type=number] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }
    -moz-appearance: textfield;
}