//// Login elements

.login-block {

    text-align: center;

    &__title {

    }

    &__main {

        //padding-bottom: 48px;

        .account__action {
            display: flex;
            flex-direction: column;
            align-items: center;

            .button--primary {

                + .button--secondary {
                    margin-top: 24px;
                }
            }
        }
    }

    &__footer {
        padding-top: 24px;
        margin-top: 36px;
        border-top: 1px solid $grey20;
    }

    .input-boxes {
        text-align: left;
        width: 100%;
        margin-top: 36px;
    }

    .input-box {

        text-align: left;

        .input-top {
            left: 0;
        }
    }

    &--bankid {

        .input-box {
            margin-bottom: 36px;
        }

    }
}



//DELETE ME start
.hidden-button {
    position: fixed;
    right: 20px;
    top: 100px;
    opacity: 0.5;
    font-weight: 700;
}
//DELETE ME end


//Page specific styles
.checkout-login-email {

    .wco-modal__important-links {

        margin-top: 40px;
        font-size: 16px;

        h6 {
            font-size: 18px;
        }

    }

}

.checkout-cart-index {

    .login-block {

        h1 {
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 36px;
        }

    }

}

// Werlabs loader

.werlabs-loader {

    margin: 36px auto;
    font-size: 8px;
    width: 0.8em;
    height: 0.8em;
    animation: spinner 1800ms infinite linear;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0) 1.5em 0 0 0, rgba(0, 0, 0, 0.15) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.3) 0 1.5em 0 0, rgba(0, 0, 0, 0.45) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.6) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.9) 0 -1.5em 0 0, rgba(255, 110, 91, 1) 1.1em -1.1em 0 0;

}

@mixin animation-spinner-keyframe() {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    @include animation-spinner-keyframe();
}

@-moz-keyframes spinner {
    @include animation-spinner-keyframe();
}

@-o-keyframes spinner {
    @include animation-spinner-keyframe();
}

@keyframes spinner {
    @include animation-spinner-keyframe();
}


.on-purchase-screen {
    display: none;
}