// Resp. video
.video-container {
    position: relative;
    max-width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}