// <hr> with overlayed centered text/label //
// @Todo Works so so in IE

.hr-with-text {
    display: flex;
    margin: 36px 0;
    font-size: 16px;
    text-transform: none;
    @include ie {
        display: block;
        text-align: center;
    }

    &:before,
    &:after {
        content: '';
        flex: 1 1;
        border-bottom: 1px solid $grey20;
        margin: auto;
    }

    span {
        padding: 0 18px;
    }
}