//// components.markers ////

.markers {
    margin-bottom: 0;

    li {
        display: inline-block;

        > a,
        > span {
            display: inline-flex;
            align-items: center;
            height: 34px;
            margin: 9px 12px 9px 0;
            padding: 0 18px;
            border-radius: 17px;
            color: $grey80;
            font-size: 14px;
        }

        > a {
            background-color: $grey15;
            color: $grey90;
            transition: 0.2s;

            &:hover,
            &:focus {
                background-color: $lightPeach70;
                color: $grey;
                text-decoration: none;
            }

            &.premium-marker {
                background-color: $lightPeach30;

                &:hover,
                &:focus {
                    background-color: $lightPeach70;
                }

                &.inactive {
                    opacity: 0.5;

                    &:hover,
                    &:focus {
                        background-color: $lightPeach30;
                    }
                }
            }
        }

        &:last-of-type:not(:first-of-type) {
            a:last-of-type {
                margin-right: 0;
            }
        }
    }
}