//// components.pagination ////

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    @include media-max(sm) {
        flex-wrap: wrap;
    }
}

.pagination-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-max(sm) {
        order: 1;
        width: 100%;
        margin-top: 12px;
    }

    ol {
        display: flex;
        align-items: center;
        margin-top: 12px;
    }

    li {
        padding: 0 8px;
        font-size: 22px;

        &.current {
            font-weight: 500;
        }

        &.previous {
            padding: 0 12px 0 0;
        }

        &.next {
            padding: 0 0 0 12px;
        }
    }
}

.pagination-limit {
    min-width: 100px;
}